.contentContainer {
  font-size: 27px;
  line-height: 34px;
  margin-bottom: 13px;
  width: 100%;
  float: left;
}

@media (--sm-viewport) {
  .contentContainer {
    font-size: 23px;
    margin-bottom: 20px;
  }
}
