.groupWrapper {
  width: 73.7rem;
  display: grid;
  grid-gap: 3rem;
}

@media screen and (max-width: 1920px) {
  .groupWrapper {
    width: 76.4rem;
  }
}

@media screen and (max-width: 768px) {
  .groupWrapper {
    width: 35.5rem;
  }
}
