.sendAllFundsIcon {
  grid-column: 2;
  grid-row: 2;
  margin-left: 170px;
}
.sendIconWrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
}
.sendIconWrapper.walletIcon {
  background-image: var(--send-all-default);
}
.sendIconWrapper.walletIcon:hover {
  background-image: var(--send-all-hover);
}
.sendIconWrapper.walletIcon.disabled {
  background-color: var(--background-back-color);
  background-image: var(--send-all-disabled);
  cursor: auto;
}
.sendIconWrapper.cancelIcon {
  background-image: var(--indicator-invalid-icon);
}

.sendIconWrapper.cancelIcon:hover {
  opacity: 0.85;
}
.tooltipSendAll {
  width: max-content;
  text-align: center;
}
@media (--sm-viewport) {
  .sendAllFundsIcon {
    grid-row: 3;
  }
}
