.warning {
  column-count: 2;
  max-width: 48em;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 1em;
  color: var(--new-wallet-label);
}

.warning p {
  margin-top: 0;
}

.warning em {
  color: var(--error-text-color);
}

.warning strong {
  color: var(--title-text-and-button-background);
}

.copy {
  grid-column: 4 / 6;
  height: 24px;
  color: var(--input-color);
  border: 1px solid var(--input-color);
  border-radius: 3px;
  margin: 4px;
  font-size: 13px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy:hover {
  opacity: 0.8;
}

.seedArea {
  align-items: initial;
}

@media (--sm-viewport) {
  .copy {
    grid-column: 1 / 4;
    background-position: 80px;
    text-align: center;
  }
}
