.noTickets {
  font-size: 13px;
  background-size: 30px 30px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: var(--ticket-voted-grey-icon);
  padding-left: 40px;
  flex-basis: 75%;
}
