.modalChaninfo {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.capacity {
  font-size: 32px;
  padding-top: 10px;
}

.node {
  grid-column: 1 / 3;
}

.channelStatusWrapper {
  display: flex;
  margin-top: 0.5em;
}

.openChannel {
  margin-top: 1em;
  background-color: var(--background-back-color);
  padding: 1em 1em 1em 3em;
}

.channelActive {
  border-left: 10px solid var(--accent-color);
}

.channelInactive {
  border-left: 10px solid var(--error-red);
}

.dataWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-right: 2em;
}

.peerBalances {
  text-align: right;
  padding-top: 10px;
}

.peerBalances > div > div {
  display: inline;
  margin-left: 10px;
}

.remotePubkey {
  color: var(--input-color-disabled);
  margin-top: -15px;
}
