.linkCount {
  position: absolute;
  border: 1px solid var(--settings-desc);
  background-color: var(--tooltip-container);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  line-height: 14px;
  font-size: 9pt;
  text-align: center;
}

.tabsHeader {
  background-color: var(--governance-tab-bg);
  padding: 0;
}

.tabs {
  margin: 0;
  padding: 0 60px 0 96px;
  background-color: var(--governance-tab-bg);
}

.tabContent {
  padding: 0;
  top: 30px;
  height: 100%;
}

.tabContent > div {
  height: 100%;
}

.links {
  margin-left: 40px;
}

.politeiaButton {
  font-size: 13px !important;
  line-height: 17px !important;
  border-radius: 5px !important;
  padding: 6px 10px !important;
  margin: 15px 0 0 0 !important;
  color: var(--info-modal-button-text) !important;
  background-color: var(--politeia-button-bg) !important;
  border: 0 !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}

.politeiaButton:hover {
  opacity: 0.85;
}

.refreshProposals {
  margin-left: 10px;
}

.refreshProposalsTooltip {
  display: flex !important;
}

.refreshProposalsTooltipContent {
  width: max-content;
  font-size: 16px;
}

.politeiaDisabled {
  padding: 38px 60px 30px 63px;
}

.politeiaDisabledMsg {
  padding-bottom: 24px;
}

.proposalsLink {
  color: var(--link-color) !important;
  cursor: pointer;
}

@media (--bg-viewport) {
  .tabs {
    margin-left: 0;
    padding-left: 55px;
  }

  .politeiaDisabled {
    padding-left: 20px;
  }

  .links {
    margin-left: 44px;
  }
}

@media (--sm-viewport) {
  .tabs {
    margin-left: 0;
    padding-left: 20px;
  }
  .tab {
    margin-right: 25px;
  }
}
