.linkCount {
  position: absolute;
  border: 1px solid var(--settings-desc);
  background-color: var(--tooltip-container);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  line-height: 14px;
  font-size: 9pt;
}

.header {
  background-color: var(--disabled-background-color);
  color: var(--modal-text);
  padding-left: 103px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.title {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: 10px;
  color: var(--title-text-and-button-background);
}

.description {
  font-size: 13px;
  line-height: 19px;
  margin-top: 0;
  width: 560px;
}

.links {
  margin-left: 40px;
}

.links a {
  margin: 0 !important;
}

.politeiaButton {
  font-size: 13px !important;
  line-height: 17px !important;
  border-radius: 5px !important;
  padding: 6px 15px !important;
  margin: 4px !important;
  color: var(--info-modal-button-text) !important;
  background-color: var(--info-modal-button-bg) !important;
  border: 0 !important;
  text-decoration: none !important;
  box-shadow: 0 5px 13px var(--icons-shadow);
}

.politeiaButton:hover {
  background-color: var(--title-text-and-button-background-hovered) !important;
}

.refreshProposals {
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: var(--proposals-refresh-icon);
  background-size: 24px 24px;
  cursor: pointer;
  position: relative;
  top: 6px;
  left: 6px;
}

.politeiaDisabled {
  padding: 38px 60px 30px 63px;
}

.politeiaDisabledMsg {
  padding-bottom: 24px;
}

.proposalsLink {
  color: var(--button-text) !important;
}

@media screen and (max-width: 1179px) {
  .politeiaDisabled {
    padding-left: 20px;
  }

  .header {
    padding-left: 35px;
  }

  .links {
    margin-left: 44px;
  }
}
