.modal {
  background-image: none;
  padding: 30px 40px;
  width: 764px;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  min-height: 335px;
}
.modalHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background-image: var(--x-grey);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.title {
  font-size: 28px;
  color: var(--grey-7);
  line-height: 35px;
}
.tableHeader tr th {
  position: sticky;
  top: 0;
  color: var(--main-dark-blue);
  font-size: 16px;
  font-weight: 600;
}
.tableBody tr td {
  color: var(--main-dark-blue);
  font-size: 16px;
  font-weight: 400;
}
.balanceNameUnit {
  font-size: 16px;
  font-weight: 400;
}
.balanceSecondary {
  color: var(--grey-5);
  font-size: 16px;
  font-weight: 400;
}
.accountSelect {
  font-size: 16px;
  width: 220px;
}
.tableHeader tr th:first-child,
.tableBody tr td:first-child {
  width: 35em;
}

.tableWrapper {
  max-height: 626px;
  overflow-y: auto;
}
.tableHeader tr th,
.tableWrapper::-webkit-scrollbar {
  background-color: var(--grey-2);
}
