.lnSendPayment {
  background-color: var(--background-back-color);
  padding: 1em 2em;
  margin-bottom: 4em;
  min-height: 18em;
}

.decodingError {
  margin-top: 2em;
  color: var(--error-red);
}

.decodedPayreq {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 10px;
}

.description {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.destDetails {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 1em;
  color: var(--stroke-color-hovered);
}

.numAtoms {
  font-size: 32px;
  align-self: center;
}

.expiry {
  align-self: center;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.lnPaymentsList {
  margin-bottom: 1em;
}

.lnPayment > .spinner {
  align-self: center;
}

.lnPayment {
  margin-top: 1em;
  background-color: var(--background-back-color);
  padding: 1em 1em 1em 3em;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  min-height: 40px;
}

.paymentError {
  grid-column: 1 / 3;
  color: var(--error-message-color);
}

.spinner {
  align-self: center;
  background-color: var(--checkbox-stroke-color);
}

.value { font-size: 32px; }

.rhash {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 10em;
  color: var(--stroke-color-default);
}

.balanceHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.balanceTile {
  padding: 30px;
  background-color: var(--background-back-color);
  width: 400px;
  flex: 0 1 28em;
}

.balanceValue { font-size: 32px; }
.hasOutbound { border-bottom: 10px solid var(--link-color); }
.zeroFunds { border-bottom: 10px solid var(--error-red); }

.paymentDetails {
  word-break: break-all;
  background-color: var(--background-back-color);
  padding: 1em;
}

.paymentDetailsGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.verticalAccordionArrow {
  transform: rotate(180deg);
  top: 30px;
  right: 30px;
}

.htlc {
  padding-top: 1em;
}

.paymentRouteGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.copyableText span {
  font-size: 14px;
  background: none;
  padding: 0;
}
