.content {
  margin-left: 90px;
  margin-top: 48px;
  width: 500px;
}

.subtitle {
  font-size: 27px !important;
}

.passphraseModal {
  width: 500px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 20px;
}

.description {
  margin-bottom: 2rem;
}

.buttonWrapper {
  margin-top: 10px;
  text-align: right;
}

.vsps {
  margin: 1rem 0 2rem 2rem;
  font-weight: 600;
  list-style-type: none;
}

.vsps > li,
.preference > li {
  padding: 0 0 0 17px;
  background-image: var(--arrow-right-gray-icon);
  background-repeat: no-repeat;
  background-size: 5px;
  background-position: 0;
}

.preference {
  list-style-type: none;
  margin: 1rem 0 4rem 1rem;
  align-items: center;
  font-weight: 600;
}

.preference > li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.preference > li > div {
  width: 14rem;
}

.preference span {
  margin-left: 10px;
  padding: 4px 10px;
  border-radius: 5px;
  color: var(--agenda-preference);
  background-color: var(--color-blue-lighter);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
}
