.container {
  width: 764px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: initial;
}

.desc {
  width: 400px;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 30px 0;
  color: var(--main-dark-blue);
}

@media (--sm-viewport) {
  .container {
    width: 35.5rem;
  }
}
