.container {
  width: 764px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: initial;
}

.desc {
  width: 400px;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 30px 0;
  color: var(--main-dark-blue);
}

.tabs {
  overflow: hidden !important;
  height: 36px !important;
}

.tab {
  margin-right: 5px !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
  cursor: default !important;
}

.tabLabelContent {
  padding: 0 10px;
  font-size: 13px;
  line-height: 16px;
  color: var(--main-dark-blue);
  background-color: var(--background-back-color);
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 164px;
}

.tab:hover,
.tab:hover .tabLabelContent {
  color: var(--main-dark-blue) !important;
}

.tabLabelContent strong {
  padding-right: 5px;
}

.tabLabelContent .label {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tabLabelContent.checked {
  background-image: var(--blue-checkmark);
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-position: right 15px center;
}

.tabLabelContent.active {
  background-color: var(--ln-active-tab-bg);
  color: var(--ln-active-tab-color);
}

.tabsContainer {
  display: flex;
  flex-direction: row;
}
.tabsContainer .tabButton {
  width: 40px;
  min-width: 40px;
  height: 36px;
  background-color: var(--ln-nav-button-bg);
  border: none;
  outline: none;
  cursor: pointer;
}
.tabsContainer .tabButton:hover {
  background-color: var(--grey-5);
}
.tabsContainer .tabButton .icon {
  width: 10px;
  height: 10px;
  background-image: var(--menu-arrow-up);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}
.tabsContainer .tabButton.previous:hover .icon {
  background-image: var(--arrow-left-white);
  transform: rotate(0deg);
}
.tabsContainer .tabButton.previous .icon {
  transform: rotate(-90deg);
}
.tabsContainer .tabButton.next:hover .icon {
  background-image: var(--arrow-left-white);
  transform: rotate(180deg);
}
.tabsContainer .tabButton.next .icon {
  transform: rotate(90deg);
}
.tabsContainer .tabButton.previous {
  margin-right: 5px;
}
.tabsContainer .tabButton.next {
  margin-left: 5px;
}
.tabsContainer .tabButton.disabled {
  cursor: default;
  background-color: var(--ln-nav-button-bg);
}
.tabsContainer .tabButton.disabled .icon {
  opacity: 0.5;
}
.tabsContainer .tabButton.disabled:hover {
  background-color: var(--ln-nav-button-bg);
  color: var(--main-dark-blue);
}
.tabsContainer .tabButton.disabled.previous:hover .icon {
  background-image: var(--menu-arrow-up);
  transform: rotate(-90deg);
}

.tabsContainer .tabButton.disabled.next:hover .icon {
  background-image: var(--menu-arrow-up);
  transform: rotate(90deg);
}

.tabContent {
  position: absolute;
  top: 40px;
}
.tabContentWrapper {
  position: relative;
  padding: 30px 0;
  background-color: var(--background-back-color);
  width: 764px;
}

.tabDesc {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--main-dark-blue);
  padding: 0 10rem;
  max-width: initial;
}

.unavailableAlert {
  padding: 0 182px 10px 182px;
  text-align: center;
}

.tabTitle {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: var(--main-dark-blue);
  margin-bottom: 10px;
  font-weight: 600;
  padding: 0 10rem;
}

.stepIndicator {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey-5);
}

.tabContent .bottomGrid {
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  align-items: center;
  justify-items: center;
}
.tabContent .bottomGrid .image {
  width: 580px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.slideImage1 {
  background-image: var(--ln-slide1);
}

.slideImage2 {
  background-image: var(--ln-slide2);
}

.slideImage3 {
  background-image: var(--ln-slide3);
}

.slideImage4 {
  background-image: var(--ln-slide4);
}

.slideImage5 {
  background-image: var(--ln-slide5);
}

.slideImage6 {
  background-image: var(--ln-slide6);
}

.tabContent .arrow {
  width: 30px;
  height: 30px;
  background-image: var(--ln-wallet-creation-warning-arrow);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.tabContent .arrow.next {
  transform: rotate(180deg);
}
.tabContent .arrow:hover {
  opacity: 0.5;
}
.tabContent .arrow.disabled {
  cursor: default;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .container,
  .tabContentWrapper {
    width: 35.5rem;
  }

  .tabContent .bottomGrid {
    grid-template-columns: 1fr 25rem 1fr;
  }

  .tabContent .bottomGrid .image {
    width: 25rem;
    height: 20rem;
  }

  .tabTitle,
  .tabDesc {
    padding: 0 5rem;
  }
}
