{
  "presets": ["env", "stage-0", "react", "flow"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "./scripts/aliasDefaultMessage.js",
    ["react-intl", {"messagesDir": "app/i18n/extracted"}]
  ],
  "ignore": [
    "app/middleware/walletrpc/*.js"
  ]
}
