*~
app/dist/
app/trezor-prebuild/build/
app/main.js
app/main.js.map
app/i18n/lib/
node_modules/
npm-debug.log
public/js/bundle.js
release/
jsconfig.json
app/middleware/walletrpc/api_pb.js
app/middleware/walletrpc/api_grpc_pb.js
app/middleware/ln/google/api
app/middleware/ln/rpc_grpc_pb.js
app/middleware/ln/rpc_pb.js
app/middleware/ln/walletunlocker_grpc_pb.js
app/middleware/ln/walletunlocker_pb.js
app/middleware/ln/wtclient_grpc_pb.js
app/middleware/ln/wtclient_pb.js
app/middleware/ln/invoices_grpc_pb.js
app/middleware/ln/invoices_pb.js
app/middleware/ln/autopilot_grpc_pb.js
app/middleware/ln/autopilot_pb.js
