*~
app/dist/
app/dist-trezor/
app/main.js
app/main.js.map
app/main.js.LICENSE.txt
app/*.node
node_modules/
npm-debug.log
public/js/bundle.js
release/
jsconfig.json
bin/
.DS_Store
.vagrant
dist/
app/i18n/extracted/app
/*.node
coverage/
.yarncache/
deps-graphs
modules/dex/libdexc/libdexc
.idea
