{
  "extends": "stylelint-config-recommended",

  "rules": {
      "length-zero-no-unit": null,
      "shorthand-property-no-redundant-values": null,
      "no-descending-specificity": null,
      "at-rule-no-unknown": null,
  }
}
