.logs {
  margin: 30px 42px 30px 40px;
}

.logArea {
  background-color: var(--background-back-color);
  color: var(--title-text-and-button-background);
  width: 100%;
  margin-top: 15px;
  padding-bottom: 5px;
}

.logArea:nth-of-type(1n) {
  margin-top: 8px;
}

textarea {
  font-family: var(--font-family-monospace);
  font-size: 11px;
  resize: none;
  width: 100%;
  background-color: var(--background-back-color);
  border: none;
  color: var(--modal-text);
  white-space: pre-line;
}

.title {
  padding: 15px 0 15px 40px;
  margin-right: 20px;
  font-size: 18px;
  background-position: right center;
  background-size: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.title.expanded {
  background-image: var(--arrow-down-mid-blue-icon);
}

.title.expanded:hover {
  background-image: var(--arrow-down-key-blue-icon);
}

.title.hidden {
  background-image: var(--arrow-right-gray-icon);
  background-size: 5px;
}

.title.hidden:hover {
  background-image: var(--arrow-right-key-blue-icon);
  background-size: 5px;
}

@media (--bg-viewport) {
  .logArea {
    width: 667px;
  }

  .title {
    padding-left: 35px;
  }
}

@media (--sm-viewport) {
  .logs {
    margin: 30px 20px;
  }

  .logArea {
    width: 355px;
    margin-left: 0;
  }

  .title {
    padding-left: 20px;
  }
}
