.pageBody {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

.pageBody.getstarted {
  position: relative;
  padding: 40px;
  display: block;
  background-color: var(--background-container);
  z-index: 3;
  overflow-x: hidden;
  color: var(--title-text-and-button-background);
}

.pageBody.getstarted::before {
  content: "";
  width: 100%;
  height: 33px;
  top: 0;
  left: 0;
  display: block;
  background-repeat: no-repeat;
  background-image: var(--launcher-logo);
  background-size: 173px;
  background-position: 0 0;
}

.pageBody.getstarted.testnetBody::before {
  background-image: var(--testnet-logo);
}

.pageBodyTop {
  position: absolute;
  top: 0;
  left: 0;
}

@media (--sm-viewport) {
  .pageBody {
    flex-direction: column-reverse;
  }

  .pageBody.getstarted {
    padding: 20px !important;
  }

  .pageBody.getstarted.testnetBody::before,
  .pageBody.getstarted::before {
    background-image: var(--small-logo);
    background-size: 30px;
  }
}
