.channelsContent {
  margin-top: 2em;
}

.headerWrapper {
  position: relative;
}

.closeChannelBtn {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
}

.openNewChannel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--background-back-color);
  padding: 30px 40px;
  min-height: 10em;
}

.node {
  grid-column: 1 / 3;
}

.openButton {
  max-width: 8em;
  margin-top: 2em;
  grid-column-start: 1;
}
