.loadingPage {
  width: 100%;
  text-align: center;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--background-container);
}

.proposalList {
  padding-top: 15px;
  margin-left: 60px;
  padding-bottom: 50px;
  display: block;
}

.proposalListWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  overflow-y: auto;
  height: calc(100% - 50px);
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 825px;
  padding-top: 22px;
}

@media (--bg-viewport) {
  .proposalList {
    margin-left: 35px;
  }
  .filters {
    width: 704px;
  }
}

@media (--sm-viewport) {
  .proposalList {
    padding-bottom: 100px;
    margin-left: 10px;
  }
  .filters {
    width: 367px;
  }
}
