.keyBlueButton {
  background-color: var(--input-color);
  color: var(--white-button-text);
}
.keyBlueButton:hover {
  background-color: var(--input-color-hover);
}
.keyBlueButton:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  background-color: var(--input-color-hover);
}
