.validateAddressForm {
  float: left;
  width: 740px;
  padding: 26px 0 26px 0;
  background-color: var(--background-back-color);
}

.validateAddressFormLabel {
  float: left;
  text-align: right;
  padding-right: 10px;
  width: 111px;
  font-size: 19px;
  line-height: 15px;
}

.validateAddressFormInput {
  float: left;
  width: 300px;
}

.validAddress {
  border-color: var(--vote-yes-color) !important;
}

.validateAddressFormResponse {
  float: right;
  margin-right: 40px;
  font-size: 11px;
  line-height: 14px;
  border-radius: 3px;
  padding: 3px 10px;
}

.responseInvalid {
  color: var(--error-text-color);
  border: 1px solid var(--error-text-color);
}

.responseOwned {
  color: var(--input-color);
  border: 1px solid var(--input-color);
}

.responseNotOwned {
  color: var(--vote-yes-color);
  border: 1px solid var(--vote-yes-color);
}

.validateAddressOwnedForm {
  padding: 10px 0 26px 58px;
  background-color: var(--background-back-color);
  float: left;
  width: 682px;
  clear: both;
}

.validateAddressOwnedData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 300px;
}

@media screen and (max-width: 1180px) {
  .validateAddressForm {
    width: 649px;
  }

  .validateAddressOwnedForm {
    width: 591px;
  }
}

@media screen and (max-width: 768px) {
  .validateAddressForm {
    width: 355px;
  }

  .validateAddressFormInput {
    width: 224px;
  }

  .validateAddressFormResponse {
    margin-right: 95px;
    margin-top: 7px;
  }

  .validateAddressOwnedForm {
    width: 297px;
  }
}
