.menuLink {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  cursor: pointer;
  height: 52px;
  padding-left: 55px;
  color: var(--sidebar-menu-link);
  font-size: 15px;
  text-decoration: none;
  transition: color 0.13s ease-in-out;
  background-position: 22px 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  user-select: none;
  margin-left: 5px;
}

.menuLinkContainer {
  height: 52px;
}

.menuLink.ticketsIcon {
  background-image: var(--menu-tickets);
}

.menuLink.ticketsIcon:not(.menuLinkActive):hover {
  /* Add animation here */ 
}

.menuLink.transactionsIcon {
  background-image: var(--menu-transactions);
}

.menuLink.trezorIcon {
  background-image: var(--menu-trezor);
}

.menuLink.trezorIcon:not(.menuLinkActive):hover {
  /* Todo: Add trezor animation */
}

.menuLink.transactionsIcon:not(.menuLinkActive):hover {
  /* XXX add animation */ 
}

.menuLink.accountsIcon {
  background-image: var(--menu-accounts);
}

.menuLink.accountsIcon:not(.menuLinkActive):hover {
  /* XXX add animation */ 
}

.menuLink.securitycntrIcon {
  background-image: var(--menu-privacy);
}

.menuLink.securitycntrIcon:not(.menuLinkActive):hover {
  /* Todo: Add privacy animation */
  background-image: var(--menu-privacy);
}

.menuLink.overviewIcon {
  background-image: var(--menu-overview);
}

.menuLink.overviewIcon:not(.menuLinkActive):hover {
  /* XXX add animation */
}

.menuLink.governanceIcon {
  background-image: var(--menu-governance);
}

.menuLink.governanceIcon:not(.menuLinkActive):hover {
  /* XXX add animation */
}

.menuLink.lnIcon {
  background-image: var(--menu-ln);
}

.menuLink.lnIcon:not(.menuLinkActive):hover {
  /* Todo: Add LN animation */
  background-image: var(--menu-ln);
}

.menuLink:hover {
  color: var(--input-color-default);
}

.menuLinkActive {
  color: var(--input-color-default);
  cursor: default;
  background-color: var(--sidebar-menu-link-active-bg);
}

.menuLinkNotificationIcon {
  background-repeat: no-repeat;
  background-image: var(--bell-notification-icon);
  background-position: center;
  background-size: 10px;
  width: 14px;
  height: 14px;
  margin-left: 34px;
  margin-top: 10px;
  position: absolute;
  display: inline-block;
  z-index: 10;
  border-radius: 50%;
  background-color: var(--stroke-color-focused);
}

.tooltipOnSide {
  bottom: 70% !important;
  left: 90% !important;
  transform: translateX(0%) !important;
}

.tooltipOnBottom {
  bottom: 70% !important;
}

@media screen and (max-width: 768px) {
  .menuLink {
    height: 70px;
    width: 76px;
    padding-left: 0;
    background-position: 50%;
  }

  .menuLinkContainer {
    height: 70px;
  }
}
