.loadingError {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--background-container);
  width: 300px;
  height: 200px;
  font-size: 120%;
  text-align: center;
}

.reloadButton {
  position: relative;
  margin: 20px auto 0 auto;
  width: 100px;
}

.cancelButton {
  position: relative;
  margin: 20px auto 0 auto;
  width: 100px;
}

.messageDescription {
  font-style: italic;
  font-size: 13px;
  color: var(--modal-text);
}
