/* Inconsolata - Source Sans Pro */
@font-face {
  font-family: 'Inconsolata';
  font-weight: 700;
  src: url('../fonts/Inconsolata-Bold.ttf'); 
}
@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  src: url('../fonts/Inconsolata-Regular.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: url('../fonts/SourceSansPro-Light.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/SourceSansPro-LightItalic.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  src: url('../fonts/SourceSansPro-Italic.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  src: url('../fonts/SourceSansPro-Bold.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  src: url('../fonts/SourceSansPro-BoldItalic.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  src: url('../fonts/SourceSansPro-SemiBold.ttf'); 
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/SourceSansPro-SemiBoldItalic.ttf'); 
}