.infoFieldModalButton {
  float: right;
  border-radius: 0px;
  background-image: var(--help-getstared);
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
  outline: none;
}

.infoModalButton {
  border-radius: 0px;
  background-image: var(--tickets-info-icon);
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: transparent;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 0;
}
.infoModalButton:hover {
  opacity: 0.7;
}
.goBackIconButton {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-image: var(--x-grey);
  padding: 0px;
}
