.dexAddress {
  width: 50%;
  max-width: 650px;
}

.dexAddress input {
  font-size: 16px;
  line-height: 16px;
}

.dexAddress input::placeholder {
  font-size: 16px;
}

.error {
  color: var(--error-text-color);
  margin-top: 8px;
}

.sendToDexAccount {
  background-color: var(--background-back-color);
  padding: 30px 40px;
  margin: 20px 0 10px 0;
  position: relative;
  width: 740px;
}

.sendToDexAccount .title {
  margin-right: auto;
  font-size: 18px;
  line-height: 32px;
  color: var(--privacy-mixer-status-color);
  padding-left: 42px;
  background-size: 32px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: var(--self-transaction-icon);
}

.dexAddressLabel label {
  font-size: 13px;
  line-height: 16px;
  color: var(--grey-7);
}

@media (--sm-viewport) {
  .dexAddressLabel label {
    font-size: 13px;
  }

  .dexAddress input {
    font-size: 15px;
    line-height: 21px;
  }
}
