.box {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.input,
.settingsTextInput {
  width: 31rem !important;
}

@media screen and (max-width: 1920px) {
  .input,
  .settingsTextInput {
    width: 32.7rem !important;
  }
}

@media screen and (max-width: 768px) {
  .box {
    grid-template-columns: 1fr;
  }

  .input,
  .settingsTextInput {
    width: 31rem !important;
  }
}
