.ticketCogsOpened,
.ticketCogsClosed {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: var(--background-back-color);
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.ticketCogsOpened {
  background-image: var(--tickets-cogs-opened-icon);
}
.ticketCogsClosed {
  background-image: var(--tickets-cogs-closed-icon);
}
.ticketCogsOpened:hover,
.ticketCogsClosed:hover {
  opacity: 0.7;
}
