.toggleSwitchWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  height: 20px;
  align-items: center;
}

.toggleSwitchWrapper label {
  color: var(--main-dark-blue);
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}

.switch {
  margin: 0 20px 0 0;
}
