.infoGrid {
  padding: 10px 0 10px 20px;
  display: grid;
  grid-template-columns: repeat(6, max-content);
  align-items: center;
}
label.infoLabel {
  white-space: nowrap;
  font-size: 13px;
  text-align: right;
  grid-column: 1;
}
label.infoLabel.txFee {
  grid-column: 3;
  margin-left: 30px;
}
label.infoLabel.expiry {
  grid-column: 5;
  margin-left: 30px;
}
.infoValue {
  display: flex;
  height: 50px;
  align-items: center;
}
.infoValue.stakePools {
  grid-column: 2 / -1;
}
.infoValue.stakePools .icon {
  background-color: var(--input-color);
  background-image: var(--manage-pools-icon);
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.21);
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-position: 4px 4px;
  background-size: 12px;
  padding: 0;
}
.infoValue.stakePools .icon:hover {
  background-color: var(--input-color-hover);
}
.infoValue.stakePools .icon:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}
.infoValue.ticketFee .icon {
  background-image: var(--split-fee-icon);
}
.infoValue.txFee .icon {
  background-image: var(--split-fee-icon);
}
.infoValue.expiry .icon {
  background-image: var(--expiry-icon);
}
.infoValue.ticketAddress {
  grid-column: 2 / -1;
}

.infoValue.ticketAddress .icon {
  background-image: var(--ticket-address-icon);
}
.infoValue.poolAddress {
  grid-column: 2 / -1;
}
.infoValue.poolAddress .icon {
  background-image: var(--fee-address-icon);
}
.infoValue.poolFees {
  grid-column: 2 / -1;
}
.infoValue.poolFees .icon {
  background-image: var(--pool-fee-icon);
}
.input {
  height: 20px;
}
.bigInput {
  width: 290px;
  margin-right: 6px;
  margin-left: 6px;
}
.smallInput {
  width: 95px;
  margin-left: 6px;
  margin-right: 6px;
}
.icon {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
}

@media (--bg-viewport) {
  .infoGrid {
    grid-template-columns: repeat(4, max-content);
  }

  label.infoLabel.expiry {
    margin-left: 0;
    grid-column-start: 1;
  }

  .infoValue.expiry {
    grid-column: 2 / -1;
  }
}

@media (--sm-viewport) {
  .infoGrid {
    grid-template-columns: repeat(2, max-content);
  }
  .bigInput {
    width: 150px;
  }
  label.infoLabel.ticketFee,
  label.infoLabel.txFee {
    margin-left: 0;
    grid-column-start: 1;
  }

  .infoValue {
    grid-column: 2 / -1;
  }
}
