.pathInput {
  border-style: none;
  cursor: text;
  background: transparent;
  outline: none;
  border: none !important;
  align-items: center;
  font-family: var(--font-family-regular);
  font-size: 13px;
  display: flex;
  flex: auto;
  flex-grow: 1;
}
.pathInput > input {
  width: 100%;
}
.pathInput:hover {
  opacity: 0.7;
}
