.sendOutputContainer {
  display: grid;
  grid-template-columns: max-content 260px minmax(max-content, 1fr) 260px;
  grid-template-rows: repeat(2, 25px);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-top: 10px;
  width: 660px;
}
.amountInputWrapper {
  grid-column: 2;
  grid-row: 2;
  width: 160px;
}
.sendOutputContainer label {
  text-align: right;
  font-size: 13px;
  line-height: 24px;
}
.sendOutputContainer .dcrInput {
  width: 150px;
}
.sendAllFundsIcon {
  grid-column: 2;
  grid-row: 2;
  margin-left: 170px;
}
.sendIconWrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
}

.sendIconWrapper.walletIcon {
  background-image: var(--send-all-default);
}

.sendIconWrapper.walletIcon:hover {
  background-image: var(--send-all-hover);
}

.sendIconWrapper.walletIcon.disabled {
  background-color: var(--background-back-color);
  background-image: var(--send-all-disabled);
  cursor: auto;
}

.sendIconWrapper.cancelIcon {
  background-image: var(--indicator-invalid-icon);
}

.sendIconWrapper.cancelIcon:hover {
  opacity: 0.85;
}

.sendIconWrapper.selfAccountIcon {
  background-image: var(--send-self-default);
  margin-top: 3px;
}

.sendIconWrapper.selfAccountIcon:hover {
  background-image: var(--send-self-hover);
}

.sendInputWrapper .inputErrorsArea {
  margin-bottom: -14px;
}

.sendAll {
  border-bottom: 1px var(--stroke-color-default) solid;
  text-align: right;
  background-color: var(--disabled-background-color);
}

.tooltipSendAll {
  width: 22rem;
}

.tooltipSendAllDisabled {
  width: 28rem;
}

.tooltipSendToSelf {
  width: 18rem;
}
@media (--bg-viewport) {
  .sendOutputContainer {
    grid-template-columns: max-content 240px minmax(max-content, 1fr) 240px;
    padding: 7px 0 26px 0;
    width: 594px;
  }
}
@media (--sm-viewport) {
  .sendOutputContainer {
    grid-template-columns: max-content 256px;
    grid-template-rows: repeat(3, 25px);
    padding: 7px 0 26px 0;
    width: 315px;
  }
  .sendAllFundsIcon {
    grid-row: 3;
  }
  .amountInputWrapper {
    grid-row: 3;
  }
}
