.input {
  width: 200px;
  margin-right: 0.5em;
}

.label {
  display: flex;
}

.label .flag {
  margin: 5px 5px 0 0;
}

.flag {
  flex-grow: 2;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 2px;
}

.flag.ar {
  background-image: var(--flag-ar);
}

.flag.en-AU {
  background-image: var(--flag-au);
}

.flag.de {
  background-image: var(--flag-de);
}

.flag.en {
  background-image: var(--flag-en);
}

.flag.en-GB {
  background-image: var(--flag-gb);
}

.flag.es {
  background-image: var(--flag-es);
}

.flag.it {
  background-image: var(--flag-it);
}

.flag.fr {
  background-image: var(--flag-fr);
}

.flag.ja {
  background-image: var(--flag-ja);
}

.flag.pl {
  background-image: var(--flag-pl);
}

.flag.pt-BR {
  background-image: var(--flag-ptbr);
}

.flag.zh {
  background-image: var(--flag-zh);
}

.flag.zh-HK {
  background-image: var(--flag-hk);
}

.name {
  flex-grow: 4;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
