.toggleSwitch {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 10px 1em;
}

.enabled,
.disabled {
  display: block;
  width: 50px;
  height: 20px;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
  background-color: var(--toggle-switch-bg);
  float: left;
}

.enabled:hover {
  width: 47px;
  padding-left: 3px;
}

.disabled:hover {
  width: 47px;
  padding-right: 3px;
}

.knobEnabled,
.knobDisabled {
  width: 25px;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(12, 30, 62, 0.21);
  transition: all 200ms ease-in-out;
}
  
.knobEnabled {
  background-color: var(--input-color);
}

.knobDisabled {
  float: right;
  background-color: var(--toggle-switch-knob-bg);
}