.isRow {
  display: flex;
  flex-direction: row;
}

.sendArea {
  width: 740px;
}

.sendButtonArea {
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.passphraseModal {
  width: 415px;
}

.passphraseModalLabel {
  float: left;
  width: 65%;
  margin-top: 5px;
}

.passphraseModalAddress {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 600;
  float: right;
}

.passphraseModalBalance {
  margin-left: 20px;
  font-weight: 600;
  margin-top: 5px;
  float: right;
}

.error {
  color: var(--error-text-color);
  position: absolute;
  bottom: 0;
  right: 145px;
  width: 300px;
  justify-content: flex-end;
  height: 41px;
  display: flex;
  align-items: center;
}

.disabledTooltip {
  width: 17rem;
  text-align: center;
}

@media (--bg-viewport) {
  .sendButtonArea {
    bottom: 50px;
    right: 33px;
  }
}

@media (--sm-viewport) {
  .isRow.sendArea {
    flex-direction: column;
    height: auto;
  }
  .sendButtonArea {
    width: 352px;
    position: relative;
    text-align: right;
    margin-top: 30px;
  }
}
