.openChannel {
  margin-top: 1em;
  background-color: var(--background-back-color);
  padding: 1em 1em 1em 3em;
}

.pendingOpen {
  border-left: 10px solid var(--cyan-bold);
}

.pendingClose {
  border-left: 10px solid var(--disabled-color);
}

.pendingForceclose {
  border-left: 10px solid var(--error-text-color);
}

.pendingWaitclose {
  border-left: 10px solid var(--input-color-disabled);
}

.dataWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-right: 2em;
}

.capacity {
  font-size: 32px;
  padding-top: 10px;
}

.peerBalances {
  text-align: right;
  padding-top: 10px;
}

.peerBalances > div > div {
  display: inline;
  margin-left: 10px;
}

.remotePubkey {
  color: var(--input-color-disabled);
  margin-top: -15px;
}
