.container {
  width: 100%;
}

.tooltip {
  width: 180px;
}

.error {
  color: var(--error-text-color);
}

.tooltipContent {
  width: "180px";
  background-color: "red";
}

@media screen and (max-width: 375px) {
  .tooltipContent {
    width: "150px";
  }
}
