.container {
  width: 100%;
}

.tooltip {
  width: calc(100% + 20px);
  line-height: 30px;
  padding: 0 0 0 10px;
  margin: -10px;
  display: inline-flex !important;
}

.optionWrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.optionWrapper.outdated {
  color: var(--grey-5);
  cursor: default;
}

.error {
  color: var(--error-text-color);
}

.tooltipContent {
  text-align: center;
  line-height: 20px;
  width: max-content;
  transition: 0.1s all ease;
}
