.container {
  height: 24px;
  margin-left: 6px;
  border-bottom: 1px var(--stroke-color-default) solid;
  width: 125px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.container.error {
  border-bottom: 1px var(--error-text-color) solid;
}
.container.error input {
  max-width: initial;
  color: var(--error-text-color);
}
.container.error::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 22px;
  top: 0;
  right: 43px;
  display: block;
  background-repeat: no-repeat;
  background-image: var(--warning-input-icon);
  background-size: 16px 16px;
  background-position: 0 center;
}
.integerInput,
.integerInput:hover:not(.disabled):not(.active):not(.error) {
  border: none !important;
}
.integerInput input {
  max-width: 30px;
  height: 22px;
}
.integerInput .unitArea {
  color: var(--tx-detail-text) !important;
}
.inputError {
  border-bottom: 0;
  background-image: none;
}
.inputErrorsArea {
  width: 100%;
  position: absolute;
  bottom: -13px;
  left: 6px;
  margin: 0;
}
.integerInput.error:hover {
  border-bottom: 0 !important;
}
.icon {
  width: 20px;
  height: 20px;
  background-size: 6px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--account-text);
  box-shadow: 0px 3px 8px var(--icons-shadow);
  margin-left: 3px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  border: none;
  outline: 0;
  cursor: pointer;
}
.icon.more {
  background-image: var(--tickets-plus-icon);
  right: 0;
}
.icon.more:hover {
  opacity: 0.7;
}
.icon.less {
  background-image: var(--tickets-minus-icon);
  right: 22px;
}
.icon.less:hover {
  opacity: 0.7;
}
