.account-content-title {
  display: block;
  height: 44px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  border-bottom: 1px solid transparent;
  color: var(--stroke-color-hovered);
  font-size: 27px;
}

.account-content-nest {
  padding-top: 1px;
  width: 740px;
}

.account-content-nest .vertical-accordion-arrow {
  right: 0px;
  left: 65px;
  top: 44%;
  transform: rotate(0deg);
}

.account-content-title-buttons-area {
  margin-left: auto;
}

.wallet-name {
  margin-right: 5px;
  text-transform: capitalize;
}

@media screen and (max-width: 1179px) {
  .account-content-nest {
    width: 667px;
  }
}

.account-row-top-spendable {
  color: var(--account-text);
  font-size: 13px;
}
.account-row-top-spendable-value {
  color: var(--tutorial-header);
  margin-left: 5px;
}
.account-row-top-account-name {
  color: var(--tutorial-header);
  font-size: 19px;
}
.account-row-top-account-funds {
  color: var(--tutorial-header);
  font-size: 19px;
  text-align: right;
}
.account-row-details-top {
  cursor: pointer;
  padding: 21px 30px 21px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: var(--accounts-default);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: 15px center;
  border-top: 1px solid var(--background-container-hover);
}
.account-row-details-top.imported {
  background-image: var(--accounts-imported);
}
.account-row-details-top:hover {
  background-color: var(--background-container-hover);
}
.account-row-details-top:hover.disabled {
  background-color: var(--disabled-background-color);
}
.account-row-details-bottom {
  background-color: var(--background-back-color);
}
.account-row-details-bottom.active {
  background-color: var(--sidebar-color);
}
.account-row-details-bottom-columns {
  width: 100%;
  color: var(--account-text);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.account-row-details-bottom-column-left, .account-row-details-bottom-column-right {
  margin-top: 15px;
}
.account-row-details-bottom-title {
  font-size: 19px;
  text-align: right;
  padding-right: 200px;
  margin-bottom: 10px;
}
.account-row-rename-bottom-title {
  font-size: 19px;
}
.account-row-details-bottom-spec {
  font-size: 12px;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 160px 200px;
}
.account-row-details-bottom-spec-last {
  border-bottom: 1px solid var(--disabled-background-color);
  color: var(--tutorial-header);
  font-size: 12px;
}
.account-row-details-bottom-spec-name {
  text-align: right;
}
.account-row-details-bottom-spec-value {
  margin-left: 1em;
  text-align: left;
  color: var(--tutorial-header);
}
.account-row-rename-bottom {
  color: var(--tutorial-header);
  font-size: 12px;
  padding: 14px;
}
.account-row-rename-bottom-fields {
  display: flex;
  margin: 12px 0px;
}
.account-row-rename-bottom-value {
  width: 70%;
  margin-left: 10px;
}
.content-confirm-new-account {
  margin-right: 2em;
}
.rename-account-button, .show-account-button, .hide-account-button, .reveal-account-pubkey-button {
  border-radius: 5px;
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 5px rgba(9,20,64,0.16);
  outline: 0;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0px;
  background-color: var(--input-color);
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-top: 17px;
}
.reveal-account-pubkey-button.show {
  background-image: var(--show-pubkey-icon);
}
.reveal-account-pubkey-button.hide {
  background-image: var(--hide-pubkey-icon);
}
.rename-account-button {
  background-image: var(--account-rename-icon);
  background-size: 20px;
}
.show-account-button {
  background-image: var(--show-account-icon);
}
.hide-account-button {
  background-image: var(--hide-account-icon);
}
.rename-account-button:hover, .show-account-button:hover, .hide-account-button:hover {
  opacity: 0.7;
}
.account-actions {
  width: 93%;
  margin-left: 20px;
  height: 100px;
  border-top: 1px solid var(--text-toggle-button-border);
}
.account-actions-pubkey {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 18px;
  width: 88%;
}
.account-actions-pubkey .account-actions-pubkey-label {
  font-size: 13px;
  line-height: 17px;
  margin-top: 2px;
  margin-right: 14px;
}
.account-actions-pubkey .account-actions-pubkey-button {
  height: 15px;
  width: 37px;
  color: var(--input-color-default);
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  background-color: var(--disabled-color);
  padding: 2px 20px 3px 20px;
  box-shadow: none;
  transition: all 131ms var(--ease-in-out-quart);
  cursor: auto;
}
.account-actions-pubkey .account-actions-pubkey-area {
  color: var(--input-color);
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  padding: 2px 20px 3px 20px;
  border-radius: 3px;
  background-color: var(--background-copy-color);
  height: 32px;
  width: 390px;
  word-break: break-all;
  transition: all 131ms var(--ease-in-out-quart);
}
.account-actions-pubkey .account-actions-pubkey-clipboard {
  margin-left: 10px;
}
.disabled {
  background-color: var(--disabled-background-color);
}
@media screen and (max-width: 768px) {
  .account-actions.is-row {
    display: flex;
    flex-direction: column;
 }
  .account-actions-buttons {
    margin: 0 auto;
 }
}
