.modal {
  background-image: none;
  padding: 30px 40px;
  min-width: 333px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 28px;
  line-height: 35px;
  color: var(--stroke-color-hovered);
  margin-bottom: 20px;
}
.infoCloseButtonTop {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background-image: var(--x-grey);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.infoCloseButtonTop:hover {
  opacity: 0.7;
}
.error {
  margin-top: 20px;
  color: var(--error-text-color);
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
}
.label {
  font-size: 13px;
  line-height: 16px;
  color: var(--stroke-color-hovered);
}
.accountSelectInput {
  width: 332px;
  margin-bottom: 25px;
}
.balanceToMaintainInput {
  margin-bottom: 20px;
}
.balanceToMaintainInput input {
  font-size: 16px;
}

@media screen and (max-width: 1179px) {
  .modal {
    width: 421px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 355px;
  }
}
