.container {
  display: inline-block;
  width: 100%;
}
.value {
  display: flex;
  justify-content: space-between;
}
.value.selectWithBigFont {
  font-size: 1.6rem;
  line-height: 2.1rem;
}
.label {
  display: flex;
  justify-content: space-between;
}
.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.spendable {
  min-width: 10em;
  text-align: right;
}
