.info {
  max-height: 60%;
  z-index: 200;
  overflow-y: auto;
  text-align: left;
  width: 445px;
  background-image: var(--tickets-info-icon);
  background-attachment: local;
  background-size: 40px 32px;
  background-repeat: no-repeat;
  background-position: 18px 32px;
  padding: 30px 40px 20px 70px;
  font-size: 13px;
  line-height: 17px;
  display: flex;
  flex-direction: column;
}
.info.double {
  width: 540px;
}
.content h1 {
  font-size: 27px;
  line-height: 34px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8px;
  column-span: all;
}
.content p {
  break-inside: avoid-page;
  color: var(--modal-text);
  margin-bottom: 2em;
}
.content li {
  list-style-position: inside;
  text-align: justify;
}
.content li p {
  display: inline;
}
.content ol {
  margin: 0;
  padding: 0;
  counter-reset: item;
}
.content ol > li {
  margin: 0;
  list-style-type: none;
  counter-increment: item;
  list-style-position: inside;
  margin-bottom: 2em;
}
.content ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  margin-left: -3px;
  font-weight: 600;
  text-align: right;
  content: counter(item) ".";
}
.content a {
  color: var(--input-color);
  cursor: pointer;
  text-decoration: none;
  word-break: break-word;
}
.closeButtonTop {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background-image: var(--x-grey);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.closeButtonTop:hover {
  opacity: 0.7;
}
.closeButton {
  font-size: 13px;
  line-height: 17px;
  padding: 6px 20px;
  text-transform: none;
  width: 80px;
  height: 40px;
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .info,
  .info.double {
    width: 400px !important;
  }
}
@media screen and (max-width: 560px) {
  .info,
  .info.double {
    width: 300px !important;
  }
}
