.header {
  white-space: pre-wrap;
  color: var(--main-dark-blue);
  font-size: 16px;
  float: left;
  width: 100%;
  margin-left: 40px;
}

.actionButton {
  position: absolute;
  right: 80px;
}

.actionButton > .button {
  min-width: 76px;
}
@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
