.accordionArrow {
  right: 0;
  left: 65px;
  top: 44%;
  transform: rotate(0deg);
}

.activeAccordionArrow {
  background-color: var(--sidebar-color);
}

.details {
  background-color: var(--background-back-color);
}
