.accordion {
  padding: 20px 45px 20px 40px;
  background-color: var(--background-back-color);
  margin-bottom: 5px;
  color: var(--main-dark-blue);
}

.accordionChildren {
  padding: 15px 0;
}

.accordion .verticalAccordionHeader {
  font-size: 18px;
  line-height: 23px;
}

.accordionArrow {
  top: 4px;
  right: 0;
  height: 13px;
  transform: rotate(90deg);
}
.activeAccordionArrow {
  transform: rotate(-90deg) !important;
}

@media screen and (max-width: 768px) {
  .accordion {
    padding: 20px 20px;
  }
}
