.body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0px;
  top: 157px;
  bottom: 0px;
  left: 0px;
  padding: 38px 60px 30px 63px;
  background-color: var(--background-container);
}

@media screen and (max-width: 1179px) {
  .body {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .body {
    top: 113px;
  }
}
