.pathButton {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: var(--search-icon);
  background-size: 16px 16px;
}

.pathButton:hover {
  background-image: var(--search-icon-hover);
}

.tooltip {
  width: 7rem;
}
