.txdetailsIndicatorMixin {
  display: inline-block;
  padding: 5px 8px 5px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 8px;
  text-align: right;
  text-transform: capitalize;
  background-position: 6px 50%;
  background-size: 10px;
  background-repeat: no-repeat;
}

.txdetailsIndicatorPending {
  border-color: var(--input-color);
  background-image: var(--indicator-pending-icon);
  color: var(--input-color);
}

.txdetailsIndicatorConfirmed {
  border-color: var(--accent-color);
  background-image: var(--indicator-confirmed-icon);
  color: var(--accent-color);
}

.txdetailsDetails {
  padding-left: 80px;
  font-size: 13px;
  margin-bottom: 50px;
}

.txdetailsTop {
  padding-left: 80px;
  padding-top: 25px;
  padding-bottom: 28px;
  font-size: 13px;
  background-color: var(--txdetails-top-bg);
}

.txdetailsIo {
  padding-left: 80px;
  padding-top: 28px;
}

.txdetailsTopRow {
  margin-bottom: 9px;
  display: flex;
}

.txdetailsName {
  color: var(--tx-detail-text);
  margin-right: 11px;
  min-width: 90px;
  text-align: right;
  font-size: 13px;
  line-height: 17px;
}

.txdetailsValue {
  word-wrap: break-word;
  display: flex;
}

.txdetailsValue.nonFlex {
  display: block;
}

.txdetailsValueRawtx {
  font-size: 13px;
  line-height: 15px;
  width: 540px;
  height: 233px;
  overflow-y: auto;
  background-color: var(--background-back-color);
  padding: 10px;
  color: var(--stroke-color-hovered);
}

.txdetailsOverview {
  margin-bottom: 3em;
  display: flex;
  justify-content: space-between;
  width: 659px;
}

.txdetailsOverviewTitleConsumed {
  color: var(--input-color-default);
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 13px;
}

.txdetailsOverviewTitleEmpty {
  color: var(--disabled-color);
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 13px;
}

.txdetailsInputArrow {
  background-image: var(--tx-details-arrow-left);
  background-position: 100% 50%;
  background-size: 37px;
  background-repeat: no-repeat;
  float: right;
  height: 43px;
  width: 43px;
  margin-top: 3em;
}

.txdetailsInputs {
  width: 220px;
}

.txdetailsOutputs {
  width: 220px;
}

.txDetailsAreaMixin {
  width: 180px;
  background-color: var(--background-back-color);
  padding: 15px 20px 1px 20px;
  margin-bottom: 10px;
}

.txdetailsOutputArea {
  margin-right: 180px;
}

.txdetailsRow {
  margin-bottom: 15px;
}

.blueValueHighlightMixin {
  font-size: 13px;
  line-height: 17px;
  padding: 2px 10px 2px 10px;
  border-radius: 3px;
  background-color: var(--blue-highlight-background);
  color: var(--input-color-default);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-right: 5px;
}

.txDetailsSubtitle {
  display: flex;
  margin-top: 22px;
  flex-wrap: wrap;
}

.txDetailsSubtitlePair {
  display: flex;
  margin-top: 3px;
}

.txDetailsSubtitleSentfrom {
  margin-right: 5px;
}

.txDetailsSubtitleDate {
  max-height: 22px;
}

.txDetailsSubtitleAccount {
  width: 80px;
  max-height: 22px;
}

.txdetailsAddress.nonWallet {
  width: 155px;
  margin-bottom: 5px;
}

.txdetailsAddress {
  width: 80px;
  margin-bottom: 5px;
}

.txdetailsAmount {
  font-size: 17px;
  line-height: 27px;
  width: 100%;
}

.txdetailsValueText {
  font-weight: 400;
}

.txdetailsTitle {
  color: var(--stroke-color-hovered);
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 7px;
}

@media screen and (max-width: 1106px) {
  .txdetailsOverview {
    width: 633px;
  }
  .txdetailsIo,
  .txdetailsDetails,
  .txdetailsTop {
    padding-left: 36px;
  }
  .txdetailsValueRawtx {
    width: 511px;
  }
}

@media screen and (max-width: 1106px) {
  .txdetailsOverview {
    width: 633px;
  }
  .txdetailsIo,
  .txdetailsDetails,
  .txdetailsTop {
    padding-left: 36px;
  }
  .txdetailsValueRawtx {
    width: 511px;
  }
}
@media screen and (max-width: 768px) {
  .txdetailsOverview {
    flex-direction: column;
    padding-left: 42px;
  }

  .txdetailsDetails,
  .txdetailsTop {
    padding-left: 30px;
  }

  .txdetailsInputArrow {
    transform: rotate(90deg);
    margin: 20px 0 25px 88px;
  }

  .txdetailsTop .txdetailsValue > a {
    text-overflow: ellipsis;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
  }

  .txdetailsDetails .txdetailsTopRow {
    width: 335px;
  }
  .txdetailsDetails .txdetailsTopRow .txdetailsValue > a {
    word-wrap: break-word;
    display: inline-block;
    width: 223px;
  }

  .txdetailsDetails .txdetailsTopRow.rowTransaction {
    flex-direction: column;
  }
  .txdetailsDetails .txdetailsTopRow.rowTransaction .txdetailsName {
    text-align: left;
  }
  .txdetailsDetails .txdetailsTopRow.rowTransaction .txdetailsValue {
    margin-top: 10px;
    margin-left: -20px;
    width: 354px;
    position: relative;
  }
  .txdetailsDetails
    .txdetailsTopRow.rowTransaction
    .txdetailsValue
    .txdetailsValueRawtx {
    width: 335px;
  }
  .txdetailsDetails
    .txdetailsTopRow.rowTransaction
    .txdetailsValue
    .receiveContentNestCopyToClipboardIcon {
    position: absolute;
    top: -28px;
    right: 5px;
    margin: 0;
  }
  .txDetailsSubtitle {
    margin-top: 10px;
    width: 355px;
  }
}
