.voteConfirmation {
  background-color: var(--background-container);
  font-size: 27px;
  line-height: 34px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}

.yesProposal {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--vote-yes-color);
  margin-top: 13px;
  margin-right: 5px;
}

.noProposal {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--vote-no-color);
  margin-top: 13px;
  margin-right: 5px;
}

.voteButton {
  padding: 5px;
  margin-left: 5px;
}

.votePreference {
  line-height: 0;
  flex-basis: 75%;
  display: flex;
  align-items: center;
  height: 35px;
}

.preferenceTitle {
  font-size: 13px;
}

.voteRadioButtons {
  margin-left: 10px;
}

.yes,
.no {
  margin-top: 0 !important;
}

.yes > label,
.no > label {
  display: flex;
  align-items: center;
}

.yes > label > span:nth-child(1) {
  border-color: var(--vote-yes-color);
  top: 0 !important;
}

.yes > label > span:nth-child(2) {
  background-color: var(--vote-yes-color);
  top: 0.4rem !important;
}

.no > label > span:nth-child(1) {
  border-color: var(--vote-no-color);
  top: 0 !important;
}

.no > label > span:nth-child(2) {
  background-color: var(--vote-no-color);
  top: 0.4rem !important;
}

@media screen and (max-width: 1179px) {
  .voteButton {
    left: 123px;
  }
}
