.voteSection {
  background-color: var(--background-back-color);
  padding: 10px 40px;
  width: 764px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: 600;
}

@media screen and (max-width: 1179px) {
  .voteSection {
    width: 665px;
  }
}

@media screen and (max-width: 768px) {
  .voteSection {
    width: 100%;
  }
}
