.documentation {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  color: var(--main-dark-blue);
}

.documentation strong {
  font-style: normal;
}

.documentation em {
  color: var(--orange);
  font-style: normal;
}

.pathBrowseInput {
  margin-right: 11px;
}

.pathBrowseInput input {
  width: 274px;
}

.pathBrowseInput input:disabled {
  opacity: 0.5;
}

.updateFirmwareButton {
  height: 29px;
  font-size: 13px;
  line-height: 16.34px;
  padding: 6px 10px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .pathBrowseInput input {
    width: 187px;
  }
}
