.stakepoolContentImportScriptButton {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  background-image: var(--importscript-icon);
  width: 20px;
  height: 25px;
  padding: 0px;
  margin-top: 10px;
}
.stakepoolContentImportScriptButton.loading {
  background-image: none;
}
.stakepoolContentImportScriptButton.loading > .spinner > div {
  background-color: var(--title-text-and-button-background-hovered);
}
.stakepoolContentImportScriptButton:hover {
  opacity: 0.7;
}
