.column {
  width: 300px;
}

.row {
  justify-content: flex-start;
  flex-direction: column;
}

.updatePassphraseButton {
  font-size: 13px;
  float: left;
  line-height: 23px;
  margin-bottom: 26px;
}

.updatePassphraseButton button {
  margin-left: 0;
  margin-right: 10px;
}

.updatePassphraseButton span {
  float: left;
  margin-top: 1px;
  font-size: 13px;
  line-height: 17px;
}

.changePasswordDefaultIcon {
  background: var(--change-password-default-icon) no-repeat center;
  background-color: var(--input-color);
  background-size: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13);
  outline: none;
}

.changePasswordDefaultIcon:hover {
  background-color: var(--input-color-hover);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.changePasswordDisbledIcon,
.changePasswordLoading {
  background: var(--password-inactive-icon) no-repeat center;
  background-color: var(--disabled-background-color);
  cursor: default;
}

.changePasswordDisbledIcon:hover,
.changePasswordLoading:hover {
  background-color: var(--disabled-background-color) !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13) !important;
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {
  .column {
    width: 245px;
  }

  .row {
    width: 250px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1680px) {
  .row {
    width: 220px;
    flex-wrap: wrap;
    margin-right: 200px;
  }

  .column {
    width: 420px;
  }
}

@media screen and (max-width: 1400px) {
  .column {
    width: 248px;
  }
}

@media screen and (max-width: 1180px) {
  .row {
    width: 250px;
  }

  .column {
    width: 248px;
  }
}

@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }

  .row {
    width: 250px;
    margin-right: initial;
  }
}
