.changePassphraseButton {
  background-color: var(--grey-7) !important;
  border-color: var(--grey-7) !important;
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  line-height: 2rem !important;
}
.changePassphraseButton:hover {
  background-color: var(--input-color-hover) !important;
}
