.inputAndUnit {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px var(--select-stroke-color) solid;
  font-family: var(--font-family-regular);
  font-size: 16px;
  color: var(--input-color-default);
}
.inputAndUnit.error {
  border-bottom: 1px var(--error-text-color) solid;
  background-size: 16px 16px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: var(--warning-input-icon);
}
.inputAndUnit.error:hover {
  border-bottom: 1px var(--error-text-color) solid;
}
.inputAndUnit.success {
  border-bottom: 1px var(--success-text-color) solid;
  background-size: 16px 16px;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-image: var(--notification-success-icon);
}
.inputAndUnit.success:hover {
  border-bottom: 1px var(--success-text-color) solid;
}
.inputAndUnit:hover:not(.disabled):not(.active):not(.error) {
  color: var(--input-color-hovered);
  border-bottom: 1px var(--input-bottom-border-hovered) solid;
  opacity: 1;
}
.inputAndUnit.active:not(.disabled) {
  color: var(--input-color-focused);
  outline: none;
}
.inputAndUnit.disabled {
  background-color: var(--disabled-background-color);
}
.inputAndUnit input {
  font-family: var(--font-family-regular);
  border-style: none;
  cursor: text;
  background: transparent;
  outline: none;
  color: var(--input-color-default);
  width: calc(100% - 20px);
  font-size: 16px;
  line-height: 16px;
}
.inputAndUnit input::placeholder {
  color: var(--disabled-color);
  font-size: 16px;
  line-height: 17px;
}
.inputErrorsArea {
  text-align: left;
  color: var(--error-text-color);
  font-size: 9px;
  line-height: 11px;
  padding-top: 3px;
  margin-left: 10px;
}
.inputSuccessArea {
  text-align: left;
  color: var(--success-text-color);
  font-size: 9px;
  line-height: 11px;
  padding-top: 3px;
  margin-left: 10px;
}
.unitArea {
  margin-left: auto;
}
.unitArea.error {
  color: var(--error-text-color) !important;
  margin-right: 20px;
}
