.channel {
  background-color: var(--background-back-color);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 40px;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  justify-content: space-between;
  align-items: center;
}

.capacity {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-dark-blue);
}

.capacitySecondary {
  color: var(--grey-5);
}

.channelStatusWrapper {
  display: flex;
  margin-top: 0.5em;
}

.peerBalances {
  text-align: right;
  padding-top: 10px;
}

.peerBalances > div > div {
  display: inline;
  margin-left: 10px;
}

.footer {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: var(--main-dark-blue);
}

.marker {
  width: 35px;
  height: 35px;
  background-image: var(--lightning-icon);
  background-repeat: no-repeat;
  background-size: 15px 23px;
  background-position: center;
  max-width: 35px;
  margin-top: -13px;
  background-color: var(--background-back-color);
}
