.documentation {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  color: var(--main-dark-blue);
  width: 390px;
}

.documentation strong {
  font-style: normal;
}

.documentation em {
  color: var(--orange);
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .documentation {
    width: inherit;
  }
}
