.container {
  width: 106rem;
}

.displayWalletContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: 106rem;
}

.displayWallet {
  padding: 1.6rem 1rem 1.6rem 2rem;
  height: 7.6rem;
  border-radius: 0.5rem;
  background-color: var(--background-back-color);
  font-size: 15px;
  box-shadow: 0px 2px 8px var(--icons-shadow);

  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: repeat(2, 1fr);
  position: relative;
}

.displayWallet:hover {
  cursor: pointer;
  box-shadow: 0px 2px 8px var(--icons-shadow-hover);
}

.walletIcon {
  grid-row: 1/3;
  align-self: center;
  margin-right: 2rem;
}

.walletTypeIcons {
  height: 2.1rem;
}

.walletTypeIcons > div {
  margin-right: 1rem;
}

.walletTypeIcons > div:last-of-type {
  margin: 0;
}

.displayWalletButton {
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 50% 50%;
  width: 2.1rem;
  height: 2.1rem;
}

.displayWalletButton.remove {
  background-color: var(--button-text);
  background-image: var(--launcher-wallet-delete);
  box-shadow: 0px 3px 8px var(--title-text-and-button-background-drop-shadow);
  padding: 0;
}

.displayWalletButton.remove:hover {
  background-color: var(--button-text);
  background-image: var(--launcher-wallet-delete-hover);
  box-shadow: 0px 1px 3px var(--title-text-and-button-background-drop-shadow);
}

.displayWalletComplete {
  color: var(--title-text-and-button-background);
  margin-top: 5px;
  min-height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}

.displayWalletName {
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: var(--main-dark-blue);
}

.displayWalletLastAccess {
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: var(--main-dark-blue);
  grid-column: 2/4;
}

.displayWalletCancelChanges {
  float: left;
  margin-top: 7px;
  margin-left: 39px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 131ms var(--ease-in-out-quart);
}

.displayWalletLaunch {
  color: var(--white-button-text);
  float: left;
  margin-top: 7px;
  margin-left: 39px;
  margin-right: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: color 131ms var(--ease-in-out-quart);
}

.displayWalletCancelChanges:hover,
.displayWalletLaunch:hover {
  border-bottom: 1px solid var(--background-back-color);
}

.displayWalletLastAccess.selected,
.displayWalletComplete.selected {
  color: var(--wallet-desc);
}

.close {
  background-color: var(--disabled-color) !important;
  color: var(--background-back-color) !important;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 0.7rem;
  top: 0;
  left: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}

.buttons {
  position: absolute;
  right: 0;
  top: -5.5rem;
}

.buttons > button {
  margin-left: 1rem;
}

.largeButtonIcon {
  height: 5.2rem !important;
  width: auto !important;
}

.largeButtonIcon svg {
  width: 2.1rem;
  height: 2.1rem;
}

.largeButtonIcon span {
  font-size: 1.9rem !important;
  line-height: 2.4rem !important;
  display: inline !important;
  margin-left: 1.2rem !important;
}

.subtitle {
  padding-top: 6rem;
}

@keyframes bounce {
  0% {
    margin-left: 0;
  }

  50% {
    margin-left: 2px;
  }

  100% {
    margin-left: 0;
  }
}

.launchArrowBounce {
  color: var(--white-button-text);
  float: left;
  margin-top: 6px;
  animation: bounce 1s var(--ease-in-out-quart) infinite;
}

@media (--bg-viewport) {
  .container,
  .displayWalletContainer {
    width: 63.4rem;
  }

  .largeButtonIcon span {
    font-size: 1.3rem !important;
  }
}

@media (--sm-viewport) {
  .container,
  .displayWalletContainer {
    width: 31.5rem;
  }

  .displayWalletContainer {
    grid-template-columns: 1fr;
  }

  .largeButtonIcon span {
    font-size: 1.9rem !important;
  }

  .editWalletsButton {
    margin: 5px 0;
  }
}
