.importRedeemScriptTitle {
  margin-bottom: 15px;
}

.importRedeemScriptField {
  display: flex;
}

.importRedeemScriptInput {
  width: 100%;
}

.importRedeemScriptLabel {
  margin-right: 10px;
}

.importRedeemScriptTitle {
  font-size: 27px;
  text-transform: capitalize;
  padding-top: 5px;
  display: flex;
}

.importRedeemScriptButtons {
  margin-top: 20px;
  height: 44px;
  float: right;
  align-self: flex-end;
}

.importRedeemScript {
  display: flex;
  flex-direction: column;
  z-index: 200;
  overflow-y: auto;
  padding: 2em;
  line-height: normal;
  text-align: left;
  color: var(--title-text-and-button-background);
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
  width: 540px;
}
