.rangeLabel {
  font-family: var(--font-family-regular);
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.minMaxSlider {
  width: 142px;
  height: 10px !important;
}

.valueShower {
  height: 33px;
  background: var(--background-back-color);
  font-family: var(--font-family-regular);
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
}

.valueShowerCloser {
  background-image: var(--indicator-invalid-icon);
  float: right;
  height: 20px;
  width: 20px;
  background-size: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.amountsArea {
  text-align: left;
  font-size: 13px;
  width: 200px;
}

.kebab {
  height: 15px;
  width: 5px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: var(--agenda-card-kebab-disabled);
}

.rangeContainer {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}

div.handle {
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
}

div.slider {
  width: 100% !important;
  height: 5px !important;
  margin-bottom: 15px;
}

input.numberInput {
  width: 60px;
  text-align: right;
  font-size: 13px;
  font-family: var(--font-family-regular);
  color: var(--input-color-default);
  line-height: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 5px;
}
