.tabsContainer {
  background-color: var(--background-back-color);
  width: 100%;
}

.tabsWrapper {
  position: relative;
}

.tabs {
  position: absolute;
  right: 0;
  top: 10px;
  overflow: hidden !important;
}
.active {
  border: 1px solid var(--home-content-link) !important;
  border-radius: 3px;
}
.tab {
  font-size: 11px !important;
  color: var(--home-content-link);
  padding: 5px 10px;
  margin-right: 2rem !important;
  background-repeat: no-repeat !important;
}
.inactive {
  border-color: transparent !important;
  background-color: var(--background-back-color) !important;
}

@media (--sm-viewport) {
  .tabs > li > span {
    color: transparent;
  }
  .tab {
    width: 20px;
    float: right;
    height: 15px;
    padding: 3px;
    background-size: 18px;
    background-position: center;
  }
}
