.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabbedPageBody {
  overflow: hidden;
  position: relative;
  background-color: var(--background-container);
  height: 100%;
}

.tabbedPageHeader {
  background-color: var(--background-back-color);
  padding: 40px 60px 0 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabs {
  background-color: var(--background-back-color);
  padding: 25px 60px 0 96px;
  position: relative;
  display: flex;
}

.tabContent {
  background-color: var(--background-container);
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow-x: auto;
}

.tabContentContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 80px 30px 60px;
}

@media screen and (max-width: 1180px) {
  .tabbedPageHeader {
    padding-left: 20px;
  }
  .tabContentContainer {
    padding: 30px 20px 30px 20px;
  }
  .tabs {
    margin-left: 0;
    padding-left: 55px;
  }
}

@media screen and (max-width: 768px) {
  .tabbedPageHeader {
    padding-top: 30px;
  }

  .tabContentContainer {
    padding: 15px 10px 80px 10px;
    top: 45px;
  }

  .tabs {
    padding: 15px 0 0 20px;
    overflow: hidden !important;
  }
}
