.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabbedPageBody {
  overflow: hidden;
  position: relative;
  background-color: var(--background-container);
  height: inherit;
}

.tabbedPageHeader {
  background-color: var(--background-back-color);
  padding: 40px 60px 0 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.tabContent {
  position: absolute;
  overflow-x: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px 80px 30px 60px;
  background-color: var(--background-container);
}

.tabContent:not(.visible)::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.tabContent:not(.visible)::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@media screen and (max-width: 1180px) {
  .tabbedPageHeader {
    padding-left: 20px;
  }
  .tabContent {
    padding: 30px 20px 30px 20px;
  }
}

@media screen and (max-width: 768px) {
  .tabbedPageHeader {
    padding-top: 30px;
  }

  .tabContent {
    padding: 15px 10px 80px 10px;
  }
}
