.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  max-width: 740px;
}

@media screen and (max-width: 1179px) {
  .list {
    margin-left: 0;
  }  
}

@media screen and (max-width: 768px) {
  .list {
    margin-left: 0;
    flex-direction: column;
  }
}
