.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 20px 0;
  max-width: 740px;
}

@media (--bg-viewport) {
  .list {
    margin-left: 0;
  }
}

@media (--sm-viewport) {
  .list {
    margin-left: 0;
    flex-direction: column;
  }
}
