.showPasswordButton {
  width: 20px;
  background-image: var(--eye);
  height: 20px;
  border: none !important;
  padding: 0 !important;
  transition: none !important;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.showPasswordButton.hide {
  background-image: var(--eye-disabled);
}
.showPasswordButton:hover {
  opacity: 0.85;
}
