.isRow {
  display: flex;
  flex-direction: row;
}
.isColumn {
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: 700;
}
.select {
  width: 300px;
}
.item {
  padding: 10px;
}
.item.error {
  color: red;
}
.area {
  margin-left: auto;
}
.row {
  margin-bottom: 10px;
}
.pageWrapper {
  padding: 20px 40px;
  background-color: var(--background-back-color);
  border-radius: 10px;
  margin-bottom: 50px;
}
.contentTitleButtonsArea {
  margin-left: auto;
}
.logs{
  font-family: var(--font-family-monospace);
  font-size: 13px;
  resize: none;
  width: 100%;
  background-color: var(--background-back-color);
  border: none;
  color: var(--modal-text);
  white-space: pre-line;
  padding: 10px;
}
.logsTitle {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}
