.isRow {
  display: flex;
  flex-direction: row;
}

.sendArea {
  width: 740px;
  margin-bottom: 20px;
}

.sendButtonArea {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.passphraseModal {
  width: 415px;
}

.passphraseModalLabel {
  float: left;
  width: 65%;
  margin-top: 5px;
}

.passphraseModalAddress {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 600;
  float: right;
}

.passphraseModalBalance {
  margin-left: 20px;
  font-weight: 600;
  margin-top: 5px;
  float: right;
}

.sendOutputContainer {
  display: grid;
  grid-template-columns: max-content 276px minmax(max-content, 1fr) 276px;
  grid-template-rows: repeat(2, 25px);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding: 0 0 26px 0;
  margin-top: 10px;
  width: 700px;
}
.sendOutputContainer label {
  text-align: right;
  font-size: 13px;
  line-height: 24px;
}

.sendOutputContainer .dcrInput {
  width: 150px;
}
.sendAllFundsIcon {
  grid-column: 2;
  grid-row: 2;
  margin-left: 170px;
}
.amountInputWrapper {
  grid-column: 2;
  grid-row: 2;
  width: 160px;
}
.error {
  color: var(--error-text-color);
  position: absolute;
  bottom: 0;
  right: 145px;
  width: 300px;
  justify-content: flex-end;
  height: 41px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1179px) {
  .sendOutputContainer {
    grid-template-columns: max-content 240px minmax(max-content, 1fr) 240px;
    padding: 7px 0 26px 0;
    width: 594px;
  }
}
@media screen and (max-width: 768px) {
  .sendOutputContainer {
    grid-template-columns: max-content 256px;
    grid-template-rows: repeat(3, 25px);
    padding: 7px 0 26px 0;
    width: 315px;
  }
  .isRow.sendArea {
    flex-direction: column;
    height: auto;
  }
  .sendButtonArea {
    width: 355px;
  }
  .sendButtonArea {
    width: 334px;
    position: relative;
    text-align: right;
  }
  .sendAllFundsIcon,
  .amountInputWrapper {
    grid-row: 3;
  }
}
