.box {
  min-height: 19rem;
}

.input {
  width: 28.4rem;
  margin-bottom: 3rem;
}

.discoverUsageButton {
  background-color: var(--grey-7);
  padding: 0.6rem 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .input {
    width: 31rem !important;
  }
}
