.headerWrapper {
  background-color: var(--grey-3);
}

.agendaWrapper {
  margin: 20px 60px;
  display: flex;
  flex-wrap: wrap;
}

.politeiaButton {
  font-size: 13px !important;
  line-height: 17px !important;
  border-radius: 5px !important;
  padding: 6px 10px !important;
  margin: 15px 0 0 0 !important;
  color: var(--info-modal-button-text) !important;
  background-color: var(--accent-blue) !important;
  border: 0 !important;
  text-decoration: none !important;
  font-weight: 600 !important;
}

.politeiaButton:hover {
  opacity: 0.85;
}

.proposalsLink {
  color: var(--link-color) !important;
  cursor: pointer;
}
