.agendaWrapper {
  margin-left: 100px;
  margin-top: 20px;
}

.header {
  background-color: var(--disabled-background-color);
  color: var(--modal-text);
  padding-left: 103px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.title {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: 10px;
  color: var(--title-text-and-button-background);
}

.description {
  font-size: 13px;
  line-height: 19px;
  margin-top: 0;
  width: 460px;
}

.dashboardButton {
  font-size: 13px !important;
  line-height: 17px !important;
  border-radius: 5px !important;
  padding: 6px 15px !important;
  margin: 4px !important;
  color: var(--info-modal-button-text) !important;
  background-color: var(--info-modal-button-bg) !important;
  border: 0 !important;
  text-decoration: none !important;
  box-shadow: 0 5px 13px var(--icons-shadow);
}

.dashboardButton:hover {
  background-color: var(--title-text-and-button-background-hovered) !important;
}

.links {
  margin-left: 130px;
}

.links a {
  margin: 0 !important;
}

.infoButton {
  border-radius: 0px;
  background-image: var(--tickets-info-icon);
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: transparent;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 4px 0;
}

.infoButton:hover {
  opacity: 0.7;
}
