.backButtonArea {
  position: absolute;
  left: 1467px;
  top: 66px;
  right: initial;
}

.privacy,
.security,
.timezone {
  float: left;
}

.general {
  order: 3;
}

.saveButtonWrapper {
  width: 1481px;
  text-align: right;
}

.saveButton {
  display: inline-block;
  margin-right: 0;
}

@media screen and (max-width: 1920px) {
  .backButtonArea {
    left: 1230px;
  }
}

@media screen and (max-width: 1680px) {
  .backButtonArea {
    left: 988px;
  }
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {
  .saveButtonWrapper {
    width: 1240px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1680px) {
  .privacy {
    order: 3;
  }

  .general {
    order: 2;
  }

  .saveButtonWrapper {
    width: 1000px;
  }

  .timezone {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .backButtonArea {
    left: 726px;
  }

  .privacy {
    order: 3;
  }

  .general {
    order: 2;
  }

  .saveButtonWrapper {
    width: 740px;
  }
}

@media screen and (max-width: 1180px) {
  .saveButtonWrapper {
    width: 649px;
  }
  .backButtonArea {
    left: 638px;
  }
}

@media screen and (max-width: 768px) {
  .backButtonArea {
    top: 40px;
    left: 342px;
  }

  .timezone {
    order: 3;
  }

  .saveButtonWrapper {
    width: 355px;
    text-align: center;
  }
}
