.title {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 14px;
  color: var(--stroke-color-hovered);
}

.configuredVSPs {
  position: relative;
}

.configuredVSP {
  width: 740px;
  height: 140px;
  background-color: var(--background-back-color);
  padding-left: 40px;
  padding-top: 20px;
  box-sizing: border-box !important;
  position: relative;
  margin-bottom: 20px;
}

.vspURL {
  font-size: 19px;
  line-height: 19px;
  margin-bottom: 17px;
}

.vspData {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 310px 360px;
  grid-template-rows: 23px 40px;
  font-size: 13px;
}

.txDetails {
  font-size: 13px;
  line-height: 17px;
  padding: 10px 9px 10px 8px;
  border-radius: 3px;
  background-color: var(--background-address-copy-color);
  color: var(--input-color-default);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 5px;
  width: 270px;
  height: 35px;
  box-sizing: border-box !important;
  text-align: center;
}

.txDetailsRaw {
  font-size: 13px;
  line-height: 15px;
  width: 320px;
  height: 35px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--wallet-close-button-text);
  padding: 10px;
  word-wrap: break-word;
  box-sizing: border-box !important;
  display: inline-block;
}

.txDetailsRawShadow {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 315px;
  height: 35px;
  background: linear-gradient(
    to top,
    rgb(243, 246, 246, 0.6) 10%,
    rgb(243, 246, 246, 0.5) 20%,
    rgb(243, 246, 246, 0) 70%
  );
  border-bottom: 1px var(--wallet-close-button-text) solid;
  border-left: 1px var(--wallet-close-button-text) solid;
  box-sizing: border-box !important;
}

::-webkit-scrollbar-thumb:hover {
  width: 5px;
  background-color: var(--tab-text-active-hover);
}

.copyToClipboard {
  margin-left: 10px;
  bottom: 8px;
}

.copyToClipboard:hover {
  opacity: 0.8;
}

.script {
  position: relative;
}

.poolFee {
  font-size: 13px;
  position: absolute;
  top: 20px;
  left: 582px;
}

.poolFeePercentage {
  font-weight: 600;
}

.close {
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: var(--delete-vsp);
  background-size: 17px 17px;
  cursor: pointer;
  right: 20px;
  top: 21px;
  background-repeat: no-repeat;
  position: absolute;
}

.buttonContainer {
  left: 530px;
  position: relative;
  display: flex;
  flex-direction: row;
}

.addVSP {
  width: 107px;
  height: 44px;
  box-sizing: border-box !important;
  text-align: center;
  padding: 0;
  line-height: 44px;
}

.cancelVSP {
  width: 107px;
  height: 44px;
  box-sizing: border-box !important;
}

.backupRedeemScriptModal {
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .configuredVSP {
    width: 355px;
    height: 210px;
  }

  .txDetails {
    width: 300px;
  }

  .txDetailsRaw {
    width: 270px;
  }

  .txDetailsRawShadow {
    width: 265px;
  }

  .vspData {
    grid-template-columns: 310px;
    grid-template-rows: 23px 40px 23px 40px;
  }

  .vspURL {
    margin-bottom: 25px;
  }

  .poolFee {
    top: 45px;
    left: 40px;
  }

  .buttonContainer {
    left: 140px;
  }
}
