.privacy,
.security,
.timezone {
  float: left;
}

.general {
  order: 3;
}

.saveButtonWrapper {
  width: 1481px;
  text-align: right;
}

.saveButton {
  display: inline-block;
  margin-right: 0;
}

@media screen and (min-width: 1680px) and (max-width: 1920px) {
  .saveButtonWrapper {
    width: 1240px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1680px) {
  .privacy {
    order: 3;
  }

  .general {
    order: 2;
  }

  .saveButtonWrapper {
    width: 1000px;
  }

  .timezone {
    margin-left: 20px;
    width: 21rem;
  }
}

@media screen and (max-width: 1400px) {
  .privacy {
    order: 3;
  }

  .general {
    order: 2;
  }

  .saveButtonWrapper {
    width: 740px;
  }
}

@media screen and (max-width: 1180px) {
  .saveButtonWrapper {
    width: 649px;
  }
}

@media screen and (max-width: 768px) {
  .timezone {
    order: 3;
  }

  .saveButtonWrapper {
    width: 355px;
    text-align: center;
  }
}
