.container {
  color: var(--title-text-and-button-background);
  padding-top: 57px;
  position: relative;
}

.topLinks {
  position: absolute;
  right: 15px;
  top: -25px;
  margin: inherit;
  user-select: none;
}

.blockchainSyncing {
  padding-left: 56px;
  background-image: var(--loader-animation-blockchain-syncing) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.daemonWaiting {
  padding-left: 56px;
  background-image: var(--loader-animation-daemon-waiting) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.daemonWaiting.initial {
  background-image: var(--loader-animation-daemon-waiting-initial) !important;
}

.discoveringAddresses {
  padding-left: 56px;
  background-image: var(--loader-animation-discovering-addresses) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.establishingRpc {
  padding-left: 56px;
  background-image: var(--loader-animation-establishing-rpc) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.fetchingHeaders {
  padding-left: 56px;
  background-image: var(--loader-animation-fetching-headers) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.finalizingSetup {
  padding-left: 56px;
  background-image: var(--loader-animation-finalizing-setup) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.scanningBlocks {
  padding-left: 56px;
  background-image: var(--loader-animation-scanning-blocks) !important;
  background-position: 15px 15px;
  background-size: 30px;
}

.updateAvailableLink {
  color: var(--input-color);
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  padding: 12px 30px 14px 30px;
  outline: none;
}
.updateAvailableLink:hover {
  color: var(--input-color-hover);
}
.updateAvailableTooltip {
  width: max-content;
  text-align: center;
}

@media (--sm-viewport) {
  .container {
    padding-top: 23px;
    margin-left: 0;
  }

  .topLinks {
    right: -30px !important;
  }
}
