.pageBody.getstarted {
  padding: 40px;
  background-color: var(--background-container);
  display: block;
}

.shutdownText {
  font-size: 30px;
  text-align: center;
}

.button {
  padding: 5px 16px 10px 16px;
}

.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box !important;
  width: 240px;
  clear: left;
}

.toggleLabelExample {
  margin-left: 0.1rem;
  margin-top: 0.1rem;
}

.getstartedNew {
  color: var(--title-text-and-button-background);
  padding-left: 52px;
  padding-top: 106px;
}

.title {
  font-size: 27px;
  line-height: 34px;
  margin-bottom: 6px;
}

.titleSub {
  color: var(--header-desc-color);
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 42px;
  width: 296px;
}

.titleSub a {
  color: var(--link-color);
}

.toolbar {
  height: 29px;
  display: flex;
}

.pageForm {
  width: 100%;
  float: left;
}

.pageForm.toggle {
  padding-top: 25px;
  height: 258px;
}

.daemonNetwork {
  font-size: 20px;
  text-transform: capitalize;
}

.daemonRow {
  float: left;
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
}

.daemonLabel {
  float: left;
  width: 130px;
  text-align: right;
  color: var(--wallet-tutorial-text);
  font-size: 13px;
}

.daemonInput {
  padding-left: 10px;
  float: left;
  width: 295px;
}

.daemonInput .inputAndUnit > input {
  line-height: 17px;
  font-size: 13px;
}

.daemonInput .inputAndUnit > input::placeholder {
  color: #c4cbd2;
}

.daemonLongInput {
  padding-left: 20px;
  float: left;
  width: 450px;
}

.pageBody.getstarted {
  padding: 40px;
  display: block;
  background-color: var(--background-container);
  z-index: 3;
  height: calc(100% - 60px);
  overflow-x: hidden;
}

.pageBody.getstarted::before {
  content: "";
  width: 100%;
  height: 33px;
  top: 0;
  left: 0;
  display: block;
  background-repeat: no-repeat;
  background-image: var(--launcher-logo);
  background-size: 173px;
  background-position: 0 0;
}

.pageBody.getstarted.testnetBody::before {
  background-image: var(--testnet-logo);
}

.pageBody.getstarted .tabbedPageSubtitle {
  font-size: 27px;
  margin-left: 10px;
}
.pageBody.getstarted .getstarted.settings .tabbedPageSubtitle {
  margin-left: 0;
}

.getstarted {
  color: var(--title-text-and-button-background);
}

.getstarted.loader.logs .active {
  color: var(--input-color);
}

.getstarted.loader.logs .logContainer {
  margin-top: 10px;
  max-height: 600px;
  width: 100%;
  overflow-y: auto;
}

.getstarted.loader {
  padding-top: 57px;
  position: relative;
}

.settings .goBackScreenButtonArea {
  position: absolute;
  left: 1467px;
  top: 66px;
  right: initial;
}

.settings .saveButtonWrapper {
  width: 1484px;
  text-align: right;
}

.settings .saveButtonWrapper .keyBlueButton {
  margin-top: 0;
  padding: 12px 30px 14px 30px;
}

.goBackScreenButtonArea {
  position: fixed;
  right: 55px;
  top: 135px;
}

.goBackScreenButton {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-image: var(--x-grey);
  opacity: 1;
  cursor: pointer;
}

.goBackScreenButton:hover {
  opacity: 0.7;
}

.loaderBarIcon {
  position: absolute;
  right: 37px;
  top: 286px;
}

.loaderBarIcon .loaderBarIconText {
  float: left;
  margin-top: 14px;
  margin-right: 20px;
}

.loaderBarIcon .newLogoAnimation {
  float: right;
  margin: 0;
  height: 50px;
  width: 50px;
  background-size: 50px;
}

.loaderBar {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.loaderButtons {
  float: left;
  margin-bottom: 90px;
  width: 100%;
}

.loaderSettingsLogs {
  position: absolute;
  right: 15px;
  top: -25px;
  margin: inherit;
  user-select: none;
}

.getstarted.loader .tutorialButton {
  background-color: var(--info-modal-button-bg);
  color: var(--back-button-dark-text);
}

.getstarted.loader .tutorialButton:hover {
  background-color: var(--title-text-and-button-background-hovered);
}

.getstarted.loader .pageForm .loaderBarButtons {
  position: absolute;
  top: 320px;
  right: 0px;
}

.getstarted.loader .contentTitle {
  font-size: 27px;
  line-height: 34px;
  margin-bottom: 13px;
  float: left;
  width: 100%;
}

.getstarted.loader .contentTitle .loaderBarButtons {
  position: fixed;
  right: 41px;
  top: 425px;
  user-select: none;
}

.getstarted.loader .contentTitle .loaderBarButtons > .button:not(:last-child) {
  margin-right: 10px;
}

.getstarted.loader .contentTitle .loaderBarButtons .invisibleButton {
  font-weight: 400;
}

.loaderBarBottom {
  float: left;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.getstarted.content {
  margin-top: 55px;
}

.walletKeyBlueButton:not(.keyBlueButtonDisabled) {
  box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.21);
}

.walletKeyBlueButton:hover {
  box-shadow: none;
}

.walletIcon {
  width: 50px;
  height: 50px;
  margin-left: 43px;
  background-size: 40px 40px;
  background-position: 6px 6px;
}

.walletIcon.createnew {
  background-size: 49px 49px;
  background-position: 0px 0px;
}

.walletIcon.restore {
  background-size: 49px 49px;
  background-position: 0px 0px;
}

.walletIcon {
  margin-left: 54px;
  height: 62px;
  width: 62px;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: 8px 10px;
}

.walletIcon.wallet {
  background-image: var(--wallet-gray-icon);
}

.walletIcon.selected {
  background-image: var(--wallet-blue-icon);
}

.walletIcon.createnew {
  margin-top: 25px;
  background-size: 58px 58px;
  background-position: 0px 5px;
  background-image: var(--createnewwallet);
}

.walletIcon.restore {
  margin-top: 25px;
  background-size: 58px 58px;
  background-position: 0px 5px;
  background-image: var(--restore-wallet-icon);
}

.displayWallet {
  width: 136px;
  height: 131px;
  font-size: 12px;
}

.displayWalletComplete {
  min-height: 12px;
}
.displayWalletLastAccess {
  font-size: 9px;
}
.displayWalletLaunch {
  font-size: 11px;
  margin-left: 34px;
}

.displayWallet {
  color: transparent;
  margin: 5px 10px 5px 0px;
  float: left;
  height: 161px;
  width: 168px;
  border-radius: 5px;
  border: 1px solid var(--background-container);
  background: var(--display-wallet-bg);
  font-size: 15px;
}

.displayWallet:hover {
  color: var(--background-back-color);
  cursor: pointer;
}

.displayWallet.new {
  background: none;
  background-color: var(--background-back-color);
}

.displayWallet.new .displayWalletName {
  color: var(--new_wallet-label);
  margin-top: 20px;
}

.displayWalletButtons {
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
  float: right;
}

.displayWalletButton {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 50% 50%;
  box-shadow: 0px 3px 8px var(--title-text-and-button-background-drop-shadow);
}

.displayWalletButton:hover {
  box-shadow: 0px 1px 3px var(--title-text-and-button-background-drop-shadow);
}

.displayWalletButton.remove {
  background-color: var(--button-text);
  background-image: var(--launcher-wallet-delete);
}

.displayWalletButton.remove:hover {
  background-image: var(--launcher-wallet-delete-hover);
}

.displayWallet:hover:not(.selected) {
  border: 1px solid var(--disabled-color);
}

.displayWallet.selected {
  background: linear-gradient(
    45deg,
    var(--input-color),
    var(--display-wallet-gradient-selected-right)
  );
  box-shadow: 0px 5px 21px var(--title-text-and-button-background-drop-shadow);
  border: 1px solid var(--input-color);
}

.displayWallet.selected .displayWalletName {
  color: var(--selected_wallet-label);
}

.displayWalletComplete {
  color: var(--title-text-and-button-background);
  margin-top: 5px;
  min-height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}

.displayWalletName {
  color: var(--wallet-label);
  text-align: center;
}

.displayWalletLastAccess {
  height: 11px;
  color: var(--button-text);
  text-align: center;
  font-size: 11px;
}

.displayWalletCancelChanges {
  float: left;
  margin-top: 7px;
  margin-left: 39px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 131ms var(--ease-in-out-quart);
}

.displayWalletLaunch {
  color: var(--white-button-text);
  float: left;
  margin-top: 7px;
  margin-left: 39px;
  margin-right: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: color 131ms var(--ease-in-out-quart);
}

.displayWalletCancelChanges:hover,
.displayWalletLaunch:hover {
  border-bottom: 1px solid var(--background-back-color);
}

.displayWalletLastAccess.selected,
.displayWalletComplete.selected {
  color: var(--wallet-desc);
}

.editWalletsButton {
  margin: 5px;
  float: left;
  height: 36px;
  width: 36px;
  border-radius: 5px;
  background-color: var(--background-back-color);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 50% 50%;
  background-image: var(--launcher-edit-wallets);
  cursor: pointer;
}

.editWalletsButton:hover {
  background-image: var(--launcher-edit-wallets-hover);
}

.editWalletsButton.close {
  background-color: var(--disabled-color);
  background-size: 12px 12px;
  background-image: var(--x-white-icon);
}

.newWalletTitleArea {
  float: left;
  width: 100%;
  margin-left: 22px;
  margin-top: 20px;
  margin-bottom: 22px;
}

.newWalletTitle {
  float: left;
  font-size: 15px;
  line-height: 19px;
  margin-top: 3px;
}

.walletIconSmall {
  float: left;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  margin-right: 10px;
}

.walletIconSmall.createnew {
  background-image: var(--createnewwallet);
}

.walletIconSmall.restore {
  background-image: var(--restore-wallet-icon);
}

.contentTitle {
  font-size: 27px;
  line-height: 34px;
  margin-bottom: 35px;
  width: 100%;
}

.advancedDesc {
  font-size: 19px;
  color: var(--modal-text);
  margin-bottom: 43px;
  margin-top: 60px;
  width: 444px;
  float: left;
}

.releaseNotes {
  display: flex;
  clear: both;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 65vh;
  overflow-y: scroll;
  padding-right: 1em;
}

.releaseNotesImage {
  width: 590px;
  height: 295px;
  margin-top: 14px;
  background-repeat: no-repeat;
  background-size: 590px;
}

@media screen and (max-width: 1140px) {
  .releaseNotesImage {
    flex: 1;
    margin-top: 14px;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    background-size: contain;
    padding-bottom: 50%;
  }
}

@media screen and (max-width: 890px) {
  .releaseNotesText {
    max-width: inherit;
  }
  .releaseNotesImage {
    order: -1;
  }
}

.releaseNotesImage.release-image-v130 {
  background-image: var(--release-image-v130);
}
.releaseNotesImage.release-image-v140 {
  background-image: var(--release-image-v140);
}
.releaseNotesImage.release-image-v150 {
  background-image: var(--release-image-v150);
}

.releaseNotesText {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  max-width: 410px;
}

.releaseNotesText a {
  color: var(--link-color);
}

.releaseNotesVersionNavigation {
  font-size: 13px;
}

.releaseNotesVersionNavigation > a {
  margin-right: 30px;
  cursor: pointer;
  color: var(--title-text-and-button-background);
  text-decoration: none;
}

.whatsnew {
  font-size: 13px;
  margin-left: 20px;
  text-decoration: underline;
  cursor: pointer;
  color: var(--info-modal-button-bg);
}

.whatsnew:hover {
  opacity: 0.7;
}

@keyframes bounce {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 2px;
  }

  100% {
    margin-left: 0px;
  }
}

.launchArrowBounce {
  color: var(--white-button-text);
  float: left;
  margin-top: 6px;
  animation: bounce 1s var(--ease-in-out-quart) infinite;
}

.customPrivacySettings {
  width: 300px;
}

.title {
  font-size: 27px;
  line-height: 34px;
  margin-bottom: 6px;
}

.titleSub {
  color: var(--header-desc-color);
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 42px;
  width: 296px;
}

.titleSub a {
  color: var(--link-color);
}

.privacyOptions {
  display: flex;
  justify-content: center;
  margin-left: 35px;
  padding-right: 2em;
}

.privacyOption {
  width: 296px;
  min-width: 296px;
  height: 342px;
  border-radius: 5px;
  margin-right: 20px;
  padding: 1px;
  background-color: var(--background-back-color);
  color: var(--modal-text);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.privacyOption:hover {
  padding: 0;
  border: 1px solid var(--input-color);
}

.privacyOption:hover .privacyOptionTitle {
  color: var(--input-color);
}

.privacyTextContainer {
  margin: 0 30px;
  flex: 1;
}

.privacyOptionTitle {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 8px;
}

.privacyOptionDescription {
  font-size: 13px;
  line-height: 17px;
}

.privacyOptionIcon {
  margin: 30px 0 20px 0;
  background-repeat: no-repeat;
  background-size: 150px;
  width: 150px;
  height: 150px;
  background-position: center;
  align-self: center;
}

.privacyOptionIcon.standard {
  background-image: var(--stakey-privacy-standard);
}

.privacyOptionIcon.disabled {
  background-image: var(--stakey-privacy-disabled);
}

.privacyOptionIcon.custom {
  background-image: var(--stakey-privacy-custom);
}

.privacyOptionIcon.spvOn {
  background-image: var(--enable-spv);
}

.privacyOptionIcon.spvOff {
  background-image: var(--disable-spv);
}

.stakepoolAddRow {
  float: left;
  width: 100%;
}

.stakepoolAddCol {
  padding-top: 1em;
}

.stakepoolAddCol.left {
  padding-right: 1em;
}

.stakepoolAddCol.right {
  float: left;
  width: 27%;
  margin-left: 100px;
  background-color: var(--disabled-background-color);
  padding: 2em;
}

.field {
  display: grid;
  min-height: 2em;
  grid-template-columns: 30% 87%;
  margin-bottom: 2em;
}

.label {
  text-align: right;
}

.stakepoolAddButtons {
  float: left;
}

.trezorConfigSections {
  margin-top: 14em;
}

.launchError {
  margin: 0 300px 20px 0;
  color: var(--error-text-color);
  overflow-wrap: break-word;
}

.daemonWarning {
  padding: 10px;
}

.advancedOptionsLabel {
  margin-left: 22px;
}

@media screen and (max-width: 1919px) {
  .settings .goBackScreenButtonArea {
    left: 1230px;
  }
  .settings .saveButtonWrapper {
    width: 1247px;
  }
}

@media screen and (max-width: 1679px) {
  .settings .goBackScreenButtonArea {
    left: 988px;
  }
  .settings .saveButtonWrapper {
    width: 1002px;
  }
}

@media screen and (max-width: 1439px) {
  .settings .goBackScreenButtonArea {
    left: 726px;
  }
  .settings .saveButtonWrapper {
    width: 740px;
  }
}

@media screen and (max-width: 1180px) {
  .settings .goBackScreenButtonArea {
    left: 636px;
    top: 112px;
  }
  .settings .saveButtonWrapper {
    width: 650px;
  }
}

@media screen and (max-width: 978px) {
  .privacyOptions.wide {
    justify-content: flex-start;
    margin-left: 0;
  }

  .privacyOptions.wide .privacyOption {
    width: 209px;
    min-width: 209px;
  }

  .privacyOptions.wide .privacyOption .privacyOptionIcon {
    background-size: 114px;
    width: 114;
    height: 114px;
  }

  .privacyOptions.wide .privacyOption .privacyTextContainer {
    margin: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .getstartedNew {
    padding: 86px 0 0 0;
  }

  .releaseNotes {
    height: 77vh;
  }

  .privacyOptions {
    margin: 0 -10px;
  }

  .pageBody.getstarted {
    padding: 20px !important;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
  }

  .pageBody.getstarted.testnetBody::before,
  .pageBody.getstarted::before {
    background-image: var(--small-logo);
    background-size: 30px;
  }

  .contentTitle {
    margin-bottom: 20px;
  }

  .getstarted.loader {
    padding-top: 23px;
    margin-left: 0;
  }

  .advancedDesc {
    width: 315px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .textToggleButtonRight {
    padding: 6px 10px;
  }

  .loaderButtons {
    margin-bottom: 50px;
  }

  .editWalletsButton {
    margin: 5px 0;
  }

  .loaderBar {
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .daemonLabel {
    width: 77px;
  }
  .daemonInput {
    width: 243px;
  }

  .daemonRow.dataform .daemonLabel {
    width: 130px;
  }
  .daemonRow.dataform .daemonInput {
    width: 190px;
  }

  .loaderBarButtons,
  .getstarted.loader .pageForm .loaderBarButtons {
    position: fixed;
    margin-left: 10px;
    bottom: 75px;
    right: 20px;
    top: initial;
  }

  .invisibleButton,
  .button {
    padding: 6px 20px;
  }

  .getstarted.loader .contentTitle {
    font-size: 23px;
  }

  .getstarted.loader.logs {
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 30px;
  }

  .logArea .logAreaLogs {
    margin: 20px;
  }

  .logContainer .tabbedPageSubtitle {
    margin-left: 10px;
  }

  .getstarted.loader.logs .goBackScreenButtonArea {
    top: 85px;
    right: 20px;
  }
  .getstarted.loader.logs .loaderSettingsLogs {
    right: -10px !important;
    top: -40px !important;
  }

  .settings .tabbedPageSubtitle {
    margin-left: 20px;
  }

  .settings .goBackScreenButtonArea {
    top: 40px;
    left: 342px;
  }

  .settings .saveButtonWrapper {
    text-align: center;
    width: 355px;
  }

  .daemonRow.multipleRow {
    width: 78%;
  }

  .loaderSettingsLogs {
    right: -30px !important;
  }

  .launchError {
    margin: 0 0 20px 0;
    width: 315px;
  }
}

@media screen and (max-height: 746px) {
  .pageBody.getstarted {
    height: calc(100% - 60px);
  }
}

@media screen and (max-width: 511px) {
  .keyBlueButton {
    margin-top: 0px;
  }
}

@media screen and (max-width: 710px) {
  .privacyOptions.wide,
  .privacyOptions {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .privacyOption {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    min-height: 137px;
    height: inherit;
  }

  .privacyOptionIcon {
    margin: 20px 0px;
    background-size: 40px;
    width: 80px;
    height: 40px;
    align-self: flex-start;
  }

  .privacyTextContainer {
    margin: 20px 20px 20px 0;
  }
}

@media screen and (max-width: 600px) {
  .daemonRow.multipleRow {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .getstarted.loader .aboutModalButton {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .getstarted.loader .goBackScreenButtonArea {
    right: 59px;
  }
}

@media screen and (max-width: 375px) {
  .getstartedNew {
    padding: 64px 0 0 0px;
  }
  .title {
    font-size: 23px;
  }
}
