.button {
  padding: 0 !important;
  width: 24px;
  height: 24px;
  background-size: 17px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--small-button-bg) !important;
  border: none !important;
  box-shadow: 0px 2px 8px var(--small-button-shadow);
  transition: none !important;
}
.button:hover {
  opacity: 0.85;
}
.button:disabled {
  background-color: var(--small-button-disabled-bg) !important;
}
