.votingProgressIndicator {
  width: 150px;
  height: 5px;
  position: relative;
  display: flex;
  margin-top: 2px;
  border: 1px solid var(--white-border);
  margin-right: 20px;
  border-radius: 10rem;
}
.votingProgressIndicator .votingProgressYes {
  background-color: var(--vote-yes-color);
}
.votingProgressIndicator .votingProgressNo {
  background-color: var(--vote-no-color);
}

@media (--bg-viewport) {
  .votingProgressIndicator {
    width: 120px;
  }
}
@media (--sm-viewport) {
  .votingProgressIndicator {
    width: 120px;
  }
}
