.ticketForm {
  display: grid;
  grid-template-columns: 100px 250px;
}

.legacyIcon {
  margin-left: auto;
  cursor: pointer;
}

.checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
}

.checkboxLabel {
  cursor: pointer;
}

.label {
  font-size: 14pt;
  margin-top: -5px;
  margin-left: 4px;
}

.infoFields strong {
  color: var(--input-color);
}

@media screen and (max-width: 768px) {
  .ticketForm {
    display: grid;
    grid-template-columns: 50px 225px;
    text-align: right;
  }
}
