.ticketForm {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-gap: 12px;
}

.legacyIcon {
  margin-left: auto;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.useLegacyLabel {
  font-size: 16px;
}

.infoFields strong {
  color: var(--input-color);
}

.privacyForm {
  background-color: var(--background-back-color);
  border-radius: 10px;
}

.purchaseForm {
  background-color: var(--background-back-color);
  padding: 29px 20px 29px 20px;
}

.privacyArea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 19px;
  background-color: var(--background-back-color);
}

.privacyInfo {
  background-color: var(--info-message-background);
  background-image: var(--tickets-info-icon);
  background-position-x: 10px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  display: grid;
  grid-template-columns: 30fr 1fr;
  grid-row-gap: 10px;
  padding: 10px 10px 10px 40px;
}

.readMoreIcon {
  background-image: var(--arrow-down-mid-blue-icon);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 12px;
  height: 15px;
  width: 12px;
  margin-left: auto;
  transform: rotate(180deg);
  background-position-y: 0;
}

.readMoreIcon.active {
  background-position-y: 8px;
  transform: rotate(0);
}

.privacyInfo:hover {
  cursor: pointer;
}

.title {
  font-size: 15px;
  margin-bottom: 10px;
}

.autobuyerWrapper {
  background-color: var(--background-back-color);
  padding: 29px 20px 29px 20px;
}

.rememberVspCheckBox {
  grid-column: 2;
  justify-self: right;
}

.enableVSPButton {
  margin-bottom: 40px;
}

.enableVSPWrapper {
  margin: 10px;
}

.enableVSPMessage {
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .ticketForm {
    display: grid;
    grid-template-columns: 50px 225px;
    text-align: right;
  }
  .purchaseForm {
    padding-bottom: 0;
    flex-direction: column !important;
  }

  .purchaseForm.isRow {
    flex-direction: column;
  }
}
