.isRow {
  display: flex;
  flex-direction: row;
}
.isColumn {
  display: flex;
  flex-direction: column;
}
.ticketForm {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-gap: 12px;
}

.legacyIcon {
  margin-left: auto;
  cursor: pointer;
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.useLegacyTooltip {
  font-size: 12px;
  width: 20rem;
}

.useLegacyLabel {
  font-size: 16px;
}

.infoFields strong {
  color: var(--input-color);
}

.privacyForm {
  background-color: var(--background-back-color);
  border-radius: 10px;
}

.purchaseForm {
  background-color: var(--background-back-color);
  padding: 29px 20px 29px 20px;
}

.privacyArea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 19px;
  background-color: var(--background-back-color);
}

.privacyInfo {
  background-color: var(--info-message-background);
  background-image: var(--tickets-info-icon);
  background-position-x: 10px;
  background-position-y: 10px;
  background-repeat: no-repeat;
  background-size: 20px;
  display: grid;
  grid-template-columns: 30fr 1fr;
  grid-row-gap: 10px;
  padding: 10px 10px 10px 40px;
}

.readMoreIcon {
  background-image: var(--arrow-down-mid-blue-icon);
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: 12px;
  height: 15px;
  width: 12px;
  margin-left: auto;
  transform: rotate(180deg);
  background-position-y: 0;
}

.readMoreIcon.active {
  background-position-y: 8px;
  transform: rotate(0);
}

.privacyInfo:hover {
  cursor: pointer;
}

.title {
  font-size: 15px;
  margin-bottom: 10px;
}

.autobuyerWrapper {
  background-color: var(--background-back-color);
  padding: 29px 20px 29px 20px;
}

.rememberVspCheckBox {
  grid-column: 2;
  justify-self: right;
}

.enableVSPButton {
  margin-bottom: 40px;
}

.enableVSPWrapper {
  margin: 10px;
}

.enableVSPMessage {
  padding-bottom: 20px;
}

.rowLabel {
  font-size: 19px;
  color: var(--input-color-default);
  align-self: flex-end;
}

.inputAddress {
  align-self: flex-start;
}
.inputAddress .rowLabel {
  width: 82px;
  text-align: right;
  justify-self: flex-end;
}
.inputAmount {
  flex-wrap: wrap;
  align-self: flex-start;
}
.inputAmount .rowLabel {
  padding-left: 52px;
}
.inputSelectContainer {
  display: flex;
  align-self: center;
}
.inputSelect {
  font-size: 16px;
  text-align: left;
  width: 220px;
  margin-right: 6px;
  margin-left: 6px;
  margin-top: 3px;
}
.infoIcon {
  background-position: 0px 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  padding-left: 30px;
  width: 100%;
  font-family: var(--font-family-monospace);
  color: var(--header-desc-lighter-color);
  font-size: 11px;
  line-height: 11px;
  display: flex;
  align-items: center;
  height: 25px;
}
.infoIcon.poolFeeIcon {
  background-image: var(--pool-fee-icon);
}
.infoIcon.accountSelectIcon {
  background-image: var(--wallet-gray-icon);
  width: 25px;
  background-position: 2px 5px;
  background-size: 22px;
  align-self: flex-end;
}
.inputValidMessageArea {
  width: 200px;
  position: relative;
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 72px auto;
  bottom: 0px;
  left: 0px;
  margin: 0;
  padding-top: 10px;
  padding-left: 72px;
}
.info {
  margin-bottom: 10px;
  background-color: var(--transfer-details-bg);
}
.actionButtons {
  float: right;
  margin: 15px 19px 0 0;
}
.buttonsArea {
  text-align: right;
  display: flex;
  width: 740px;
  justify-content: flex-end;
}
.revokeButton {
  margin-right: 10px;
}
.vspContainer {
  display: flex;
}
.vspContainer .ticketPoolFee {
  margin-left: 10px;
}
.vspContainer .ticketPoolFee > div:nth-child(1) {
  width: 50px;
}
.purchaseTicketArea {
  width: 740px;
  -webkit-user-select: text;
}
.purchaseTicketArea .tabbedPageSubtitle {
  width: auto;
  justify-content: space-between;
}
.autoBuyerRow {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  flex-direction: row-reverse;
}
.autobuyerInput {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;

  width: 200px;
}
.autoBuyerRowPortionFull {
  width: 100%;
  text-align: center;
}
.autoBuyerRowPortionFull .autobuyerInput {
  width: 100px;
}
.autoBuyerRowPortionHalf {
  width: 50%;
  display: flex;
  margin-bottom: 10px;
}
.autoBuyerRowPortionHalf .autobuyerInput {
  width: 230px;
}
.autoBuyerRowPortionHalf {
  width: 50%;
  display: flex;
  margin-bottom: 10px;
}
.autoBuyerRowPortionHalf .autobuyerInput {
  width: 230px;
}
.autobuyerLabel {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;

  font-size: 16px;
  line-height: 20px;
}
.error {
  color: var(--error-text-color);
}
.orangeWarning {
  position: inherit;
}
.confirmLabel {
  display: inline-block;
  margin-right: 0.5em;
}

@media screen and (max-width: 1179px) {
  .inputSelect {
    width: 220px;
  }
  .buttonsArea {
    width: 667px;
  }
  .purchaseTicketArea {
    width: 667px;
  }
}

@media screen and (max-width: 768px) {
  .purchaseTicketArea {
    width: 355px;
  }
  .ticketForm {
    display: grid;
    grid-template-columns: 50px 225px;
    text-align: right;
  }
  .purchaseForm {
    padding-bottom: 0;
    flex-direction: column !important;
  }

  .purchaseForm.isRow {
    flex-direction: column;
  }
  .rowLabel {
    font-size: 13px;
  }
  .inputAddress .rowLabel {
    width: inherit;
    text-align: right;
  }
  .inputAmount {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .inputAmount .rowLabel {
    padding-left: 0;
  }
  .inputSelectContainer .inputSelect {
    width: 205px;
  }
  .inputSelectContainer {
    display: flex;
  }
  .inputSelect {
    margin-left: 10px;
    align-self: flex-end;
  }
  .buttonsArea {
    width: 355px;
    margin-bottom: 20px;
  }
  .autoBuyerRow {
    flex-direction: column;
  }
  .autoBuyerRowPortionFull {
    text-align: start;
  }
}
