.balanceHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.balanceTile {
  padding: 30px;
  background-color: var(--background-back-color);
  width: 400px;
  flex: 0 1 28em;
}

.balanceValue {
  font-size: 32px;
}
.hasInbound {
  border-bottom: 10px solid var(--cyan-bold);
}
.zeroFunds {
  border-bottom: 10px solid var(--error-red);
}

.lnAddInvoice {
  display: grid;
  grid-template-columns: 23fr 8fr 50px;
  grid-column-gap: 20px;
  background-color: var(--background-back-color);
  padding: 1em 2em 3em;
  margin-bottom: 4em;
}

.invoiceButton {
  font-size: 30px;
  padding: 12px;
  height: 18px;
}

.lastPayRequest {
  word-break: break-all;
  grid-column: 1 / 3;
  padding: 1em 2em;
  color: var(--stroke-color-hovered);
}

.clipboardBox {
  padding-top: 2em;
}

.lastError {
  color: var(--error-red);
  padding: 1em 2em;
  grid-column: 1 / 3;
}

.lnInvoice {
  margin-top: 1em;
  background-color: var(--background-back-color);
  padding: 1em 1em 1em 3em;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  min-height: 40px;
}

.statusExpired {
  border-left: 10px solid var(--vote-no-color);
}
.statusSettled {
  border-left: 10px solid var(--accent-color);
}
.statusOpen {
  border-left: 10px solid var(--blue-highlight-background);
}

.value {
  font-size: 32px;
}

.memo {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 18em;
}

.rhash {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 18em;
  color: var(--stroke-color-default);
}
