.lnAddInvoice {
  display: grid;
  grid-template-columns: 23fr 8fr 50px;
  grid-column-gap: 20px;
  background-color: var(--background-back-color);
  padding: 1em 2em 3em;
  margin-bottom: 4em;
}

.invoiceButton {
  font-size: 30px;
  padding: 12px;
  height: 18px;
}

.lastPayRequest {
  word-break: break-all;
  grid-column: 1 / 3;
  padding: 1em 2em;
  color: var(--stroke-color-hovered);
}

.clipboardBox {
  padding-top: 2em;
}

.lastError {
  color: var(--error-red);
  padding: 1em 2em;
  grid-column: 1 / 3;
}
