.headerWrapper {
  background-color: var(--governance-tab-bg);
}

.pikeysWrapper {
  margin: 20px 60px;
  display: flex;
  flex-wrap: wrap;
}

.proposalsLink {
  color: var(--link-color) !important;
  cursor: pointer;
}

.proposalsLink:hover {
  text-decoration: underline !important;
}

.cardWrapper {
  display: flex;
  margin-bottom: 5px;
}

@media (--bg-viewport) {
  .pikeysWrapper {
    margin-left: 35px;
  }
}

@media (--sm-viewport) {
  .pikeysWrapper {
    margin: 20px;
  }
}
