.overlay,
.overlayReducedBar,
.overlayStandalone {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  left: 296px;
}

.overlayReducedBar {
  left: 60px;
}

.overlayStandalone {
  left: 0;
}

.modal {
  margin-right: 296px;
  margin-bottom: 100px;
  margin-left: 30px;
}

.reducedBar,
.standalone {
  margin-bottom: 100px;
}

.modal,
.reducedBar,
.standalone {
  color: var(--title-text-and-button-background);
  background-color: var(--background-back-color);
  box-shadow: 0 15px 34px rgba(9, 20, 64, 0.21);
  z-index: 200;
}

.reducedBar {
  width: 540px;
}

.modal.info,
.modal.confirm,
.reducedBar.confirm,
.reducedBar.info,
.standalone.info {
  max-height: 60%;
  z-index: 200;
  overflow-y: auto;
  text-align: left;
  width: 445px;
  background-image: var(--tickets-info-icon);
  background-attachment: local;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 18px 32px;
  padding: 30px 40px 20px 58px;
  font-size: 13px;
  line-height: 17px;
}

.modal.info {
  display: flex;
  flex-direction: column;
}

.mixerSettings.info {
  background-image: none;
  padding: 30px;
  min-width: 620px;
  overflow-x: hidden;
}

.modal.info.double,
.reducedBar.info.double,
.standalone.info.double,
.modal.passphrase,
.modal.confirm,
.modal.importRedeemScript,
.reducedBar.passphrase {
  width: 540px;
}

.modal.about,
.reducedBar.about,
.standalone.about {
  max-height: 60%;
  z-index: 200;
  overflow-y: auto;
  text-align: left;
  width: 611px !important;
  height: 342px;
  font-size: 13px;
  line-height: 17px;
  color: var(--modal-text);
}

.modal.about a,
.reducedBar.about a,
.standalone.about a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--modal-text);
}

.modal.about a:hover,
.reducedBar.about a:hover,
.standalone.about a:hover,
.modal.about a:active,
.reducedBar.about a:active,
.standalone.about a:active {
  color: var(--input-color);
}

.aboutIcon {
  float: left;
  height: 231px;
  width: 231px;
  box-shadow: 0px 13px 21px rgba(9, 20, 64, 0.34);
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-position: 50%;
  background-image: var(--decred-macos-1024-logo);
  background-size: 231px;
  background-repeat: no-repeat;
  border-radius: 48px;
}

.aboutContent {
  float: left;
  width: 260px;
  margin-left: 50px;
  margin-top: 30px;
}

.aboutTitle {
  font-size: 27px;
  line-height: 34px;
  margin-bottom: 20px;
}

.aboutText {
  font-size: 13px;
  line-height: 17px;
}

.aboutBottomArea {
  float: left;
  width: 571px;
  margin-left: 20px;
  border-top: 1px solid var(--modal-stroke-color);
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--modal-bottom);
}

.aboutBottomArea .aboutBottomAreaMiddle a,
.aboutBottomArea .aboutBottomAreaRight a {
  color: var(--modal-bottom) !important;
}

.aboutBottomArea a.aboutUpgrade {
  color: var(--input-color);
  cursor: pointer;
  text-decoration: none;
}

.aboutBottomArea a.aboutUpgrade:hover {
  color: var(--input-color-hover);
}

.aboutTextParagraph {
  margin-bottom: 10px;
}

.infoCloseButton {
  font-size: 13px;
  line-height: 17px;
  padding: 6px 20px;
  text-transform: none;
  width: 80px;
  height: 40px;
  align-self: flex-end;
}

.mixerSettings .infoCloseButton {
  float: right;
}

.infoCloseButtonTop {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background-image: var(--x-grey);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.infoCloseButtonTop:hover {
  opacity: 0.7;
}

.modal.passphrase,
.reducedBar.passphrase {
  z-index: 200;
  overflow-y: auto;
  padding: 2em;
  line-height: normal;
  text-align: left;
  color: var(--title-text-and-button-background);
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
}

.double .infoDocumentation:not(.constitution) {
  column-count: 2;
  margin-bottom: 20px;
}

.infoContent h1 {
  font-size: 27px;
  line-height: 34px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 8px;
  column-span: all;
}

.infoContent p {
  break-inside: avoid-page;
  color: var(--modal-text);
  margin-bottom: 2em;
  text-align: justify;
}

.infoContent li {
  list-style-position: inside;
  text-align: justify;
}

.infoContent li p {
  display: inline;
}

.infoContent ol {
  margin: 0;
  padding: 0;
  counter-reset: item;
}

.infoContent ol > li {
  margin: 0;
  list-style-type: none;
  counter-increment: item;
  list-style-position: inside;
  margin-bottom: 2em;
}

.infoContent ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  margin-left: -3px;
  font-weight: 600;
  text-align: right;
  content: counter(item) ".";
}

.passphraseToolbar > .passphraseCloseButton,
.importRedeemScriptToolbar > .passphraseCloseButton {
  margin-right: 10px;
  float: left;
}

.passphraseHeader {
  float: left;
  background-image: var(--password);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.passphraseHeaderTitle {
  margin-left: 50px;
  font-size: 27px;
  text-transform: capitalize;
  padding-top: 5px;
  display: flex;
}

.passphraseContent {
  float: left;
  width: 100%;
}

.passphraseHeaderDescription {
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  float: left;
}

.passphraseHeaderDescription .orange-warning {
  position: inherit;
}

.passphraseConfirmSend {
  width: 415px;
}

.passphraseConfirmSendLabel {
  float: left;
  width: 65%;
  margin-top: 5px;
}

.passphraseConfirmSendAddress {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 600;
  float: right;
}

.passphraseConfirmSendBalance {
  margin-left: 20px;
  font-weight: 600;
  margin-top: 5px;
  float: right;
}

.passphraseField {
  display: flex;
  height: 36px;
  margin-bottom: 5px;
}

.passphraseFieldLabel {
  font-size: 13px;
  text-align: right;
  width: 12em;
  margin-right: 0.5em;
  padding-top: 4px;
}

.passphraseFieldValue {
  width: 300px;
}

.passphraseToolbar,
.importRedeemScriptToolbar {
  margin-top: 20px;
  height: 44px;
  float: right;
}

.standalone.confirmSeedCopy {
  width: 950px;
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
  border-radius: 5px;
  overflow-y: auto;
  padding: 2em;
  color: var(--input-color-default);
  line-height: normal;
  text-align: justify;
}

.confirmSeedCopyToolbar {
  float: right;
  margin-top: 2em;
}

.titleWarningCopyModal {
  font-size: 27px;
  margin-bottom: 10px;
  background-image: var(--info-warning-icon);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 42px;
  margin-left: -10px;
  background-position: 0 center;
}

.confirmSeedCopyToolbar > .confirmConfirmButton {
  float: right;
}

.confirmSeedCopyToolbar > .confirmCloseButton {
  float: right;
}

.infoConfirm {
  width: 900px;
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
  border-radius: 5px;
  overflow-y: auto;
  padding: 29px 20px 29px 20px;
  color: var(--input-color-default);
  line-height: normal;
  text-align: left;
}

.standalone.confirm {
  width: 289px;
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
  border-radius: 5px;
  overflow-y: auto;
  padding: 2em;
  color: var(--input-color-default);
  line-height: normal;
  text-align: left;
}

.confirmToolbar {
  margin-top: 2em;
  bottom: 20px;
  right: 20px;
}

.confirmToolbar > .confirmConfirmButton {
  float: right;
}

.confirmToolbar > .confirmCloseButton {
  float: right;
}

.confirmHeader {
  margin-bottom: 1em;
}

.confirmHeaderTitle {
  font-weight: 400;
  font-size: 27px;
  text-transform: capitalize;
}

.confirmHeaderTitle .mono {
  text-transform: lowercase;
}

.confirmSeedCopyContentInput {
  margin-left: 32px;
  padding-left: 0;
}

.confirmSeedCopyContentInput > input {
  width: 100%;
}

.confirmSeedCopyWarningText {
  white-space: pre-line;
  margin-bottom: 20px;
  margin-left: 32px;
  column-count: 2;
}

.confirmSeedCopyWarningText p {
  margin-top: 0;
}

.confirmSeedCopyWarningText strong {
  text-decoration: underline;
}

.confirmSeedCopyWarningText em {
  color: var(--error-text-color);
}

.confirmSeedCopyWarningText a {
  color: var(--link-color);
}

.confirmSeedCopyPhrase {
  text-decoration: underline;
  margin: 0px 4px 0px 4px;
}

.watchOnlyModalTitle {
  font-size: 27px;
  color: var(--title-text-and-button-background);
  line-height: 1;
  width: 215px;
  height: 102px;
}

.watchOnlyModalContent {
  color: var(--title-text-and-button-background);
  font-size: 13px;
}

.infoContent a {
  color: var(--input-color);
  cursor: pointer;
  text-decoration: none;
  word-break: break-word;
}

.backupRedeemScript {
  padding: 10px;
}

.backupRedeemScriptTextarea {
  width: 100%;
}

.backupRedeemScriptTitle {
  font-size: 19px;
}

.backupRedeemScriptMessage {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white-border);
}

.importRedeemScript {
  display: flex;
  flex-direction: column;
  z-index: 200;
  overflow-y: auto;
  padding: 2em;
  line-height: normal;
  text-align: left;
  color: var(--title-text-and-button-background);
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
}

.infoModalCloseButtonTop {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background-image: var(--x-grey);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.infoModalCloseButtonTop:hover {
  opacity: 0.7;
}

.confirmSendFromUnmixed {
  padding: 20px;
  width: 700px;
}

.titleConfirmSendFromUnmixed {
  font-size: 27px;
  margin-bottom: 20px;
  background-image: var(--info-warning-icon);
  background-repeat: no-repeat;
  background-size: 20px;
  padding-left: 42px;
  margin-left: 10px;
  background-position: 0 center;
}

.mixerSettingsTitle {
  font-size: 20px;
}

.setPassAcctModalDescription {
  font-size: 9pt;
  color: var(--title-text-and-button-background);
}

@media screen and (max-width: 1179px) {
  .mixerSettings.info {
    width: 594px !important;
  }
}

@media screen and (max-width: 768px) {
  .confirmSeedCopyWarningText {
    column-count: 1;
  }

  .overlayReducedBar {
    left: 0;
    bottom: 70px;
  }

  .reducedBar.info.double {
    width: 300px !important;
  }

  .mixerSettings.info {
    width: 305px;
    min-width: unset;
  }
}

@media screen and (max-width: 420px) {
  .modal.passphrase,
  .modal.confirm,
  .reducedBar.passphrase,
  .standalone.confirmSeedCopy {
    max-height: 60%;
  }

  .reducedBar.info.double {
    width: 250px !important;
  }
}

@media screen and (max-width: 955px) {
  .modal.about,
  .reducedBar.about,
  .standalone.about {
    width: inherit;
  }
}

@media screen and (max-width: 588px) {
  .reducedBar.about {
    width: 455px !important;
    height: 290px;
    overflow: hidden;
  }

  .reducedBar.about .aboutContent {
    margin-left: 25px;
    padding-bottom: 20px;
    margin-top: 20px;
  }

  .reducedBar.about .aboutIcon {
    margin-top: 20px;
    height: 66px;
    width: 66px;
    background-size: 59px;
    border-radius: 23px;
  }

  .reducedBar.about .aboutBottomArea {
    width: 413px;
  }
}
