.sendOutputContainer {
  display: grid;
  grid-template-columns: max-content 260px minmax(max-content, 1fr) 260px;
  grid-template-rows: repeat(2, 25px);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin-top: 10px;
  width: 660px;
}
.amountInputWrapper {
  grid-column: 2;
  grid-row: 2;
  width: 160px;
}
.sendOutputContainer label {
  text-align: right;
  font-size: 13px;
  line-height: 24px;
}
.sendOutputContainer .dcrInput {
  width: 150px;
}
.sendInputWrapper .inputErrorsArea {
  margin-bottom: -14px;
}
.sendAll {
  border-bottom: 1px var(--stroke-color-default) solid;
  text-align: right;
  background-color: var(--disabled-background-color);
}
.tooltipSendToSelf {
  width: 18rem;
}
@media (--bg-viewport) {
  .sendOutputContainer {
    grid-template-columns: max-content 240px minmax(max-content, 1fr) 240px;
    padding: 7px 0 26px 0;
    width: 594px;
  }
}
@media (--sm-viewport) {
  .sendOutputContainer {
    grid-template-columns: max-content 256px;
    grid-template-rows: repeat(3, 25px);
    padding: 7px 0 26px 0;
    width: 315px;
  }
  .amountInputWrapper {
    grid-row: 3;
  }
}
