.rescanProgressArea {
  color: var(--disabled-color);
  font-size: 13px;
  display: flex;
  align-items: center;
}
.rescanCancelButtonArea {
  margin: 0 -12px 0 auto;
}
.rescanProgressFraction {
  color: var(--input-color-default);
  margin: 0px 4px 0px 4px;
}
.rescanProgressPercent {
  color: var(--input-color-default);
}
