.decodedPayreq {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
}

.amountContainer {
  display: flex;
  flex-direction: column;
}

.amount {
  font-size: 20px;
  line-height: 25px;
  color: var(--main-dark-blue);
}

.destinationContainer {
  display: flex;
  flex-direction: column;
}

.destination {
  max-width: 113px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  line-height: 25px;
  color: var(--main-dark-blue);
}

.decodedPayreq label {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--grey-7);
  display: block;
  margin-bottom: 5px;
}

.arrow {
  background-image: var(--right-arrow);
  background-repeat: no-repeat;
  width: 43px;
  height: 35px;
  margin: 0 50px;
}
