.decodedPayreq {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 10px;
}

.numAtoms {
  font-size: 32px;
  align-self: center;
}

.description {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.destDetails {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 1em;
  color: var(--stroke-color-hovered);
}

.copyableText span {
  font-size: 14px;
  background: none;
  padding: 0;
}
