.decodedPayreq {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.amountContainer {
  display: flex;
  flex-direction: column;
}

.amount {
  font-size: 20px;
  line-height: 27px;
  color: var(--main-dark-blue);
}

.destinationContainer {
  display: flex;
  flex-direction: column;
}

.destination {
  font-size: 20px;
  line-height: 16px;
  color: var(--main-dark-blue);
  display: flex;
  align-items: center;
}

.decodedPayreq .amountContainer label,
.decodedPayreq .expiryContainer label,
.dataGrid label,
.decodedPayreq .destinationContainer label {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: var(--grey-7);
  display: block;
  margin-bottom: 5px;
}

.arrow {
  background-image: var(--right-arrow);
  background-repeat: no-repeat;
  width: 43px;
  height: 35px;
  margin: 0 50px;
}

.destinationText {
  margin-right: 10px;
}

.expiryContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: flex-start;
}

.dataGrid {
  display: grid;
  grid-template-columns: max-content auto;
  grid-row-gap: 5px;
  margin-top: 15px;
  line-height: 16px;
}

.dataGrid label {
  padding-right: 10px;
}

.details {
  margin-top: 30px;
}
