.cardWrapper {
  display: flex;
}

.backButton {
  width: 30px;
  background-color: var(--grey-3);
  cursor: pointer;
}

.backArrow {
  height: 15px;
  width: 15px;
  background-image: var(--menu-arrow-up);
  background-position: 50% 5px;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.overview {
  background-color: var(--background-back-color);
  width: 710px;
  padding-bottom: 23px;
}

.overviewInfo {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
  font-size: 18px;
  line-height: 23px;
  color: var(--tutorial-header) !important;
}

.subTitle {
  font-size: 16px;
}

.updatedEvent,
.version {
  color: var(--grey-5);
}

.token {
  padding: 4px 10px;
  background-color: var(--color-blue-lighter);
  border-radius: 5px;
  font-size: 16px;
}

.proposedToRfp {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--stroke-color-default);
}

.proposedToRfp a {
  font-size: 13px;
  line-height: 19px;
  color: var(--overview-balance-label);
  text-decoration: none;
  cursor: pointer;
}

.notVoting,
.voted {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 15px;
  height: 64px;
}

.notVoting {
  background-image: var(--chat-bubbles);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 38px;
  padding-top: 7px;
}

.detailsText {
  font-family: var(--font-family-regular-semi-bold);
  min-height: 100%;
  padding: 30px 40px;
  background-color: var(--background-back-color);
  margin: 5px 0 20px 0;
  border-top: 1px solid var(--tabbed-page-header-bg);
  width: 740px;
  font-size: 16px;
}

.detailsText p {
  word-wrap: break-word;
  margin: 10px 0;
}

.detailsText a {
  color: var(--link-color);
}

.detailsText pre {
  background-color: var(--proposal-text-markdown);
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.piButtonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 740px;
}

.voteStatusBar {
  flex-basis: 80%;
  margin-right: 10px;
}

.statusBarRow {
  padding: 0 20px;
}

.voteEnd {
  align-items: flex-end;
  flex-basis: 20%;
  margin-top: -0.2rem;
  color: var(--grey-5);
}

.quorumTooltip {
  white-space: nowrap;
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.darkQuorumTooltip {
  color: var(--text-color);
}

.votesQuorum {
  color: var(--text-secondary-color) !important;
}

.votesReceived {
  color: var(--tab-text-active-color) !important;
}

.loadingPage {
  width: 100%;
  text-align: center;
}

.piButton {
  border: 0 !important;
  text-decoration: none !important;
  color: var(--color-white) !important;
  font-weight: var(--font-weight-semi-bold) !important;
}

@media screen and (max-width: 1179px) {
  .overview {
    width: 634px;
  }

  .overviewInfo {
    padding: 20px;
  }

  .detailsText {
    width: 635px;
  }
}

@media screen and (max-width: 768px) {
  .overview {
    width: 100%;
  }

  .votingProgress {
    width: 315px;
    padding-left: 20px;
  }

  .overviewVoting {
    width: 315px;
  }

  .detailsText {
    padding-left: 20px;
    width: 100%;
  }
}
