.cardWrapper {
  display: flex;
}

.backButton {
  width: 40px;
  background-color: var(--governance-nav-button-bg);
  cursor: pointer;
}

.backButton:hover {
  background-color: var(--grey-5);
}

.backArrow {
  height: 10px;
  width: 10px;
  background-image: var(--menu-arrow-up);
  background-position: 50% 5px;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.backButton:hover .backArrow {
  background-image: var(--arrow-left-white);
  transform: rotate(0);
  background-position: 50% 0;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsText {
  font-family: var(--font-family-regular-semi-bold);
  min-height: 100%;
  padding: 30px 40px;
  background-color: var(--background-back-color);
  margin: 5px 0 20px 0;
  border-top: 1px solid var(--tabbed-page-header-bg);
  width: 764px;
  font-size: 16px;
}

.detailsText p {
  word-wrap: break-word;
  margin: 10px 0;
}

.detailsText a {
  color: var(--link-color);
}

.detailsText pre {
  background-color: var(--proposal-text-markdown);
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.piButtonWrapper {
  display: flex;
  justify-content: flex-end;
  width: 764px;
}

.loadingPage {
  width: 100%;
  text-align: center;
}

.piButton {
  border: 0 !important;
  text-decoration: none !important;
  color: var(--color-white) !important;
  font-weight: var(--font-weight-semi-bold) !important;
}

@media (--bg-viewport) {
  .detailsText {
    width: 665px;
  }
  .piButtonWrapper {
    display: flex;
    justify-content: flex-end;
    width: 665px;
  }
}

@media (--sm-viewport) {
  .detailsText {
    padding-left: 20px;
    width: 355px;
  }
}
