.overview {
  background-color: var(--background-back-color);
  justify-content: space-between;
  width: 740px;
  padding-bottom: 15px;
}

.overviewInfoWrapper {
  display: flex;
  justify-content: space-between;
}

.overviewInfo {
  padding: 20px 10px 15px 40px;
  max-width: 49%;
}

.title {
  font-size: 19px;
  line-height: 24px;
  color: var(--tutorial-header);
}

.proposedToRfp,
.token {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--overview-balance-label);
}

.token {
  width: 100px;
}

.proposedToRfp a,
.token a {
  font-size: 13px;
  line-height: 19px;
  color: var(--overview-balance-label);
  text-decoration: none;
  cursor: pointer;
}

.proposedToRfp a:hover,
.token a:hover {
  color: var(--stroke-color-default);
}

.fields {
  margin-top: 11px;
}

.overviewVoting {
  background-color: var(--transfer-details-bg);
  padding: 30px 20px;
  width: 284px;
  height: 60px;
}

.overviewVotingButton {
  padding: 6px 18px;
  position: relative;
  top: -4px;
  left: 158px;
}

.backIconButton {
  margin: -20px -12px 0px 0px;
  float: right;
  cursor: pointer;
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-image: var(--x-grey);
  padding: 0;
}

.backIconButton:hover {
  opacity: 0.7;
}

.smallWidth .backIconButton {
  visibility: hidden;
}

.noTickets,
.votingPreference,
.notVoting,
.voted {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 15px;
  height: 64px;
}

.votingPreference {
  line-height: 0;
}

div.radioButtonsWrapper > * {
  box-sizing: border-box;
}

.radioButtonsList {
  margin-left: -7px;
}

.notVoting {
  background-image: var(--chat-bubbles);
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 38px;
  padding-top: 7px;
}

.voteChoice {
  margin-top: 15px;
  height: 64px;
}

.preferenceTitle {
  margin-bottom: 10px;
}

.noTickets {
  background-size: 30px 30px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: var(--ticket-voted-grey-icon);
  width: 157px;
  padding-left: 40px;
}

.overviewField .label {
  color: var(--agenda-card-bottom-cfg);
  display: inline-block;
  margin-right: 0.5em;
  width: 100px;
  text-align: right;
  vertical-align: middle;
}

.overviewField .value {
  color: var(--input-color-default);
  display: inline-block;
  vertical-align: middle;
  max-width: 229px;
}

.overviewField .timeValue {
  font-weight: bold;
  margin-right: 0.2em;
}

.detailsText {
  font-family: var(--font-family-regular-semi-bold);
  min-height: 100%;
  padding: 40px 0 40px 40px;
  background-color: var(--background-back-color);
  margin: 20px 0 80px;
  border-top: 1px solid var(--tabbed-page-header-bg);
  width: 700px;
}

.detailsText .links {
  float: right;
  margin-right: 20px;
  margin-top: -20px;
}

.detailsText p {
  word-wrap: break-word;
  margin: 10px 0;
}

.proposalBody {
  width: 66%;
}

.detailsText a {
  color: var(--link-color);
}

.detailsText pre {
  background-color: var(--proposal-text-markdown);
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.detailsText div:not(.links) {
  padding-right: 30px;
  padding-bottom: 20px;
}

.voteStatusBar {
  width: auto !important;
  padding: 0 40px;
  margin-bottom: 15px;
}

.quorumTooltip {
  white-space: nowrap;
  font-size: var(--font-size-small);
  color: var(--color-gray);
}

.darkQuorumTooltip {
  color: var(--text-color);
}

.votesQuorum {
  color: var(--text-secondary-color) !important;
}

.votesReceived {
  color: var(--tab-text-active-color) !important;
}

.yes > label > span:nth-child(1) {
  border-color: var(--vote-yes-color);
}

.yes > label > span:nth-child(2) {
  background-color: var(--vote-yes-color);
}

.no > label > span:nth-child(1) {
  border-color: var(--vote-no-color);
}

.no > label > span:nth-child(2) {
  background-color: var(--vote-no-color);
}

.voteConfirmation {
  background-color: var(--background-container);
  font-size: 27px;
  line-height: 34px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  text-transform: capitalize;
}

.yesProposal {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--vote-yes-color);
  margin-top: 13px;
  margin-right: 5px;
}

.noProposal {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--vote-no-color);
  margin-top: 13px;
  margin-right: 5px;
}

.loadingPage {
  width: 100%;
  text-align: center;
}

.politeiaButton {
  font-size: 13px !important;
  line-height: 17px !important;
  border-radius: 5px !important;
  padding: 6px 15px !important;
  margin: 4px !important;
  color: var(--info-modal-button-text) !important;
  background-color: var(--info-modal-button-bg) !important;
  border: 0 !important;
  text-decoration: none !important;
  box-shadow: 0 5px 13px var(--icons-shadow);
}

.politeiaButton:hover {
  background-color: var(--title-text-and-button-background-hovered) !important;
}

@media screen and (max-width: 1179px) {
  .overviewVotingButton {
    left: 123px;
  }

  .overview {
    width: 634px;
  }

  .overviewInfo {
    padding: 20px;
  }

  .overviewVoting {
    width: 244px;
  }

  .detailsText {
    width: 594px;
  }
}

@media screen and (max-width: 768px) {
  .overview {
    width: 355px;
  }

  .overview.is-row {
    flex-direction: column;
  }

  .overviewInfo {
    padding: 20px;
    max-width: 100%;
  }

  .votingProgress {
    width: 315px;
    padding-left: 20px;
  }

  .overviewVoting {
    width: 315px;
  }

  .detailsText {
    padding-left: 20px;
    width: 335px;
  }

  .smallWidth {
    float: right;
    visibility: visible;
  }

  .backIconButton {
    visibility: hidden;
  }
}
