.container {
  width: 764px;
}

.lnSendPayment {
  background-color: var(--background-back-color);
  padding: 30px 40px;
  margin-bottom: 20px;
}

.decodingError {
  margin-top: 2em;
  color: var(--error-red);
}

.lnPaymentsList {
  margin-bottom: 1em;
}

.paymentDetails {
  word-break: break-all;
  background-color: var(--background-back-color);
  padding: 1em;
}

.paymentDetailsGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.verticalAccordionArrow {
  transform: rotate(180deg);
  top: 30px;
  right: 30px;
}

.htlc {
  padding-top: 1em;
}

.paymentRouteGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.addressInput {
  padding-right: 22px;
}
.addressInput.error {
  padding-right: 39px;
}
.addressInput.success {
  padding-right: 39px;
}
.pasteButton {
  font-family: var(--font-family-regular);
  padding: 3px 10px !important;
  font-size: 13px !important;
  line-height: 16px !important;
  transition: none !important;
}
.clearAddressButton {
  width: 14px;
  background-image: var(--indicator-invalid-icon);
  height: 16px;
  border: none !important;
  padding: 0 !important;
  transition: none !important;
  background-size: 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-back-color) !important;
}
.clearAddressButton:hover {
  opacity: 0.85;
}
.clearAddressButton.success {
  margin-right: 20px;
}

.buttonContainer {
  text-align: right;
}

.listWrapper {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 355px;
  }
  .lnSendPayment {
    padding: 30px 20px;
  }
  .arrow {
    margin: 0 36px;
  }
}
