.lnSendPayment {
  background-color: var(--background-back-color);
  padding: 30px 40px;
  margin-bottom: 4em;
  min-height: 18em;
}

.decodingError {
  margin-top: 2em;
  color: var(--error-red);
}

.lnPaymentsList {
  margin-bottom: 1em;
}

.paymentDetails {
  word-break: break-all;
  background-color: var(--background-back-color);
  padding: 1em;
}

.paymentDetailsGrid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.verticalAccordionArrow {
  transform: rotate(180deg);
  top: 30px;
  right: 30px;
}

.htlc {
  padding-top: 1em;
}

.paymentRouteGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
