.securityPage {
  position: absolute;
  margin-left: 20px;

  /* advanced-page-toggle */
  float: left;
  z-index: 10;
  clear: left;
}

.securityPageTab {
  float: left;
  width: 740px;
  margin-top: 22px;
  margin-bottom: 30px;
  text-align: right;
}

.textToggle {
  display: block;
  height: 40px;
  float: right;
  text-align: left;
}

.textToggleButtonLeft {
  min-width: 104px;
  float: left;
  border: 1px var(--disabled-background-color) solid;
  background-color: var(--background-container);
  box-shadow: none;
  color: var(--disabled-color);
  padding: 12px 18px;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px 0px 0px 5px;
}

.textToggleButtonRight {
  min-width: 104px;
  float: left;
  border: 1px var(--disabled-background-color) solid;
  background-color: var(--background-container);
  box-shadow: none;
  color: var(--disabled-color);
  padding: 12px 18px;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.textToggleButtonActive {
  background-color: var(--background-back-color);
  color: var(--input-color-default);
  cursor: default;
}

@media (--bg-viewport) {
  .securityPageTab {
    width: 649px;
  }
}

@media (--sm-viewport) {
  .securityPageTab {
    margin-top: 30px;
    width: 355px;
  }
  .securityPage {
    margin-left: 37px;
  }
}
