@import (reference) "./main.less";
@import (reference) "./Icons.less";

.account-content-title {
  display: block;
  height: 44px;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  border-bottom: 1px solid transparent;
  color: #596d81;
  font-size: 27px;
}

.account-content-nest {
  padding-top: 1px;
}

.account-content-title-buttons-area {
  position: absolute;
  top: 15px;
  right: 80px;
}

.account-name {
  width: 25%;
  padding-right: 15px;
  padding-left: 5px;
  float: left;
  height: 100%;
  padding-top: 5px;
  font-size: 19px;
  text-align: left;
}

.account-rename {
  width: 25%;
  float: left;
  height: 100%;
  padding-top: 5px;
  font-size: 19px;
  text-align: right;
}
