@import (reference) "./main.less";
@import (reference) "./Icons.less";

.account-row-top-spendable {
  color: var(--stroke-color-hovered);
  font-size: 13px;
  line-height: 17px;
}

.account-row-top-spendable-value {
  color: var(--input-color-default);
  display: inline-block;
  width: 140px;
}

.account-row-top-account-name {
  color: var(--input-color-default);
  font-size: 19px;
  line-height: 24px;
}

.account-row-top-account-funds {
  color: var(--input-color-default);
  font-size: 19px;
  text-align: right;
}

.account-row-details-top {
  cursor: pointer;
  padding: 21px 30px 21px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-image: @accounts-default;
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-color: var(--background-back-color);
  border-top: 1px solid var(--background-container-hover);

  &.imported {
    background-image: @accounts-imported;
  }
}

.account-row-details-top:hover {
  background-color: var(--background-container-hover);
}

.account-row-details-bottom {
  background-color: var(--background-container);
}

.account-row-details-bottom-columns {
  width: 100%;
  color: var(--stroke-color-hovered);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.account-row-details-bottom-column-left,
.account-row-details-bottom-column-right {
  margin-top: 15px;
}

.account-row-details-bottom-columns::after,
.account-row-details-bottom-column-left::after,
.account-row-details-bottom-column-right::after,
.account-actions::after {
  .clearfloat-mixin;
}

.account-row-details-bottom-title {
  font-size: 19px;
  text-align: right;
  padding-right: 200px;
  margin-bottom: 10px;
}

.account-row-rename-bottom-title {
  font-size: 19px;
}

.account-row-details-bottom-spec {
  font-size: 12px;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 160px 200px;
}

.account-row-details-bottom-spec-last {
  border-bottom: 1px solid var(--disabled-background-color);
  color: var(--input-color-default);
  font-size: 12px;
}

.account-row-details-bottom-spec-name {
  text-align: right;
}

.account-row-details-bottom-spec-value {
  margin-left: 1em;
  text-align: left;
  color: var(--input-color-default);
}

.account-row-rename-bottom {
  color: var(--input-color-default);
  font-size: 12px;
  padding: 14px;
}

.account-row-rename-bottom-fields {
  display: flex;
  margin: 12px 0px;
}

.account-row-rename-bottom-value {
  width: 70%;
  margin-left: 10px;
}

.content-confirm-new-account {
  margin-right: 2em;
}

.rename-account-button,
.show-account-button,
.hide-account-button {
  .inline-block-mixin;

  border-radius: 5px;
  background-position: 50% 50%;
  background-size: 16px;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 5px rgba(9, 20, 64, 0.16);
  outline: 0;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0px;
  background-color: var(--input-color);
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  float: right;
  margin-top: 17px;
}

.rename-account-button {
  background-image: @account-rename-icon;
}

.show-account-button {
  background-image: @show-account-icon;
}

.hide-account-button {
  background-image: @hide-account-icon;
}

.rename-account-button:hover,
.show-account-button:hover,
.hide-account-button:hover {
  opacity: 0.7;
}

.account-actions {
  width: 93%;
  margin-left: 20px;
  border-top: 1px solid var(--disabled-background-color);
  display: flex;
  flex-direction: row;
}

.account-actions-pubkey {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 18px;
  width: 88%;

  .account-actions-pubkey-label {
    font-size: 13px;
    line-height: 17px;
    margin-top: 2px;
    margin-right: 14px;
  }

  .account-actions-pubkey-button {
    height: 15px;
    width: 37px;
    color: var(--input-color-default);
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    background-color: var(--disabled-color);
    padding: 2px 20px 3px 20px;
    box-shadow: none;
    transition: all 131ms @easeInOutQuart;
  }

  .account-actions-pubkey-button:hover {
    color: var(--background-back-color);
    background-color: var(--disabled-color);
  }

  .account-actions-pubkey-area {
    color: var(--background-back-color);
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    padding: 2px 20px 3px 20px;
    border-radius: 3px;
    background-color: var(--disabled-color);
    height: 32px;
    width: 390px;
    word-break: break-all;
    transition: all 131ms @easeInOutQuart;
  }

  .account-actions-pubkey-clipboard {
    margin-left: 10px;
  }
}
