.chart-tooltip {
  background: #65676a;
  padding: 10px;
  border-radius: 10px;
}

.tooltip-line {
  display: flex;
  flex-direction: row;
}

.circle-tooltip {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 6px;
}

.row-legend {
  padding-bottom: 10px;
}
