@import (reference) "./main.less";
@import (reference) "./Icons.less";

.seed-warning-message {
  margin-right: 5px;
}

.seedError {
  color: var(--error-red);
}

.wallet-key-blue-button {
  float: left;
}

.seed {
  margin-bottom: 30px;
}

.passphrase {
  height: 50px;
}

.confirm-seed-label-text {
  margin-top: 8px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 17px;
  width: 150px;
  margin-left: -160px;
  color: var(--wallet-tutorial-text);
  justify-content: flex-end;
  text-align: right;
}

.passphrase .confirm-seed-label-text{
  margin-top: 1px;
}

.create-wallet-button-container {
  height: 44px;
  width: 293px;
  display: flex;
  flex-direction: row-reverse;
}

.getstarted-page-body .text-toggle {
  height: 29px;

  .text-toggle-button-left {
    color: var(--text-toggle-button-inactive-text);
    background-color: var(--text-toggle-button-bg);
    border: 1px solid var(--text-toggle-button-border);
    border-radius: 3px 0px 0px 3px;
    min-width: 0px;
    padding: 6px 20px 6px 20px;
  }

  .text-toggle-button-right {
    color: var(--text-toggle-button-inactive-text);
    background-color: var(--text-toggle-button-bg);
    border-radius: 0px 3px 3px 0px;
    min-width: 0px;
    padding: 6px 20px 6px 20px;
  }

  .text-toggle-button-left.text-toggle-button-active {
    color: var(--input-color-default);
    background-color: var(--text-toggle-button-active-bg);
    font-weight: 400;
  }

  .text-toggle-button-right.text-toggle-button-active {
    color: var(--input-color-default);
    background-color: var(--text-toggle-button-active-bg);
    font-weight: 400;
  }
}

.input-private-password {
  width: 288px;
  padding-bottom: 3px;
}

.go-back-button {
  color: var(--home-content-link);
}
.go-back-button:hover {
  color: var(--title-text-and-button-background-hovered);
}

.seedArea {
  margin: 0px 5px 5px -5px;
  width: 560px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); 

  &.hex {
    width: 90%;
    display: block;
  }

  .Select-arrow {
    border: none;
    display: inherit;
    height: 0;
    width: 0;
    position: relative;
    transition: inherit;
  }

  .Select-control:hover:not(:disabled) {
    border: inherit;
  }

  .Select-control:hover:not(:disabled) .Select-arrow {
    border-top-color: inherit;
  }

  .is-open .Select-arrow,
  .is-open .Select-control:hover:not(:disabled) .Select-arrow,
  .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: inherit;
  }

  .Select-control {
    padding-left: 2px;
    border-radius: 3px;
    color: var(--modal-bottom);
    border-bottom: none; 
  }

  .Select-control:hover,
  .Select-control:focus {
    border: 1px solid var(--disabled-color);
  }
}


.createwallet-button-area {
  margin-left: 22px;
  margin-top: 189px;
  width: 380px;

  .create-wallet-go-back {
    width: 100%;
    height: 10px;
    padding-bottom: 20px;
  }

  .create-wallet-go-back-button {
    height: 10px;
    width: 10px;
    margin-right: 20px;
    float: right;
    background-repeat: no-repeat;
    background-size: 10px;
    background-image: var(--x-grey);
    opacity: 1;
  }

  .create-wallet-go-back-button:hover {
    opacity: 0.8;
  }
}

.createwallet-button {
  background-color: var(--background-back-color);
  border: 1px solid var(--background-back-color);
  border-radius: 5px;
  height: 161px;
  width: 168px;
  margin-right: 20px;
  float: left;
  background-position: 53px 32px;
  background-repeat: no-repeat;
  background-size: 62px 62px;
}

.createwallet-button.new {
  background-image: var(--createnewwallet);
}

.createwallet-button.restore {
  background-image: @restorewallet;
}

.createwallet-button:hover,
.createwallet-button:focus {
  border-color: var(--input-color);
}

.createwallet-button-label {
  margin-top: 121px;
  text-align: center;
  font-size: 15px;
  color: var(--title-text-and-button-background);
  line-height: 19px;
}

.wallet-switch {
  padding-right: 5px;
}

.content-title-wrapper {
  width: 692px;
}

@media screen and (max-width: 1179px) {
  .seed {
    margin-left: 0;
  }

  .passphrase {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .is-row.seed {
    flex-direction: column;
  }

  .seedArea {
    grid-template-columns: repeat(3, 1fr);
    width: 353px;
  }

  .create-wallet-button-container {
    display: flex;
    justify-content: flex-end;
    width: 365px;
  }

  .is-row.content-title-wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
