@import (reference) "./main.less";

.documentation {
    max-width: 36em;
    color: var(--modal-text);
  
    h1 {
      font-size: 27px;
      line-height: 34px;
      font-weight: 400;
      margin-top: 0;
      column-span: all;
      margin-bottom: 1em;
    }
    .key-blue-button {
      text-transform: inherit;
      margin-top: 1.5em;
    }
    ul {
      margin-bottom: 2em;
    }
  
    li {
      list-style-position: inside;
      margin-bottom: 0.5em;
    }
    p {
      break-inside: avoid-page;
      margin-bottom: 1em;
    }
    li p {
      display: inline;
    }
    a {
      color: var(--input-color);
      cursor: pointer;
      text-decoration: none;
    }
  }