@import (reference) "./main.less";

.export-tab {
  background: #fff;
  padding: 1em;
}

.export-info-description {
  margin-top: 0px;
}

.export-info-field-name {
  font-weight: 600;
  margin-right: 0.5em;
  margin-left: -0.5em;
}

.export-area {
  display: flex;
}

.export-area-button-wrapper {
  margin-top: 90px;
  width: 100%;
  margin-left: -30px;
}

.export-area-left {
  color: #48566e;
  font-size: 13px;
  line-height: 17px;
  padding: 30px 30px 0px 30px;
  width: 414px;
  margin-bottom: 37px;
  height: 128px;
  background-color: #fff;
}

.export-area-right.export-info-not-expanded {
  height: 128px;
}

.export-area-right {
  background-color: #edeff1;
  padding: 30px 20px 0px 20px;
  width: 40%;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 22px;
  cursor: pointer;

  .vertical-expand {
    float: right;
  }
}

ul.export-info-fields {
  margin-top: 0;
  margin-left: 10px;
}

.export-info-fields > li {
  margin-left: -33px;
}
