@import (reference) "./main.less";

.export-tab {
  background: var(--background-back-color);
  padding: 1em;
}

.export-info-description {
  margin-top: 0px;
}

.export-info-field-name {
  font-weight: 600;
  margin-right: 0.5em;
  margin-left: -0.5em;
}

.export-area {
  display: flex;
  width: 740px;
}

.export-area-button-wrapper {
  margin-top: 20px;
  width: 740px;
  text-align: right;
}

.export-area-left {
  color: var(--title-text-and-button-background);
  font-size: 13px;
  line-height: 17px;
  padding: 30px 20px 0px 28px;
  width: 366px;
  height: 98px;
  background-color: var(--background-back-color);
}

.export-area-right {
  background-color: var(--disabled-background-color-dark);
  padding: 30px 30px 10px 30px;
  width: 266px;
  font-size: 13px;
  line-height: 19px;
  cursor: pointer;
  color: var(--wallet-label);
  position: relative;

  .vertical-expand {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .export-info-not-expanded {
    font-weight: 600;
    display: inline;
  }  
}

ul.export-info-fields {
  margin-top: 0;
  margin-left: 10px;
}

.export-info-fields > li {
  margin-left: -33px;
}

@media screen and (max-width: 1180px) {
  .export-area-left {
    width: 273px;
  }
  .export-area-right {
    padding-right: 20px;
    width: 263px;
  }  

  .export-area-button-wrapper {
    width: 634px;
  }
}

@media screen and (max-width: 768px) {
  .export-area {
    flex-direction: column;
  }

  .export-area-left {
      width: 307px;
  }

  .export-area-right {
    width: 305px;
    min-height: 88px;
  }

  .export-area-button-wrapper {
    width: 355px;
  }
}