/********
 * Global defitions embedded on app.html
 *******/
@import (reference) 'main.less';

.decrediton {
  font-family: @font-family-regular;
  color: @input-color-hovered;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
  min-height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}
