/********
 * Global defitions embedded on app.html
 *******/
@import (reference) 'main.less';

.decrediton {
  font-family: @font-family-regular;
  color: @input-color-hovered;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
  background-color: #fff;
  box-sizing: border-box;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.bold {
  font-weight: 700;
}

.mono {
  font-family: Inconsolata, monospace;
}

.shutdown-text {
  font-size: 30px;
  text-align: center;
}
