@import (reference) "./main.less";

.proposals-community-descr {
  background-color: #dadfe3;
  padding: 30px 30px 30px 60px;
  margin: -60px -60px 0px -60px;

  > a {
    margin-right: 2em;
  }
}


.proposals-status-links {
  background-color: #edeff1;
  padding: 10px 30px 10px 60px;
  margin: 0px -60px 0px -60px;

  > a {
    margin-right: 2em;
  }
}

.proposal-list {
  margin-top: 20px;
  background-color: #fff;

  > .proposal-list-item {
    padding: 1em;

    > .proposal-name {
      color: #5b83ff;
      font-size: 120%;
    }

    > .proposal-token {
      color: #e3e9ec;
    }
  }
}
