@import (reference) "./main.less";
@import (reference) "./Icons.less";

.proposals-community-header {
  padding: 30px 30px 30px 60px;
  margin: -60px -60px 0px -60px;
  display: flex;

  .links {
    width: 66%;
    margin-top: 14px;

    > a {
      display: inline-block;
      border: 1px solid;
      border-radius: 5px;
      padding: 4px 9px;
      margin: 4px;
      text-decoration: none;
      color: var(--input-color);
      cursor: pointer;

      &:hover {
        color: var(--input-color-hover);
      }
    }
  }

  .text {
    color: var(--stroke-color-hovered);
  }
}

.proposals-status-links {
  padding: 10px 30px 10px 60px;
  margin: 0px -60px 0px -60px;

  > a {
    margin-right: 2em;
    text-decoration: none;
    color: var(--tab-text);
    padding: 4px 9px;

    &.active {
      color: var(--tab-text-active-hover);
      border: 1px solid var(--tab-text-active-hover);
      border-radius: 5px;
    }

    &:hover:not(.active) {
      color: var(--tab-text-active-hover);
    }
  }
}

.no-proposals-indicator {
  margin-top: 20px;
  font-size: 120%;
  padding: 1em;
}

.proposal-list {
  margin-top: 20px;
  background-color: var(--background-back-color);

  > .proposal-list-item {
    padding: 1em;
    display: flex;

    > .info {
      > .proposal-name {
        color: var(--input-color);
        font-size: 120%;
        cursor: pointer;
      }

      > .proposal-name:hover {
        color: var(--input-color-hover);
      }

      > .proposal-token {
        color: var(--title-text-and-button-background);
      }
    }

    > .voting-progress-indicator {
      width: 50%;
      height: 5px;
    }
  }
}

.proposal-details-overview {
  background-color: var(--background-back-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .proposal-details-overview-info {
    padding: 30px 10px 15px 30px;
    max-width: 60%;
  }

  .proposal-details-title {
    font-size: 200%;
    color: var(--title-text-and-button-background);
    line-height: 28px;
  }

  .proposal-details-token a {
    color: var(--stroke-color-default);
    font-size: 90%;
    margin: 5px 0px 10px 0px;
    word-break: break-all;
    text-decoration: none;
    cursor: pointer;
  }

  .proposal-details-token a:hover {
    color: var(--stroke-color-hovered);
  }

  .proposal-details-overview-voting {
    background-color: var(--background-container);
    padding: 30px;
    width: 25%;

    .go-back-icon-button {
      margin: -15px -15px 0px 0px;
      float: right;
    }

    .button {
      padding: 10px;
    }

    .proposal-details-no-tickets,
    .proposal-details-voting-preference-title,
    .proposal-details-voting-not-voting,
    .proposal-details-voting-voted {
      font-size: 120%;
      margin-bottom: 15px;
    }

    .proposal-details-voting-preference-ticket-count {
      font-size: 80%;
    }

    .proposal-details-current-choice-box {
      margin-bottom: 10px;

      > div {
        width: 10px;
        height: 10px;
        margin: 0px 0.5em 0px 0px;
        display: inline-block;
      }

      .yes {
        background-color: var(--vote-yes-color);
      }

      .no {
        background-color: var(--vote-no-color);
      }

      .abstain {
        background-color: var(--vote-abstain-color);
      }
    }
  }

  .proposal-details-overview-field {
    .label {
      display: inline-block;
      margin-right: 0.5em;
      width: 30%;
      text-align: right;
    }

    .value {
      display: inline-block;
    }

    .time-value {
      font-weight: bold;
      margin-right: 0.2em;
    }
  }

  .proposal-details-voting-progress {
    width: 100%;
    height: 60px;
    padding: 10px 30px;

    .voting-progress-indicator {
      height: 10px;
    }
  }
}

.proposal-details-text {
  p {
    word-wrap: break-word;
  }
}

.proposal-details-voting-progress-counts {
  text-align: right;
  padding-right: 20px;

  > div {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0px 5px 0px 10px;
  }

  .yes-count-box {
    background-color: var(--vote-yes-color);
  }

  .no-count-box {
    background-color: var(--vote-no-color);
  }

  .abstain-count-box {
    background-color: var(--vote-abstain-color);
  }
}

.proposal-loading-page {
  width: 100%;
  text-align: center;
}

.politeia-loading-indicator {
  background-size: 100%;
  background-image: @politeia-loading-icon;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 256px;
  height: 256px;
}

.proposal-vote-option {
  margin-bottom: 4px;

  label {
    margin-right: 4px;
    margin-bottom: -3px;
  }
}
