@import (reference) "./main.less";
@import (reference) "./Icons.less";

.help-icons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.help-icon {
  height: 60px;
  width: 60px;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right: 100px;
  background-size: auto 60px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  text-align: left;
  color: #0c1e3e;
  font-size: 19px;
  cursor: pointer;
}

.help-icon:hover {
  color: #2970ff;
}

.help-forum-icon {
  background-image: @help-forum-icon;
}

.help-forum-icon:hover {
  background-image: @help-forum-active-icon;
}

.help-docs-icon {
  background-image: @help-docs-icon;
}

.help-docs-icon:hover {
  background-image: @help-docs-active-icon;
}

.help-freenode-icon {
  background-image: @help-freenode-icon;
}

.help-freenode-icon:hover {
  background-image: @help-freenode-active-icon;
}

.help-github-icon {
  background-image: @help-github-icon;
}

.help-github-icon:hover {
  background-image: @help-github-active-icon;
}

.help-stakepools-icon {
  background-image: @help-stakepools-icon;
}

.help-stakepools-icon:hover {
  background-image: @help-stakepools-active-icon;
}

.help-constitution-icon {
  background-image: @help-constitution-icon;
}

.help-constitution-icon:hover {
  background-image: @help-constitution-active-icon;
}

.help-matrix-icon {
  background-image: @help-matrix-icon;
}

.help-matrix-icon:hover {
  background-image: @help-matrix-active-icon;
}

.help-rocketchat-icon {
  background-image: @help-rocketchat-icon;
}

.help-rocketchat-icon:hover {
  background-image: @help-rocketchat-active-icon;
}

.help-icon-text {
  float: left;
}
