@import (reference) "./main.less";

.help-body {
    position: fixed;
    left: 0px;
    top: 50%;
    right: 0px;
    display: block;
    overflow: hidden;
    width: 1178px;
    height: 770px;
    margin-top: -385px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
} 

.help-view {
    width: 880px;
    height: 100%;
    float: right;
    background-color: #f3f6f6;
}

.help-content {
    overflow: auto;
    height: 556px;
    padding: 54px 60px 54px 80px;
}

