@import (reference) "./main.less";
@import (reference) "./Icons.less";
@import "~nouislider/distribute/nouislider.min.css";

.history-content-title {
  border-bottom: 1px solid transparent;
  color: #596d81;
  font-size: 20px;
  line-height: 25px;
  margin-left: 43px;
  margin-bottom: 13px;
  float: left;
  width: 100%;
}

.history-content-nest {
  padding-top: 1px;
  margin-bottom: 2em;
  float: left;
  width: 100%;
}

.history-content-title-text {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.history-content-title-buttons-area {
  text-align: right;
  margin-bottom: 2em;
}

.history-content-title-buttons-text {
  padding: 0px 10px 0px 10px;
}

.history-content-title-buttons-left {
  margin-top: 3px;
  display: block;
  float: left;
  font-family: Inconsolata, monospace;
}

.history-content-title-buttons-right {
  margin-top: 3px;
  display: block;
  float: right;
  font-family: Inconsolata, monospace;
}

.history-select-tx-types-area {
  width: 40%;
  float: right;
  margin-right: 40px;
}

.history-select-tx-types-area:hover {
  background-size: 10px;
}

.history-select-tx-types-label {
  display: inline-block;
  width: 50%;
}

.history-select-tx-types {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-size: 19px;
  text-align: right;
}

.history-search-tx {
  display: inline-block;
}

.history-select-tx-amounts-area {
  text-align: left;
  font-size: 13px;
}

.history-select-tx-amounts {
  display: flex;
}

.history-select-tx-min-amount {
  padding-right: 20px;
}

.history-select-tx-max-amount {
  text-align: left;
}

.history-select-tx-kebab {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: @agenda-card-kebab-disabled;
  margin-top: 20px;
}

.history-select-tx-slider-info {
  display: flex;
}

// noUiSlider style

.min-max-slider {
  width: 142px;
  height: 10px;
}

.noUi-handle {
  border-radius: 50%;
  background: #2970FF;
  border-color: #2970FF;
  height: 18px !important;
  width: 18px !important;
}

.noUi-handle::after {
  height: 0px;
}

.noUi-handle::before {
  height: 0px;
}

.noUi-connect {
  background: #2970FF;
}
