@import (reference) "./main.less";
@import (reference) "./Icons.less";
@import "~nouislider/distribute/nouislider.min.css";

.history-content-title {
  border-bottom: 1px solid transparent;
  color: var(--stroke-color-hovered);
  font-size: 20px;
  line-height: 25px;
  margin-left: 43px;
  margin-bottom: 13px;
  float: left;
  width: 100%;
}

.history-content-nest {
  padding-top: 1px;
  margin-bottom: 2em;
  float: left;
  width: 100%;
}

.history-content-title-text {
  display: inline-block;
  vertical-align: middle;
  width: 40%;
}

.history-content-title-buttons-area {
  text-align: right;
  margin-bottom: 2em;
}

.history-content-title-buttons-text {
  padding: 0px 10px 0px 10px;
}

.history-content-title-buttons-left {
  margin-top: 3px;
  display: block;
  float: left;
  font-family: Inconsolata, monospace;
}

.history-content-title-buttons-right {
  margin-top: 3px;
  display: block;
  float: right;
  font-family: Inconsolata, monospace;
}

.history-select-tx-types-area {
  width: 40%;
  float: right;
  margin-right: 40px;
}

.history-select-tx-types-area:hover {
  background-size: 10px;
}

.history-select-tx-types-label {
  display: inline-block;
  width: 50%;
}

.history-select-tx-types {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  font-size: 19px;
  text-align: right;
}

.history-search-tx {
  display: inline-block;
}

// noUiSlider style

.min-max-slider {
  width: 142px;
  height: 10px;
  margin: 14px 23px 10px 23px;
}

.noUi-handle {
  border-radius: 50%;
  background: #2970ff;
  border-color: #2970ff;
  height: 18px !important;
  width: 18px !important;
}

.noUi-handle::after {
  height: 0px;
}

.noUi-handle::before {
  height: 0px;
}

.noUi-connect {
  background: #2970ff;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}

// end of noUiSlider Style

.history-amount-range-label {
  font-family: @font-family-regular;
  font-size: 13px;
  padding-left: 24px;
  padding-top: 10px;
  font-weight: 600;
  color: #0c1e3e;
}

.history-slider-value-shower {
  height: 33px;
  background: #f3f5f6;
  font-family: @font-family-regular;
  font-size: 13px;
  color: #0c1e3e;
  margin-top: 10px;
  padding-left: 24px;
  padding-top: 8px;
}

.history-slider-value-shower-closer {
  background-image: @indicator-invalid-icon;
  float: right;
  height: 20px;
  width: 20px;
  background-size: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.history-select-tx-amounts-area {
  text-align: left;
  font-size: 13px;
  width: 200px;
  margin-bottom: 5px;
}

.history-select-tx-kebab {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 15px;
  background-image: @agenda-card-kebab-disabled;
  float: right;
  position: absolute;
  right: 10px;
  top: 85px;
}

.history-select-tx-slider-info {
  display: flex;
  margin-left: 23px;
  margin-top: 10px;
}

.sort-by .eye-filter-menu-items {
  width: 220px;
  padding-bottom: 0;
}

.history-slider-wrapper {
  border-top: 1px solid #f3f5f6;
}
