
@icon-root: '../style/icons';

@account-rename-icon: url('@{icon-root}/account-rename.svg');
@accounts-button-hover-icon: url('@{icon-root}/wallet-blue.svg');
@accounts-button-icon: url('@{icon-root}/wallet-gray.svg');
@accounts-page-icon: url('@{icon-root}/accountspage.svg');
@add-icon: url('@{icon-root}/add.svg');
@agenda-card-kebab-disabled: url('@{icon-root}/tickets-agenda-card-kebab-disabled.svg');
@agenda-card-kebab-hover: url('@{icon-root}/tickets-agenda-card-kebab-hover.svg');
@agenda-card-kebab: url('@{icon-root}/tickets-agenda-card-kebab.svg');
@agenda-close-icon: url('@{icon-root}/tickets-agenda-close.svg');
@agenda-indicator-finished: url('@{icon-root}/indicator-finished.svg');
@agenda-indicator-pending: url('@{icon-root}/indicator-pending.svg');
@agenda-stripe: url('@{icon-root}/stripe.svg');
@arrow-down-key-blue-icon: url('@{icon-root}/arrow-down-key-blue.svg');
@arrow-down-mid-blue-icon: url('@{icon-root}/arrow-down-mid-blue.svg');
@arrow-right-blue-icon: url('@{icon-root}/arrow-right-key-blue.svg');
@arrow-right-gray-icon: url('@{icon-root}/arrow-right-gray.svg');
@arrow-right-key-blue-icon: url('@{icon-root}/arrow-right-key-blue.svg');
@arrow-up-key-blue-icon: url('@{icon-root}/arrow-up-key-blue.svg');
@arrow-up-light-blue-icon: url('@{icon-root}/arrow-up-light-blue.svg');
@arrow-up-turquiose-icon: url('@{icon-root}/arrow-up-turquiose.svg');
@balance-to-maintain-icon: url('@{icon-root}/balance-to-maintain.svg');
@blockchain: url('@{icon-root}/blockchain.svg');
@buy-decred-icon: url('@{icon-root}/buy-decred.svg');
@checkmarkBlue: url('@{icon-root}/checkmarkBlue.svg');
@checkmarkGrey: url('@{icon-root}/checkmarkGrey.svg');
@checkmarkContext: url('@{icon-root}/checkMarkContextMenu.svg');
@createnewwallet: url('@{icon-root}/createnewwallet.svg');
@change-password-default-icon: url('@{icon-root}/changepasswordDefault.svg');
@contextbutton-eye-default-icon: url('@{icon-root}/contextbutton-eye-default.svg');
@contextbutton-eye-disabled-icon: url('@{icon-root}/contextbutton-eye-disabled.svg');
@copy-to-clipboard-icon: url('@{icon-root}/copy-to-clipboard-blue.svg');
@delete-icon: url('@{icon-root}/delete.svg');
@decred-macos-1024-logo: url('@{icon-root}/decred-macos-1024-logo.png');
@dummy-icon: url('@{icon-root}/dummy-icon.svg');
@expiry-icon: url('@{icon-root}/expiry.svg');
@fee-address-icon: url('@{icon-root}/pool-fee-address.svg');
@flag-en: url('@{icon-root}/eng-flag.svg');
@flag-gb: url('@{icon-root}/gb-flag.svg');
@flag-au: url('@{icon-root}/au-flag.svg');
@flag-ptbr: url('@{icon-root}/ptbr-flag.svg');
@generate-addr-icon: url('@{icon-root}/generate-address.svg');
@help-info: url('@{icon-root}/help.svg');
@help-constitution-active-icon: url('@{icon-root}/gavelActive.svg');
@help-constitution-icon: url('@{icon-root}/gavelDefault.svg');
@help-docs-active-icon: url('@{icon-root}/docsActive.svg');
@help-docs-icon: url('@{icon-root}/docsDefault.svg');
@help-forum-active-icon: url('@{icon-root}/forumActive.svg');
@help-forum-icon: url('@{icon-root}/forumDefault.svg');
@help-freenode-active-icon: url('@{icon-root}/freenodeActive.svg');
@help-freenode-icon: url('@{icon-root}/freenodeDefault.svg');
@help-github-active-icon: url('@{icon-root}/githubActive.svg');
@help-github-icon: url('@{icon-root}/githubDefault.svg');
@help-matrix-active-icon: url('@{icon-root}/matrix-hover.svg');
@help-matrix-icon: url('@{icon-root}/matrix.svg');
@help-rocketchat-active-icon: url('@{icon-root}/rocketchat-hover.svg');
@help-rocketchat-icon: url('@{icon-root}/rocketchat.svg');
@help-stakepools-active-icon: url('@{icon-root}/stakepoolsActive.svg');
@help-stakepools-icon: url('@{icon-root}/stakepoolsDefault.svg');
@help-page-icon: url('@{icon-root}/helppage.svg');
@help-slack-active-icon: url('@{icon-root}/slackActive.svg');
@help-slack-icon: url('@{icon-root}/slackDefault.svg');
@hide-account-icon: url('@{icon-root}/account-eye-hide.svg');
@importscript-icon: url('@{icon-root}/import-script.svg');
@indicator-confirmed-icon: url('@{icon-root}/indicator-confirmed.svg');
@indicator-invalid-icon: url('@{icon-root}/indicator-invalid.svg');
@indicator-pending-icon: url('@{icon-root}/indicator-pending.svg');
@launcher-current-wallet-deactivate: url('@{icon-root}/LauncherCurrentWalletDeactivate.svg');
@launcher-current-wallet-deactivate-hover: url('@{icon-root}/LauncherCurrentWalletDeactivateHover.svg');
@launcher-network-active: url('@{icon-root}/LauncherNetworkActive.svg');
@launcher-wallet-activate: url('@{icon-root}/LauncherWalletActivate.svg');
@launcher-wallet-activate-hover: url('@{icon-root}/LauncherWalletActivateHover.svg');
@launcher-wallet-delete: url('@{icon-root}/LauncherWalletDelete.svg');
@launcher-wallet-delete-hover: url('@{icon-root}/LauncherWalletDeleteHover.svg');
@launcher-edit-wallets: url('@{icon-root}/editDefault.svg');
@launcher-edit-wallets-hover: url('@{icon-root}/editHover.svg');
@lifecycle-01: url('@{icon-root}/lifecycle-01.png');
@lifecycle-02: url('@{icon-root}/lifecycle-02.png');
@lifecycle-03: url('@{icon-root}/lifecycle-03.png');
@lifecycle-04: url('@{icon-root}/lifecycle-04.png');
@lifecycle-05: url('@{icon-root}/lifecycle-05.png');
@lifecycle-06: url('@{icon-root}/lifecycle-06.png');
@logo: url('@{icon-root}/logo.svg');
@logo-launcher: url('@{icon-root}/decred-logo-launcher.svg');
@manage-pools-icon: url('@{icon-root}/tickets-manage-stakepools.svg');
@max-fee-icon: url('@{icon-root}/max-fee.svg');
@max-per-block-icon: url('@{icon-root}/max-per-block.svg');
@max-price-absolute-icon: url('@{icon-root}/max-price-absolute.svg');
@max-price-relative-icon: url('@{icon-root}/max-price-relative.svg');
@menu-arrow-up: url('@{icon-root}/menu-arrow-up.svg');
@menu-cancel-rescan-icon: url('@{icon-root}/menu-cancel-rescan.svg');
@menu-rescan-icon: url('@{icon-root}/menu-rescan.svg');
@menu-rescan-hover-icon: url('@{icon-root}/menu-rescan-hover.svg');
@menu-wallet-icon: url('@{icon-root}/menu-wallet.svg');
@menu-arrow: url('@{icon-root}/arrow.svg');
@menu-mainnet: url('@{icon-root}/decred-logo.svg');
@menu-testnet: url('@{icon-root}/testnet-logo.svg');
@menu-hamburger: url('@{icon-root}/hamburger.svg');
@menu-accounts-active: url('@{icon-root}/accounts-active.svg');
@menu-accounts-default: url('@{icon-root}/accounts-default.svg');
@menu-accounts-hover: url('@{icon-root}/accounts-hover.svg');
@menu-governance-active: url('@{icon-root}/governance-active.svg');
@menu-governance-default: url('@{icon-root}/governance-default.svg');
@menu-governance-hover: url('@{icon-root}/governance-hover.svg');
@menu-help-active: url('@{icon-root}/help-active.svg');
@menu-help-default: url('@{icon-root}/help-default.svg');
@menu-help-hover: url('@{icon-root}/help-hover.svg');
@menu-overview-active: url('@{icon-root}/overview-active.svg');
@menu-overview-default: url('@{icon-root}/overview-default.svg');
@menu-overview-hover: url('@{icon-root}/overview-hover.svg');
@menu-securitycntr-active: url('@{icon-root}/securitycntr-active.svg');
@menu-securitycntr-default: url('@{icon-root}/securitycntr-default.svg');
@menu-securitycntr-hover: url('@{icon-root}/securitycntr-hover.svg');
@menu-settings-active: url('@{icon-root}/settings-active.svg');
@menu-settings-default: url('@{icon-root}/settings-default.svg');
@menu-settings-hover: url('@{icon-root}/settings-hover.svg');
@menu-transactions-active: url('@{icon-root}/transactions-active.svg');
@menu-transactions-default: url('@{icon-root}/transactions-default.svg');
@menu-transactions-hover: url('@{icon-root}/transactions-hover.svg');
@menu-tickets-active: url('@{icon-root}/tickets-active.svg');
@menu-tickets-default: url('@{icon-root}/tickets-default.svg');
@menu-tickets-hover: url('@{icon-root}/tickets-hover.svg');
@menu-logo: url('@{icon-root}/menu-logo.svg');
@minus-big-icon: url('@{icon-root}/minus-big.svg');
@minus-small-icon: url('@{icon-root}/minus-small.svg');
@network:  url('@{icon-root}/network.svg');
@new-loader: url('@{icon-root}/3D_Loading.gif');
@no-tx-icon: url('@{icon-root}/no-tx.svg');
@no-tickets-icon: url('@{icon-root}/no-tickets.svg');
@onboarding-blockchain: url('@{icon-root}/onboarding-blockchain.svg');
@onboarding-check: url('@{icon-root}/onboarding-check.svg');
@onboarding-checkcircle: url('@{icon-root}/onboarding-checkcircle.svg');
@onboarding-safetytips: url('@{icon-root}/onboarding-safetytips.svg');
@onboarding-seed: url('@{icon-root}/onboarding-seed.svg');
@onboarding-stakingandgov: url('@{icon-root}/onboarding-stakingandgov.svg');
@onboarding-wallet: url('@{icon-root}/onboarding-wallet.svg');
@password: url('@{icon-root}/password.svg');
@password-inactive-icon: url('@{icon-root}/passwordInactive.svg');
@pending-animation: url('@{icon-root}/pending_dots.gif');
@plus-big-icon: url('@{icon-root}/plus-big.svg');
@plus-small-icon: url('@{icon-root}/plus-small.svg');
@politeia-loading-icon: url("@{icon-root}/politeia-loading.gif");
@pool-fee-icon: url('@{icon-root}/pool-fees.svg');
@restorewallet: url('@{icon-root}/restorewallet.svg');
@search-icon: url('@{icon-root}/search.svg');
@security-center-icon: url('@{icon-root}/securitycenterpage.svg');
@send-all-icon: url('@{icon-root}/send-all.svg');
@send-to-self-icon: url('@{icon-root}/send-to-self.svg');
@send-to-others-icon: url('@{icon-root}/send-to-others.svg');
@settings-page-icon: url('@{icon-root}/settingspage.svg');
@show-account-icon: url('@{icon-root}/account-eye-open.svg');
@sort-by-icon: url('@{icon-root}/sort-by.svg');
@split-fee-icon: url('@{icon-root}/split-fee.svg');
@stake-pool-icon: url('@{icon-root}/stake-pool.svg');
@stakepool-stats-icon: url('@{icon-root}/stakepoolsDefault.svg');
@stakepool-stats-active-icon: url('@{icon-root}/stakepoolsActive.svg');
@stakeySprites: url('@{icon-root}/stakeySprites.png');
@staking-01: url('@{icon-root}/warrior.png');
@stats-disabled-icon: url('@{icon-root}/stats-disabled.svg');
@stakerewards-stats-icon: url('@{icon-root}/stakeRewardsDefault.svg');
@stakerewards-stats-active-icon: url('@{icon-root}/stakeRewardsActive.svg');
@stakey-privacy-standard: url('@{icon-root}/privacyStandard.svg');
@stakey-privacy-disabled: url('@{icon-root}/privacyDisabled.svg');
@stakey-privacy-custom: url('@{icon-root}/privacyCustom.svg');
@testnet-logo: url('@{icon-root}/testnet-logo.svg');
@ticket-address-icon: url('@{icon-root}/voting-address.svg');
@ticket-expired-icon: url('@{icon-root}/ticket-expired.svg');
@ticket-immature-icon: url('@{icon-root}/ticket-immature.svg');
@ticket-lifecycle-icon: url('@{icon-root}/ticket-lifecycle.svg');
@ticket-live-icon: url('@{icon-root}/ticket-live.svg');
@ticket-missed-icon: url('@{icon-root}/ticket-missed.svg');
@ticket-revoked-icon: url('@{icon-root}/ticket-revoked.svg');
@ticket-reward-icon: url('@{icon-root}/blockReward.svg');
@ticket-small-icon: url('@{icon-root}/tickets-ticket.svg');
@ticket-unmined-icon: url('@{icon-root}/ticket-unmined.svg');
@ticket-voted-icon: url('@{icon-root}/ticket-voted.svg');
@tickets-cogs-opened-icon: url('@{icon-root}/tickets-cogs-opened.svg');
@tickets-cogs-closed-icon: url('@{icon-root}/tickets-cogs-closed.svg');
@tickets-info-icon: url('@{icon-root}/tickets-info.svg');
@tickets-page-icon: url('@{icon-root}/ticketspage.svg');
@time-lock-icon: url('@{icon-root}/time-lock.svg');
@transactions-page-icon: url('@{icon-root}/transactionspage.svg');
@transfer-transaction: url('@{icon-root}/ticketFeeTransaction.svg');
@vote-time-stats-icon: url('@{icon-root}/voteTimeDefault.svg');
@vote-time-stats-active-icon: url('@{icon-root}/voteTimeActive.svg');
@wallet-gray-icon: url('@{icon-root}/wallet-gray.svg');
@warning-input: url('@{icon-root}/warningExclamationOrange.svg');
@what-is-staking-icon: url('@{icon-root}/what-is-staking.svg');
@watch-only-icon: url('@{icon-root}/watchOnlyNav.svg');
@x-grey: url('@{icon-root}/x-grey.svg');
@x-white: url('@{icon-root}/closeWhite.svg');

@release-image: url('@{icon-root}/release-note.png');
