
@icon-root: '../style/icons';
@animation-root: '../style/animations';

@account-rename-icon: url('@{icon-root}/account-rename.svg');
@accounts-button-icon: url('@{icon-root}/accountInButton.svg');
@accounts-default: url('@{icon-root}/accountDefault.svg');
@accounts-imported: url('@{icon-root}/accountImported.svg');
@accounts-page-icon: url('@{icon-root}/accountspage.svg');
@add-icon: url('@{icon-root}/add.svg');
@agenda-card-kebab-disabled: url('@{icon-root}/tickets-agenda-card-kebab-disabled.svg');
@agenda-card-kebab-hover: url('@{icon-root}/tickets-agenda-card-kebab-hover.svg');
@agenda-card-kebab: url('@{icon-root}/tickets-agenda-card-kebab.svg');
@agenda-close-icon: url('@{icon-root}/tickets-agenda-close.svg');
@agenda-indicator-finished: url('@{icon-root}/indicator-finished.svg');
@agenda-indicator-pending: url('@{icon-root}/indicator-pending.svg');
@agenda-stripe: url('@{icon-root}/stripe.svg');
@arrow-down-key-blue-icon: url('@{icon-root}/arrow-down-key-blue.svg');
@arrow-down-mid-blue-icon: url('@{icon-root}/arrow-down-mid-blue.svg');
@arrow-right-blue-icon: url('@{icon-root}/arrow-right-key-blue.svg');
@arrow-right-gray-icon: url('@{icon-root}/arrow-right-gray.svg');
@arrow-right-key-blue-icon: url('@{icon-root}/arrow-right-key-blue.svg');
@arrow-up-key-blue-icon: url('@{icon-root}/arrow-up-key-blue.svg');
@arrow-up-light-blue-icon: url('@{icon-root}/arrow-up-light-blue.svg');
@arrow-up-turquiose-icon: url('@{icon-root}/arrow-up-turquiose.svg');
@balance-to-maintain-icon: url('@{icon-root}/balance-to-maintain.svg');
@bell-notification-icon: url('@{icon-root}/bell-notification.svg');
@blockchain: url('@{icon-root}/blockchain.svg');
@buy-decred-icon: url('@{icon-root}/buy-decred.svg');
@checkmarkBlue: url('@{icon-root}/checkmarkBlue.svg');
@checkmarkGrey: url('@{icon-root}/checkmarkGrey.svg');
@checkmarkContext: url('@{icon-root}/checkMarkContextMenu.svg');
@createnewwallet: url('@{icon-root}/createnewwallet.svg');
@change-password-default-icon: url('@{icon-root}/changepasswordDefault.svg');
@close-wallet-icon: url('@{icon-root}/closeWallet.svg');
@contextbutton-eye-default-icon: url('@{icon-root}/contextbutton-eye-default.svg');
@contextbutton-eye-disabled-icon: url('@{icon-root}/contextbutton-eye-disabled.svg');
@copy-to-clipboard-icon: url('@{icon-root}/copy-to-clipboard-blue.svg');
@delete-icon: url('@{icon-root}/delete.svg');
@decred-macos-1024-logo: url('@{icon-root}/decred-macos-1024-logo.png');
@dummy-icon: url('@{icon-root}/dummy-icon.svg');
@disable-spv: url('@{icon-root}/disableSpv.svg');
@enable-spv: url('@{icon-root}/enableSpv.svg');
@expiry-icon: url('@{icon-root}/expiry.svg');
@fee-address-icon: url('@{icon-root}/pool-fee-address.svg');
@flag-au: url('@{icon-root}/au-flag.svg');
@flag-de: url('@{icon-root}/de-flag.svg');
@flag-en: url('@{icon-root}/eng-flag.svg');
@flag-es: url('@{icon-root}/es-flag.svg');
@flag-fr: url('@{icon-root}/fr-flag.svg');
@flag-gb: url('@{icon-root}/gb-flag.svg');
@flag-ja: url('@{icon-root}/ja-flag.svg');
@flag-ptbr: url('@{icon-root}/ptbr-flag.svg');
@flag-zh: url('@{icon-root}/zh-flag.svg');
@generate-addr-icon: url('@{icon-root}/generate-address.svg');
@header-accounts: url('@{icon-root}/accountsHeader.svg');
@header-governance: url('@{icon-root}/governanceHeader.svg');
@header-help: url('@{icon-root}/helpHeader.svg');
@header-security: url('@{icon-root}/securityCenterHeader.svg');
@header-settings: url('@{icon-root}/settingsHeader.svg');
@header-tickets: url('@{icon-root}/ticketsHeader.svg');
@header-transactions: url('@{icon-root}/transactionsHeader.svg');
@help-info: url('@{icon-root}/help.svg');
@help-page-icon: url('@{icon-root}/helppage.svg');
@help-blockchain-explorer: url('@{icon-root}/blockchainExplorerGrey.svg');
@help-constitution: url('@{icon-root}/constitutionGrey.svg');
@help-docs: url('@{icon-root}/docsGrey.svg');
@help-expand-default: url('@{icon-root}/expandDefault.svg');
@help-expand-hover: url('@{icon-root}/expandHover.svg');
@help-external-default: url('@{icon-root}/externalDefault.svg');
@help-external-hover: url('@{icon-root}/externalHover.svg');
@help-forum: url('@{icon-root}/forumGrey.svg');
@help-freenode: url('@{icon-root}/freenodeGrey.svg');
@help-github: url('@{icon-root}/githubGrey.svg');
@help-matrix: url('@{icon-root}/matrixGrey.svg');
@help-rocketchat: url('@{icon-root}/rocketchatGrey.svg');
@help-slack: url('@{icon-root}/slackGrey.svg');
@help-stakepools: url('@{icon-root}/stakepoolsGrey.svg');
@help-star: url('@{icon-root}/starGrey.svg');
@help-telegram: url('@{icon-root}/telegramGrey.svg');
@hide-account-icon: url('@{icon-root}/account-eye-hide.svg');
@importscript-icon: url('@{icon-root}/import-script.svg');
@indicator-confirmed-icon: url('@{icon-root}/indicator-confirmed.svg');
@indicator-invalid-icon: url('@{icon-root}/indicator-invalid.svg');
@indicator-pending-icon: url('@{icon-root}/indicator-pending.svg');
@launcher-current-wallet-deactivate: url('@{icon-root}/LauncherCurrentWalletDeactivate.svg');
@launcher-current-wallet-deactivate-hover: url('@{icon-root}/LauncherCurrentWalletDeactivateHover.svg');
@launcher-network-active: url('@{icon-root}/LauncherNetworkActive.svg');
@launcher-wallet-activate: url('@{icon-root}/LauncherWalletActivate.svg');
@launcher-wallet-activate-hover: url('@{icon-root}/LauncherWalletActivateHover.svg');
@launcher-wallet-delete: url('@{icon-root}/LauncherWalletDelete.svg');
@launcher-wallet-delete-hover: url('@{icon-root}/LauncherWalletDeleteHover.svg');
@launcher-edit-wallets: url('@{icon-root}/editDefault.svg');
@launcher-edit-wallets-hover: url('@{icon-root}/editHover.svg');
@legend-available: url('@{icon-root}/availLegend.svg');
@legend-locked: url('@{icon-root}/lockedLegend.svg');
@legend-sent: url('@{icon-root}/sentLegend.svg');
@legend-received: url('@{icon-root}/receivedLegend.svg');
@legend-active: url('@{icon-root}/activeLegend.svg');
@legend-voted: url('@{icon-root}/votedLegend.svg');
@lifecycle-01: url('@{icon-root}/lifecycle-01.png');
@lifecycle-02: url('@{icon-root}/lifecycle-02.png');
@lifecycle-03: url('@{icon-root}/lifecycle-03.png');
@lifecycle-04: url('@{icon-root}/lifecycle-04.png');
@lifecycle-05: url('@{icon-root}/lifecycle-05.png');
@lifecycle-06: url('@{icon-root}/lifecycle-06.png');
@launcher-logo: url('@{icon-root}/launcher-logo.svg');
@logo: url('@{icon-root}/decred-logo.svg');
@manage-pools-icon: url('@{icon-root}/tickets-manage-stakepools.svg');
@max-fee-icon: url('@{icon-root}/max-fee.svg');
@max-per-block-icon: url('@{icon-root}/max-per-block.svg');
@max-price-absolute-icon: url('@{icon-root}/max-price-absolute.svg');
@max-price-relative-icon: url('@{icon-root}/max-price-relative.svg');
@menu-arrow-up: url('@{icon-root}/menu-arrow-up.svg');
@menu-cancel-rescan-icon: url('@{icon-root}/menu-cancel-rescan.svg');
@menu-rescan-icon: url('@{icon-root}/menu-rescan.svg');
@menu-rescan-hover-icon: url('@{icon-root}/menu-rescan-hover.svg');
@menu-wallet-icon: url('@{icon-root}/menu-wallet.svg');
@menu-arrow: url('@{icon-root}/arrow.svg');
@menu-hamburger: url('@{icon-root}/hamburger.svg');
@menu-accounts-active: url('@{icon-root}/accounts-active.png');
@menu-accounts-default: url('@{icon-root}/accounts-default.png');
@menu-governance-active: url('@{icon-root}/governance-active.png');
@menu-governance-default: url('@{icon-root}/governance-default.png');
@menu-help-active: url('@{icon-root}/help-active.png');
@menu-help-default: url('@{icon-root}/help-default.png');
@menu-overview-active: url('@{icon-root}/overview-active.png');
@menu-overview-default: url('@{icon-root}/overview-default.png');
@menu-securitycntr-active: url('@{icon-root}/securitycntr-active.png');
@menu-securitycntr-default: url('@{icon-root}/securitycntr-default.png');
@menu-settings-active: url('@{icon-root}/settings-active.png');
@menu-settings-default: url('@{icon-root}/settings-default.png');
@menu-transactions-active: url('@{icon-root}/transactions-active.png');
@menu-transactions-default: url('@{icon-root}/transactions-default.png');
@menu-trezor-active: url('@{icon-root}/trezor-active.png');
@menu-trezor-default: url('@{icon-root}/trezor-default.png');
@menu-trezor-hover: url('@{icon-root}/trezor-hover.png');
@menu-tickets-active: url('@{icon-root}/tickets-active.png');
@menu-tickets-default: url('@{icon-root}/tickets-default.png');
@menu-logo: url('@{icon-root}/menu-logo.svg');
@minus-big-icon: url('@{icon-root}/minus-big.svg');
@minus-small-icon: url('@{icon-root}/minus-small.svg');
@network:  url('@{icon-root}/network.svg');
@new-loader: url('@{icon-root}/3D_Loading.gif');
@no-tx-icon: url('@{icon-root}/no-tx.svg');
@no-tickets-icon: url('@{icon-root}/no-tickets.svg');
@notificationSuccess: url('@{icon-root}/notificationSuccess.svg');
@notificationError: url('@{icon-root}/notificationError.svg');
@onboarding-blockchain: url('@{icon-root}/onboarding-blockchain.svg');
@onboarding-check: url('@{icon-root}/onboarding-check.svg');
@onboarding-checkcircle: url('@{icon-root}/onboarding-checkcircle.svg');
@onboarding-safetytips: url('@{icon-root}/onboarding-safetytips.svg');
@onboarding-seed: url('@{icon-root}/onboarding-seed.svg');
@onboarding-stakingandgov: url('@{icon-root}/onboarding-stakingandgov.svg');
@onboarding-wallet: url('@{icon-root}/onboarding-wallet.svg');
@password: url('@{icon-root}/password.svg');
@password-inactive-icon: url('@{icon-root}/passwordInactive.svg');
@pending-animation: url('@{icon-root}/pending_dots.gif');
@plus-big-icon: url('@{icon-root}/plus-big.svg');
@plus-small-icon: url('@{icon-root}/plus-small.svg');
@politeia-loading-icon: url("@{icon-root}/politeia-loading.gif");
@pool-fee-icon: url('@{icon-root}/pool-fees.svg');
@rebroadcastTransaction: url('@{icon-root}/rebroadcastTransaction.svg');
@restorewallet: url('@{icon-root}/restorewallet.svg');
@search-icon: url('@{icon-root}/search.svg');
@security-center-icon: url('@{icon-root}/securitycenterpage.svg');
@send-all-default: url('@{icon-root}/sendMaxDefault.svg');
@send-all-hover: url('@{icon-root}/sendMaxHover.svg');
@send-self-default: url('@{icon-root}/sendSelfDefault.svg');
@send-self-hover: url('@{icon-root}/sendSelfHover.svg');
@send-to-others-icon: url('@{icon-root}/send-to-others.svg');
@settings-page-icon: url('@{icon-root}/settingspage.svg');
@show-account-icon: url('@{icon-root}/account-eye-open.svg');
@sidebar-balance-icon: url('@{icon-root}/sidebar-balance.svg');
@sort-by-icon: url('@{icon-root}/sort-by.svg');
@split-fee-icon: url('@{icon-root}/split-fee.svg');
@stake-pool-icon: url('@{icon-root}/stake-pool.svg');
@stakepool-stats-icon: url('@{icon-root}/stakepoolsDefault.svg');
@stakepool-stats-active-icon: url('@{icon-root}/stakepoolsActive.svg');
@stakeySprites: url('@{icon-root}/stakeySprites.png');
@staking-01: url('@{icon-root}/warrior.png');
@stats-disabled-icon: url('@{icon-root}/stats-disabled.svg');
@stakerewards-stats-icon: url('@{icon-root}/stakeRewardsDefault.svg');
@stakerewards-stats-active-icon: url('@{icon-root}/stakeRewardsActive.svg');
@stakey-privacy-standard: url('@{icon-root}/privacyStandard.svg');
@stakey-privacy-disabled: url('@{icon-root}/privacyDisabled.svg');
@stakey-privacy-custom: url('@{icon-root}/privacyCustom.svg');
@testnet-logo: url('@{icon-root}/testnet-logo.svg');
@ticket-address-icon: url('@{icon-root}/voting-address.svg');
@ticket-expired-icon: url('@{icon-root}/ticket-expired.svg');
@ticket-immature-icon: url('@{icon-root}/ticket-immature.svg');
@ticket-lifecycle-icon: url('@{icon-root}/ticket-lifecycle.svg');
@ticket-live-icon: url('@{icon-root}/ticket-live.svg');
@ticket-missed-icon: url('@{icon-root}/ticket-missed.svg');
@ticket-revoked-icon: url('@{icon-root}/ticket-revoked.svg');
@ticket-reward-icon: url('@{icon-root}/blockReward.svg');
@ticket-small-icon: url('@{icon-root}/tickets-ticket.svg');
@ticket-unmined-icon: url('@{icon-root}/ticket-unmined.svg');
@ticket-voted-icon: url('@{icon-root}/ticket-voted.svg');
@ticket-voted-grey-icon: url('@{icon-root}/votingGrey.svg');
@tickets-cogs-opened-icon: url('@{icon-root}/tickets-cogs-opened.svg');
@tickets-cogs-closed-icon: url('@{icon-root}/tickets-cogs-closed.svg');
@tickets-info-icon: url('@{icon-root}/tickets-info.svg');
@tickets-page-icon: url('@{icon-root}/ticketspage.svg');
@time-lock-icon: url('@{icon-root}/time-lock.svg');
@transactions-page-icon: url('@{icon-root}/transactionspage.svg');
@transfer-transaction: url('@{icon-root}/ticketFeeTransaction.svg');
@txDetailsArrowLeft: url('@{icon-root}/txDetailsArrowLeft.svg');
@vote-time-stats-icon: url('@{icon-root}/voteTimeDefault.svg');
@vote-time-stats-active-icon: url('@{icon-root}/voteTimeActive.svg');
@wallet-blue-icon: url('@{icon-root}/wallet-blue.svg');
@wallet-gray-icon: url('@{icon-root}/wallet-gray.svg');
@warning-input: url('@{icon-root}/warningExclamationOrange.svg');
@what-is-staking-icon: url('@{icon-root}/what-is-staking.svg');
@watch-only-icon: url('@{icon-root}/watchOnlyNav.svg');
@x-grey: url('@{icon-root}/x-grey.svg');
@x-white: url('@{icon-root}/closeWhite.svg');

@loader-animation-blockchain-syncing: url('@{icon-root}/blockchain_syncing_loader.gif');
@loader-animation-daemon-waiting: url('@{icon-root}/daemon_waiting_loader.gif');
@loader-animation-discovering-addresses: url('@{icon-root}/discovering_addresses_loader.gif');
@loader-animation-establishing-rpc: url('@{icon-root}/establishing_rpc_loader.gif');
@loader-animation-fetching-headers: url('@{icon-root}/fetching_headers_loader.gif');
@loader-animation-finalizing-setup: url('@{icon-root}/finalizing_setup_loader.gif');
@loader-animation-scanning-blocks: url('@{icon-root}/scanning_blocks_loader.gif');

@menu-animation-accounts: url('@{animation-root}/accountsMotion.gif');
@menu-animation-governance: url('@{animation-root}/governanceMotion.gif');
@menu-animation-help: url('@{animation-root}/helpMotion.gif');
@menu-animation-overview: url('@{animation-root}/overviewMotion.gif');
@menu-animation-settings: url('@{animation-root}/settingsMotion.gif');
@menu-animation-security: url('@{animation-root}/securityMotion.gif');
@menu-animation-tickets: url('@{animation-root}/ticketsMotion.gif');
@menu-animation-transactions: url('@{animation-root}/transactionsMotion.gif');

@release-image-v130: url('@{icon-root}/release-note-v130.gif');
@release-image-v140: url('@{icon-root}/release-note-v140.gif');
