.numeric-input {
  width: 100%;
  border-style: none;
  color: #2971ff;
  border-bottom: 1px solid;
  font-size: 15px;
  cursor: text;

  &:focus {
    color: #2971ff;
  }
}

.errors-area {
  width: 200px;
  text-align: left;
  color: red;
  font-size: 11px;
  padding-top: 4px;
}

.unit-area {
  height: 20px;
}

.right-balance-small {
  float: right;
  font-size: 0.6em;
}
