@import (reference) "./main.less";
@import (reference) "./Icons.less";

.page-body.getstarted {
  padding: 40px;
  background-color: #F7F8F9;
  display: block;
}

.getstarted-logo {
  background-repeat: no-repeat;
  background-image: @logo-launcher;
  z-index: 3;
  height: 32px;
}

.getstarted-new {
  color: #48566E;
  padding-left: 52px;
  padding-top: 106px;
}

.language-select-title {
  font-size: 27px;
  line-height: 34px;
}

.language-select-title-sub {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 42px;
}

.language-select-toolbar {
  height: 29px;
  display: flex;
  .language-select-input {
    width: 130px;
    padding-right: 10px;
    .Select-control {
      border: 1px solid #E7EAED;
      border-radius: 5px;
      height: 29px;
      padding-top: 5px;
      padding-right: 5px;
    }
    .Select-control:hover {
      border: 1px solid #959DAC;
    }
    /*
    .Select-value-label {
      background-image: @flag-en;
      background-repeat: no-repeat;
      background-size: 20px;
      width: 20px;
      margin-left: 10px;
    }
    */
  }
  .language-select-button {
    padding: 10px 16px 10px 16px
  }
}

