@import (reference) "./main.less";
@import (reference) "./Icons.less";

.page-body.getstarted {
  padding: 40px;
  background-color: #f7f8f9;
  display: block;
}

.getstarted-logo {
  background-repeat: no-repeat;
  background-image: @logo-launcher;
  z-index: 3;
  height: 32px;
}

.getstarted-new {
  color: #48566e;
  padding-left: 52px;
  padding-top: 106px;
}

.language-select-title {
  font-size: 27px;
  line-height: 34px;
}

.language-select-title-sub {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 42px;
}

.language-select-toolbar {
  height: 29px;
  display: flex;

  .language-label {
    margin-top: 5px;
  }

  .language-select-input {
    .Select-control {
      border: 1px solid #e7eaed;
      border-radius: 5px;
      height: 29px;
      padding-top: 5px;
      padding-right: 5px;
    }

    .Select-control:hover {
      border: 1px solid #959dac;
    }
  }

  .language-select-button {
    padding: 10px 16px 10px 16px;
  }
}

.language-select-input {
  .inline-block-mixin;

  width: 200px;
  margin-right: 0.5em;
}

.language-label {
  display: flex;

  .flag {
    flex-grow: 2;
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 2px;
  }

  .flag.en {
    background-image: @flag-en;
  }

  .flag.en-AU {
    background-image: @flag-au;
  }

  .flag.pt-BR {
    background-image: @flag-ptbr;
  }

  .name {
    flex-grow: 4;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
