@import (reference) "./main.less";
@import (reference) "./Icons.less";

.page-body.getstarted {
  padding: 40px;
  background-color: #F7F8F9;
}

.getstarted-logo {
  background-repeat: no-repeat;
  background-image: @logo-launcher;
  z-index: 3;
  height: 32px;
}

.getstarted-new {
  color: #48566E;
  padding-left: 52px;
  padding-top: 106px;
}

.language-select-title {
  font-size: 27px;
  line-height: 34px;
}

.language-select-title-sub {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 42px;
}

.language-select-toolbar {
  height: 29px;
  display: flex;
  .language-select-input {
    height: 29px;
    width: 130px;
    padding-right: 10px;
  }
  .language-select-button {
    padding: 10px 16px 10px 16px
  }
}