// Classes for laying out the pages

@import (reference) "./main.less";

.page-body {
  background-color: #fff;
}

.page-view {
  background-color: #f3f6f6;
  position: fixed;
  left: 298px;
  right: 0px;
  bottom: 0px;
  top: 0px;
}

.page-content {
  padding: 54px 60px 54px 80px;
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 165px;
}

.page-content-blur {
  filter: blur(6px);
  overflow: auto;
  height: 556px;
  padding: 54px 60px 54px 80px;
}
