@import (reference) "./main.less";

.ln-wallet-actions {
  margin-top: 1em;
}

.ln-wallet-form {
  background-color: var(--background-back-color);
  padding: 1em;
  margin: 1em 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.ln-withdrawwallet-modalcontent,
.ln-fundwallet-modalcontent {
  margin-bottom: 2em;

  div {
    display: inline-block;
  }
}

.ln-connect-opts {
  background-color: var(--background-back-color);
  padding: 8px 25px 40px 25px;
  margin-bottom: 37px;
}

.checkbox {
  max-width: 420px;
}

.ln-connect-opts .ln-connect-opt {
  flex-wrap: wrap;
  display: flex;
  padding-top: 18px;

  .label {
    display: inline-block;
    margin-top: 8px;
    margin-right: 14px;
    width: 125px;
  }

  .account-selection {
    display: grid;
    grid-row-gap: 10px;
    justify-items: right;
  }

  .account-list {
    width: 210px;
  }

  .existing-account-warning {
    color: var(--error-text-color);
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
  }

  .fileInput {
    padding-right: 10px;
    margin-top: 8px;
  }
}
