@import (reference) "./main.less";

.ln-wallet-actions {
  margin-top: 1em;
}

.ln-wallet-form {
  background-color: var(--background-back-color);
  padding: 1em;
  margin: 1em 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.ln-withdrawwallet-modalcontent,
.ln-fundwallet-modalcontent {
  margin-bottom: 2em;

  div {
    display: inline-block;
  }
}

.ln-connect-form {
  background-color: var(--background-back-color);
  padding: 1em;
  margin: 1em 0em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.ln-createwallet-warning-doc {
  max-width: 36em;

  p, ul, h1 {
    margin-bottom: 1em;
  }

  ul > li > p {
    margin-bottom: 0.2em;
  }
}

.ln-connect-opts .ln-connect-opt {
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 18px;

  .label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
    text-align: right;
    width: 125px;
  }

  .checkbox {
    margin-top: 2px;

    input[type="checkbox"] {
      display: initial;
    }
  }

  .account-selection {
    display: grid;
    grid-row: 2;
    grid-row-gap: 10px;
    justify-items: right;
  }

  .account-list {
    width: 210px;
  }

  .existing-account-warning {
    color: var(--error-text-color);
    font-size: 11px;
    line-height: 15px;
    margin-top: 5px;
  }

  .description {
    font-style: italic;
    text-align: right;
    margin-right: 28px;
    color: var(--disabled-color);
    font-size: 11px;
    line-height: 15px;
    width: 175px;
  }
}
