@import (reference) "./main.less";

@keyframes spin {
  30% {
    transform: rotate(182deg);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  80% {
    transform: rotate(362deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  text-align: center;
}

.logo {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-image: var(--mainnet-logo);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.spin {
  animation: spin 3s ease-in-out infinite;
}

