@import (reference) "./main.less";
@import (reference) "./Icons.less";

@keyframes spin {
  30% { transform: rotate(182deg); }
  40% { transform: rotate(180deg); }
  50% { transform: rotate(180deg); }
  80% { transform: rotate(362deg); }
  90% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  text-align: center;
}

.logo {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-image: @logo;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.spin {
  animation: spin 3s ease-in-out infinite;
}

.loading-more-transactions-indicator {
  padding: 17px 18px 18px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 2em;
}

.new-logo-animation {
  margin-top: 120px;
  margin-left: 45%;
  margin-bottom: 40px;
  display: inline-block;
  height: 120px;
  width: 120px;
  background-image: @new-loader;
  background-position: 0px 0px;
  background-size: 120px;
  background-repeat: no-repeat;
}

.linear-progress {
  height: 55px;
  width: 100%;
  border-radius: 8px;
  background-color: #d1d5db;
}

.linear-progress-box {
  position: absolute;
  margin-top: 7px;
  height: 41px;
  width: 41px;
  border-radius: 3px;
  opacity: 0.08;
  background-color: #fff;
  animation: slide 3s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

.linear-progress-box.one {
  animation-delay: 0s;
}

.linear-progress-box.two {
  animation-delay: 0.5s;
}

.linear-progress-box.three {
  animation-delay: 1s;
}

.linear-progress-box.four {
  animation-delay: 1.5s;
}

.linear-progress-box.five {
  animation-delay: 2s;
}

.linear-progress-box.six {
  animation-delay: 2.5s;
}

@keyframes slide {
  100% { left: 59px; }
}

.linear-progress-text {
  position: absolute;
  color: #fff;
  font-size: 11px;
  padding-left: 46px;
  padding-top: 19px;
  font-family: @font-family-monospaced;
}

.linear-progress-bar {
  background: linear-gradient(270deg, rgb(110, 211, 243), rgb(41, 112, 255));
  border-radius: 8px;
  height: 100%;
  box-shadow: 0px 5px 13px rgba(41, 112, 255, 0.21);
}

.progressbar {
  position: absolute;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 10%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background-image: -webkit-linear-gradient(180deg, #6ed3f3, #2970ff);
  background-image: linear-gradient(270deg, #6ed3f3, #2970ff);
}

.progressbar.drop-shadow {
  z-index: 0;
  border-radius: 8px;
  background-image: none;
  box-shadow: 0 5px 13px 0 rgba(41, 112, 255, 0.21);
}

.progressbar._100percent {
  width: 100%;
}

.progressbar._20percent {
  width: 20%;
}

.fullbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #d1d5db;
}

.n-block {
  position: absolute;
  left: -41px;
  width: 41px;
  height: 41px;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.08);
}

.css-control {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 999;
  width: 20px;
  height: 20px;
  background-color: #000;
}

.n-block {
  animation-duration: 3000ms;
  animation-name: a;
  animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  animation-iteration-count: infinite;
  will-change: transform;
}

@keyframes a {
  to {
    transform: translateX(-41px);
    opacity: 0.14;
  }
}

/*
$(function() {
  // main selectors
   var loader = $('.loader'),
        fullbar = $('.full-bar'),
        progressbar = $('.progressbar'),
        nblock = $('.n-block'),
        animationDuration = 3000,
        dropshadow = $('.drop-shadow');

   // only if progressbar is less than 100%
  if(progressbar.width() < loader.width()) {
     // set animation duration
    nblock.css('animation-duration', animationDuration+'ms');
    // beforehand variables
    var nblockAmount = Math.round(progressbar.width()/nblock.width())-1,
      animationDelay = Math.round(animationDuration/nblockAmount),
      nblocks = '';
      // add nblocks based on progressbar width
    for(x = 0; x < nblockAmount; x++) {
      var delay = x*animationDelay;
      nblocks += '<div class="n-block" style="animation-delay: '+delay+'ms;"></div>';
    }
    progressbar.not(dropshadow).html(nblocks);
    // set nblock x-axis transform destination based on loader width
    $('.n-block').css('transform', 'translateX('+(progressbar.width()+82)+'px)');
  } else {
    nblock.remove();
  }
});
*/
