.login-form {
  display: flex;
  flex-direction: column;

  .message-label {
    color: white;
  }

  input {
    margin-bottom: 10px;
  }

  .key-blue-button {
    align-self: flex-end;
  }
}

.login-form-title {
  color: white;
}

.login-forms-wrapper {
  display: flex;
  flex-direction: row;
}

.login-form-wrapper {
  .key-blue-button {
    margin-top: 10px;
  }
}
