@import (reference) "./main.less";
@import (reference) "./Icons.less";

.log-area {
  background-color: #fff;
  color: #48566e;
  width: 100%;
  margin-top: 15px;
  float: left;

  .log-area-logs {
    margin: 30px 42px 30px 42px;

    textarea {
      font-family: Inconsolata, monospace;
      font-size: 13px;
      resize: none;
      width: 100%;
      background-color: #fff;
      border: none;
    }
  }

  .log-area-title {
    padding: 0.5em;
    font-size: 18px;
    border-bottom: 1px solid #f0f4f4;
    background-position: 95px 15px;
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .log-area-title.expanded {
    background-image: @arrow-down-mid-blue-icon;
  }

  .log-area-title.expanded:hover {
    background-image: @arrow-down-key-blue-icon;
    background-size: 10px;
  }

  .log-area-title.hidden {
    background-image: @arrow-right-gray-icon;
    background-position: 98px 15px;
    background-size: 5px;
  }

  .log-area-title.hidden:hover {
    background-image: @arrow-right-key-blue-icon;
    background-position: 98px 15px;
    background-size: 5px;
  }
}
