////////////////////////////////////
//  Global variables
////////////////////////////////////

:root {
  // TODO: check if these css variables aren't in style/themes/...
  // and if not migrate theme and delete from here
  --sidebar-width: 296px;
  --sidebar-width-reduced: 60px;
  --disabled-box-shadow-color: rgba(0, 0, 0, 0.1);
  --disabled-box-shadow: 0px 1px 1px var(--disabled-box-shadow-color);

  --font-family-monospaced: "Source Code Pro", monospace;
  --font-family-regular: "Source Sans Pro", sans-serif;
  --font-family-regular-semi-bold: "Source Sans Pro Semi Bold", sans-serif;

  --input-transition-time: 230ms;
  --input-timing-function: ease-in-out;
}

////////////////////////////////////
//  Global mixin classes
////////////////////////////////////

// Usage:
//
//  <div className="container">
//      <div className="left">...</div>
//      <div className="right">...</div>
//  </div>
//
//  .container {
//      .clearfloat-mixin;
//  }
//
//  .left {
//      float: left;
//  }
//  .right {
//      float: right;
//  }
.clearfloat-mixin {
  content: "";
  clear: both;
  display: table;
}

// MixIn to be used on UI elements to be displayed side-by-side
// Adds a minimial margin to the right for the spacing of the next element
.inline-block-mixin {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

////////////////////////////////////
//  Global classes
////////////////////////////////////

// TODO: delete box-sizing: content-box;
// I added this ugly `:not` workaround to be able to skip pi-ui's classes
// which are prefixed with 'styles_'.
// Ideally we should use `* { box-sizing: inherit; } and html { box-sizing: border-box }`(already done in pi-ui)
// we shouldn't override it in a global level - we should take care of this while migrating this file to a css module.
*:not([class^="styles_"]),
*:not([class^="styles_"])::before,
*:not([class^="styles_"])::after {
  box-sizing: content-box;
}

[class^="styles_"] > * {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-regular);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
  box-sizing: border-box;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  color: var(--input-color-default);
  background-color: var(--background-back-color);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

.mono {
  font-family: var(--font-family-monospace);
}

.error {
  color: var(--error-text-color);
}

.warning {
  color: var(--error-text-color);
}

.is-row {
  display: flex;
  flex-direction: row;
}

.is-column {
  display: flex;
  flex-direction: column;
}

// Main scroll bar styling
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--disabled-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--disabled-color);
}

////////////////////////////////////
//  Disable element selection
////////////////////////////////////

.decrediton {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

//Exceptions

.standalone-page.txdetails-standalone-page,
.snackbar,
.purchase-ticket-area,
.receive-content-nest,
.stakepool-flex-height,
.tickets-list,
.my-tickets-charts,
.account-content-nest,
.message-signature {
  -webkit-user-select: text;
}
