////////////////////////////////////
//  Global variables
////////////////////////////////////

@sidebar-width: 296px;
@sidebar-width-reduced: 60px;
@disabled-box-shadow-color: rgba(0, 0, 0, 0.1);
@disabled-box-shadow: 0px 1px 1px @disabled-box-shadow-color;

@font-family-monospaced: "Inconsolata", monospace;
@font-family-regular: "Source Sans Pro", sans-serif;

@input-transition-time: 230ms;
@input-timing-function: ease-in-out;

////////////////////////////////////
//  Global mixin classes
////////////////////////////////////

// Usage:
//
//  <div className="container">
//      <div className="left">...</div>
//      <div className="right">...</div>
//  </div>
//
//  .container {
//      .clearfloat-mixin;
//  }
//
//  .left {
//      float: left;
//  }
//  .right {
//      float: right;
//  }
.clearfloat-mixin {
  content: "";
  clear: both;
  display: table;
}

// MixIn to be used on UI elements to be displayed side-by-side
// Adds a minimial margin to the right for the spacing of the next element
.inline-block-mixin {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

////////////////////////////////////
//  Global classes
////////////////////////////////////

.error {
  color: var(--error-text-color);
}

.warning {
  color: var(--error-text-color);
}

////////////////////////////////////
//  Animation curvers
////////////////////////////////////

// Check out standard curves in http://easings.net
@easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

// Main scroll bar styling
::-webkit-scrollbar {
  width: 5px;
  background-color: var(--disabled-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--disabled-color);
}

.theme-dark {
  --background-back-color: #4c4c4c; // all gone
  --background-container: #616262; // all gone
  --background-container-hover: #484949;
  --background-hovered: #e9f8fe;
  --input-color-default: #b5b8c5; // all gone
  --input-color-hovered: #b5b8c5;
  --input-color-focused: #b5b8c5;
  --input-color-disabled: #dadfe2;
  --stroke-color-default: #a9b4bf;  // all gone
  --title-text-and-button-background: #b5bbc5;
  --title-text-and-button-background-hovered: #b5bbc5;
  --stroke-color-hovered: #bcc4cc;
  --stroke-color-focused: #a9c5ff;
  --input-color: #a9c5ff;
  --input-color-hover: #7ea9ff;
  --link-color: #a9c5ff;
  --link-hover-color: #6397ff;
  --accent-color: #2ed8a3;
  --blue-highlight-background: #546065;
  --tab-text: #9ca8b5;
  --tab-text-active-hover: #c4ccd4;
  --cyan-bold: #69d5f7;
  --disabled-color: #8997a5;
  --disabled-background-color: #e7eaed;
  --error-text-color: #fd714b;
  --error-red: red;
  --vote-yes-color: #2ed8a3;
  --vote-no-color: #f2734f;
  --vote-abstain-color: #596d81;
  --white-border: #d1d5db;
}

.theme-light {
  --background-back-color: #fff; // all gone
  --background-container: #f3f5f6; // all gone
  --background-container-hover: #f0f4f4;
  --background-hovered: #e9f8fe;
  --input-color-default: #091440; // all gone
  --input-color-hovered: #091440;
  --input-color-focused: #091440;
  --input-color-disabled: #dadfe2;
  --title-text-and-button-background: #48566e;
  --title-text-and-button-background-hovered: #48566e;
  --stroke-color-default: #a9b4bf;  // all gone
  --stroke-color-hovered: #596d81;
  --stroke-color-focused: #2970ff;
  --input-color: #2970ff;
  --input-color-hover: #1c4eb2;
  --link-color: #2970ff;
  --link-hover-color: #6397ff;
  --accent-color: #2ed8a3;
  --blue-highlight-background: #d3f0fd;
  --tab-text: #9ca8b5;
  --tab-text-active-hover: #3d5873;
  --cyan-bold: #69d5f7;
  --disabled-color: #8997a5;
  --disabled-background-color: #e7eaed;
  --error-text-color: #fd714b;
  --error-red: red;
  --error-red-hover: red;
  --vote-yes-color: #2ed8a3;
  --vote-no-color: #f2734f;
  --vote-abstain-color: #596d81;
  --white-border: #d1d5db;
}
