@import (reference) "./main.less";
@import (reference) "./Icons.less";

.accounts-button-icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: @accounts-button-icon;
  background-position: 0 0;
  background-size: 20px auto;
  background-repeat: no-repeat;
  cursor: pointer;
  vertical-align: middle;
}

.accounts-button-icon:hover {
  background-image: @accounts-button-hover-icon;
}

.clipboard-box {
  position: relative;
  display: inline-block;
}

.copy-to-clipboard-icon {
  display: inline-block;
  width: 20px;
  height: 18px;
  background-image: @copy-to-clipboard-icon;
  background-position: 0 0;
  background-size: 20px auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

.copy-to-clipboard-icon:hover {
  background-image: @copy-to-clipboard-hover-icon;
}

.copy-to-clipboard-success {
  font-size: 12px;
  color: #fff;
  background-color: #69d3f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -4px);
}

.copy-to-clipboard-success.hidden {
  display: none;
}

.help-link {
  display: block;
  width: 50%;
  padding: 15px 0 15px 40px;
  background-image: @help-link-icon;
  background-position: 0px 50%;
  background-size: 0px;
  background-repeat: repeat-y;
  color: black;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.help-link:hover {
  background-color: #616262;
  background-size: 5px;
  color: #fff;
}

.key-blue-button {
  cursor: pointer;
  display: inline-block;
  padding: 17px 18px 18px;
  border-radius: 5px;
  background-color: #2971ff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  color: #fff;
  font-size: 13px;
  line-height: 9px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.key-blue-button:hover {
  background-color: #1b58ff;
}

.key-blue-button:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  background-color: #0025cc;
}

.key-blue-button-disabled, .key-blue-button[disabled] {
  cursor: default;
  display: inline-block;
  padding: 17px 18px 18px;
  border-radius: 5px;
  background-color: @disabled-background-color;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: @disabled-color;
  font-size: 13px;
  line-height: 9px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.slate-gray-button {
  cursor: pointer;
  display: inline-block;
  padding: 17px 18px 18px;
  border-radius: 5px;
  background-color: #8997a5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  line-height: 9px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.slate-gray-button:hover {
  background-color: #596d81;
}

.slate-gray-button:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.22);
}

.manage-pools-button {
  float: left;
  background-color: #2971ff;
  background-image: @manage-pools-icon;
  background-position: 50% 50%;
  background-size: 12px;
  background-repeat: no-repeat;
  outline: 0;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.manage-pools-button:hover {
  background-color: #1b58ff;
}

.manage-pools-button:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.menu-navigation-link {
  display: block;
  cursor: pointer;
  height: 52px;
  line-height: 52px;
  padding-left: 58px;
  color: #c4cbd2;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  background-image: @menu-link-icon;
  background-position: 0px 50%;
  background-size: 0px;
  background-repeat: repeat-y;
  transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.menu-navigation-link:hover {
  background-size: 5px;
}

.menu-navigation-link-active {
  background-image: @menu-link-icon;
  background-position: 0px 50%;
  background-size: 5px;
  background-repeat: repeat-y;
  cursor: default;
}

.sidebar-mainnet .menu-navigation-link:hover,
.sidebar-mainnet .menu-navigation-link-active {
  background-color: #09182d;
}

.sidebar-testnet .menu-navigation-link:hover,
.sidebar-testnet .menu-navigation-link-active {
  background-color: #2151a7;
}

.purchase-tickets-info-button {
  border-radius: 0px;
  background-image: @tickets-info-icon;
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 3px;
  background-color: transparent;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.purchase-tickets-info-button:hover {
  opacity: 0.7;
}

.ticket-cogs-opened,
.ticket-cogs-closed {
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: white;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

.ticket-cogs-opened {
  background-image: @tickets-cogs-opened-icon;
}

.ticket-cogs-closed {
  background-image: @tickets-cogs-closed-icon;
}

.ticket-cogs-opened:hover,
.ticket-cogs-closed:hover {
  opacity: 0.7;
}

.rescan-progress-area {
  color: #69d5f7;
  font-size: 16px;
}

.rescan-progress-percent {
  float: right;
}

.rescan-progress-fraction {
  float: left;
}

.rescan-button-area {
  float: right;
}

.context-menu-item {
  font-size: 13px;
  line-height: 2em;
  min-width: 10em;
}
