@agenda-close-icon: url(../components/icons/tickets-agenda-close.svg);


.agenda-overview-title-close {
    position: absolute;
    top: 7px;
    right: 0px;
    width: 11px;
    height: 11px;
    float: right;
    background-image: @agenda-close-icon;
    background-position: 50% 50%;
    background-size: 11px;
    background-repeat: no-repeat;
    max-width: 100%;
    background-color: transparent;
    cursor: pointer;
}
.agenda-overview-title-close:hover {
    opacity: 0.7;
}