@import (reference) "./main.less";

.passphrase-modal-field {
  display: flex;
  height: 36px;
  margin-bottom: 5px;
}

.passphrase-modal-field-label {
  font-size: 13px;
  text-align: right;
  width: 12em;
  margin-right: 0.5em;
  padding-top: 4px;
}

.passphrase-modal-field-value {
  width: 300px;
}
