@import (reference) "./main.less";

.app-modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.app-modal {
  position: fixed;
  background-color: #fff;
}

.app-modal.info-modal {
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  z-index: 200;
  border-radius: 5px;
  overflow-y: auto;
  background-color: rgba(12, 30, 62, 0.9);
  padding: 2em;
  color: #fff;
  line-height: normal;
  text-align: left;
}

.info-modal-close-button {
  position: absolute;
  right: 2em;
  top: 2em;
}

.info-modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

.info-modal-header-title {
  font-size: 19px;
  text-transform: capitalize;
  height: 60px;
  margin-bottom: 1em;
}

.app-modal.passphrase-modal {
  left: 20%;
  right: 20%;
  top: 20%;
  z-index: 200;
  border-radius: 5px;
  overflow-y: auto;
  padding: 2em;
  color: rgba(12, 30, 62, 1);
  line-height: normal;
  text-align: left;
}

.passphrase-modal-close-button {
  position: absolute;
  right: 2em;
  bottom: 2em;
}

.passphrase-modal-header {
  margin-bottom: 26px;
}

.passphrase-modal-header-title {
  font-weight: 600;
  font-size: 19px;
  text-transform: capitalize;
}

.passphrase-modal-header-description {
  font-size: 15px;
}

.passphrase-modal-field-ct {
  margin: 10px 10px 3px 0;
  position: relative;
  z-index: 0;
}

.passphrase-modal-field-ct::after {
  .clearfloat-mixin;
}

.passphrase-modal-label {
  padding-right: 10px;
  float: left;
  color: #0c1e3e;
  font-size: 19px;
  height: 100%;
  width: 200px;
  padding-top: 5px;
  text-align: right;
  text-transform: capitalize;
}

.passphrase-modal-error-ct::after {
  .clearfloat-mixin;
}

.passphrase-modal-error {
  min-height: 20px;
  color: @error-text-color;
  font-size: 10px;
}

.passphrase-modal-toolbar {
  margin-top: 20px;
  height: 44px;
}

.import-script-modal-field-ct {
  margin: 10px 10px 3px 0;
  position: relative;
  z-index: 0;
}

.import-script-modal-field-ct::after {
  .clearfloat-mixin;
}

.import-script-modal-label {
  padding-right: 10px;
  float: left;
  color: #0c1e3e;
  font-size: 19px;
  height: 100%;
  width: 200px;
  padding-top: 5px;
  text-align: right;
  text-transform: capitalize;
}

.import-script-modal-error-ct::after {
  .clearfloat-mixin;
}

.import-script-modal-error {
  min-height: 20px;
  color: @error-text-color;
  font-size: 10px;
}

.import-script-modal-toolbar {
  margin-top: 20px;
  height: 44px;
}

.info-modal-column {
  float: left;
  color: #fff;
}

.info-modal-row {
  padding-bottom: 1em;
  float: left;
  width: 100%;
}

.info-modal-row-label {
  font-size: 17px;
  font-weight: 600;
  float: left;
  width: 25%;
  text-align: left;
}

.info-modal-row-label.highlight-blue {
  color: #69d5f7;
}

.info-modal-row-label.highlight-green {
  color: #2ed8a3;
}
.info-modal-row-text {
  font-size: 15px;
  font-weight: 400;
  float: left;
  width: 75%;
  text-align: left;
}