@import (reference) "./main.less";
@import (reference) "./Icons.less";

.tickets-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ticket-card {
  height: 90px;
  width: 270px;
  padding-left: 62px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 31px 43px;
  background-position: 20px 26px;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-grow: 1;
  margin-right: 20px;
  overflow: hidden;
  transition: all 125ms ease-in-out;
  cursor: pointer;
}

.ticket-card.is-expanded {
  height: 164px;
}

.ticket-overview-header {
  font-family: @font-family-monospaced;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  margin: 26px 0px 4px 0px;
}

.ticket-overview-count {
  color: @disabled-color;
  text-transform: uppercase;
  text-align: center;
}

.ticket-info-price {
  margin: 28px 0px 0px 0px;
  font-size: 19px;
  font-weight: bold;
}

.ticket-reward {
  .inline-block-mixin;

  color: @disabled-color;
  border-right: 1px solid @input-color-disabled;
  padding-right: 0.5em;
}

.ticket-timestamp {
  .inline-block-mixin;

  color: @disabled-color;
  font-family: @font-family-monospaced;
}

.ticket-info-expanded-indicator {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: @agenda-card-kebab-disabled;
  float: right;
  width: 17px;
  height: 24px;
  margin-top: 40px;
  margin-right: 10px;
}

.ticket-card.ticket-info-card.is-expanded .ticket-info-expanded-indicator {
  background-image: @indicator-invalid-icon;
}

.ticket-expanded-info {
  margin: 15px 0px 0px -40px;
  padding-bottom: 1em;
}

.ticket-info-label {
  .inline-block-mixin;

  width: 5em;
  text-align: right;
}

.ticket-transaction-hash {
  .inline-block-mixin;

  margin-left: 0.5em;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket-list-back-btn {
  float: right;
  margin-right: 20px;
}

.vote-choice {
  padding: 4px;
  background-color: rgba(105, 211, 245, 0.3);
}

.vote-choice-agenda-id {
  font-weight: bold;
  margin-right: 0.5em;
}

.ticket-card.ticket-expired {
  background-image: @ticket-expired-icon;
}

.ticket-card.ticket-immature {
  background-image: @ticket-immature-icon;
}

.ticket-card.ticket-live {
  background-image: @ticket-live-icon;
}

.ticket-card.ticket-missed {
  background-image: @ticket-missed-icon;
}

.ticket-card.ticket-revoked {
  background-image: @ticket-revoked-icon;
}

.ticket-card.ticket-unmined {
  background-image: @ticket-unmined-icon;
}

.ticket-card.ticket-voted {
  background-image: @ticket-voted-icon;
}

.my-tickets-charts {
  background: #fff;
  padding: 35px 40px 20px 40px;
  min-height: 230px;

  .new-logo-animation {
    margin-left: 42%;
    margin-top: 40px;
  }
}

.my-tickets-stats-links {
  text-align: center;
  margin-bottom: 20px;
}

.my-tickets-stats-links-empty {
  width: 100%;
  height: 87px;
}

.my-tickets-stats-links a {
  margin: 0px 10px 0px 10px;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  width: 92px;
  text-align: center;
  text-decoration: none;
  color: #48566e;
}

.my-tickets-stats-links a:hover {
  font-weight: 600;
}

.my-tickets-stats-links a.my-tickets-active-chart-link {
  border: 1px solid #48566e;
  border-radius: 3px;
  padding: 4px;
  font-weight: 600;
}

.my-tickets-stats-links a .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 26px;
  background-repeat: no-repeat;
  background-position: 3px 3px;
  border-radius: 4px;
}

.my-tickets-stats-links a .icon.vote-time {
  background-color: #96ebd1;
  background-image: @vote-time-stats-icon;
}

.my-tickets-stats-links a.my-tickets-active-chart-link > .icon.vote-time,
.my-tickets-stats-links a:hover > .icon.vote-time {
  background-color: #87d3bc;
}

.my-tickets-stats-links a .icon.roi {
  background-color: #699bff;
  background-image: @vote-time-stats-icon;
}

.my-tickets-stats-links a.my-tickets-active-chart-link > .icon.roi,
.my-tickets-stats-links a:hover > .icon.roi {
  background-color: #5e8be5;
}

.my-tickets-stats-chart {
  float: left;
}

.my-tickets-stats-indicators {
  width: 37%;
  float: left;
  margin: 50px 0px 50px 0px;
  border: 1px solid #48566e;
  border-radius: 3px;
  padding: 10px;
  color: #48566e;
}

.my-tickets-stats-indicators-row {
  float: left;
  width: 100%;
  margin-top: 5px;
  display: flex;
}

.my-tickets-stats-indicators-label {
  text-align: left;
  flex-grow: 1;
}

.my-tickets-stats-indicators-value {
  font-weight: 600;
  text-align: right;
  flex-grow: 2;
}
