@import "~nouislider/distribute/nouislider.min.css";

.noUi-handle {
  border-radius: 50%;
  background: #2970ff;
  border-color: #2970ff;
  height: 18px !important;
  width: 18px !important;
}

.noUi-handle::after {
  height: 0px;
}

.noUi-handle::before {
  height: 0px;
}

.noUi-connect {
  background: #2970ff;
}

.noUi-tooltip {
  display: none;
}

.noUi-active .noUi-tooltip {
  display: block;
}
