@import (reference) "./main.less";

.paginator {
  background-color: #fff;
  min-height: 44px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  box-sizing: border-box;
  transition: all @input-transition-time @input-timing-function;
  margin-left: 42px;
}

.paginator-page-button {
  padding: 0px;
  width: 23px;
  height: 21px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: normal;
  padding-top: 8px;

  &.active {
    color: #2971ff;
  }

  &:hover {
    background-color: #e9f8ff;
  }
}

.paginator-action-button-next:hover,
.paginator-action-button-previous:hover {
  color: @input-color-hovered;
}

.paginator-action-button-next,
.paginator-action-button-previous {
  font-size: 17px;
  height: 21px;
  transform: scale(0.5, 1);
  color: #8997a5;
  padding: 0px;
}

.paginator-action-button-next {
  margin-left: 12px;
}

.paginator-action-button-previous {
  margin-right: 8px;
}
