.accounts-select {
    width: 300px;
}

.privacy-item {
    padding: 10px;
    
    &.error {
        color: red;
    }
}

.button-area {
    margin-left: auto;
}

.privacy-row {
    margin-bottom: 10px;
}

.privacy-page-wrapper {
    padding: 20px 40px;
    background-color: var(--background-back-color);
    border-radius: 10px;
    margin-bottom: 50px;
}
