@import (less) "./main.less";


.modal {
    .modal-section;
    margin: 25px auto;
    padding: 40px;
    width: 700px;
    background-color: rgba(12, 30, 62, .9);
}
.modal:after {
    .clearfloat-mixin;
}

.header {
    color: #fff;
    font-size: 19px;
    line-height: 18px;
    text-transform: capitalize;
    line-height: 44px;
    height: 60px;
}

.header-text {
    float: left;
}

.close-button {
    width: 80px;
    float: right;
}

.column {
    width: 220px;
    padding-right: 100px;
    float: left;
    color: #fff;
    font-size: 11px;
    line-height: 14px;
}

.section {
    margin-bottom: 16px;
}

.section-header {
    color: #69d5f7;
}