@import (reference) "./main.less";
@import (reference) "./Icons.less";

.receive-content-nest {
  background-color: var(--background-back-color);
  padding: 14px 20px 20px 35px;
  float: left;
  width: 695px;
}

.receive-content-nest-prefix {
  .inline-block-mixin;

  margin-right: 20px;
  margin-left: 0.5em;
  font-size: 19px;
  line-height: 24px;
  text-transform: capitalize;
}

.receive-content-nest-for-address {
  float: left;
}

.receive-select-account-input {
  .inline-block-mixin;

  .accounts-select {
    width: 285px;
    margin-right: 20px;
  }
}

.receive-content-nest-qr {
  margin-top: 20px;
  float: left;
}

.receive-content-nest-qrhash {
  float: left;
  padding: 10px 32px 13px 40px;
  border-radius: 5px;
  background-color: var(--disabled-background-cover);
  color: var(--input-color-default);
  font-size: 21px;
  line-height: 17px;
  width: 395px;
}

.receive-content-nest-qrimage {
  width: 90px;
  height: 90px;
  float: right;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

.receive-toolbar {
  margin-top: 20px;
  float: left;
  width: 100%;
}

.receive-content-nest-copy-to-clipboard-icon {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 409px) {
  .receive-content-nest {
    width: 90%;
  }

  .receive-content-nest-qrhash {
    width: 80%;
    font-size: 13px;
  }
}
