@import (reference) "./main.less";
@import (reference) "./Icons.less";

.send-select-account-area {
  padding: 1em;
}

.send-select-account-input {
  width: 39%;
  margin-right: 1em;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 2em; // this is to match the padding for the inputs
}

.send-address .accounts-select {
  margin-bottom: 2em;
}

.send-select-account-area .accounts-button-icon {
  vertical-align: middle;
  margin-top: 0px;
}

.send-send-all-input {
  float: right;
  margin-top: 0.5em;
}

.send-amount-area {
  padding: 1em;
}

.send-row {
  margin-bottom: 1em;
}

// .send-output-row {
// }

.send-label {
  .inline-block-mixin;

  vertical-align: top;
  font-size: 20px;
  width: 3em;
  text-align: right;
}

.send-address {
  .inline-block-mixin;

  width: 39%;
  padding-top: 2px;
}

.send-address.send-output-address {
  width: 33%;
}

.send-address-wallet-icon {
  .inline-block-mixin;

  vertical-align: top;
  margin-left: 0.5em;
  width: 20px;
  height: 19px;
  background-image: @add-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
  // margin-top: -1em;
}

.send-address .accounts-select {
  // margin-top: -1em;
}

.send-all-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @send-all-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-all-cancel-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @indicator-invalid-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-self-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @send-to-self-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-others-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @send-to-others-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-to-others-wallet-icon:hover,
.send-to-self-wallet-icon:hover,
.send-address-wallet-icon:hover,
.send-all-wallet-icon:hover {
  opacity: 0.85;
}

.send-amount {
  .inline-block-mixin;

  vertical-align: top;
  margin-top: -2px;
}

.send-amount-label {
  .inline-block-mixin;

  font-size: 20px;
  min-width: 3.5em;
  margin-top: -1px;
}

.send-address-amount-sum-and-currency {
  .inline-block-mixin;

  color: #0c1e3e;
  height: 19px;
  padding-top: 4px;
}

.send-address-amount-sum-gradient {
  .inline-block-mixin;

  background-color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  text-transform: uppercase;
}

.send-address-input-amount {
  .inline-block-mixin;

  border-style: none;
  border-bottom: 1px solid;
  color: rgb(41, 113, 255);
  text-align: right;
  cursor: text;
}
.send-address-input-amount[hidden] {
  display: none;
}

.send-address-icon-spacer {
  .inline-block-mixin;

  width: 20px;
  height: 34px;
}

.send-address-amount-spacer {
  margin-right: 90px;
}

.send-address-delete-icon {
  .inline-block-mixin;

  margin-left: 0.5em;
  margin-bottom: 1em;
  width: 20px;
  height: 34px;
  background-image: @delete-icon;
  background-position: 50% 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-button-area {
  margin-top: 1em;
}

.content-send {
  .inline-block-mixin;

  vertical-align: top;
}

.estimation-area-send {
  .inline-block-mixin;

  text-align: right;
  float: right;
}

.total-amount-send {
  font-size: 15px;
  margin-bottom: 0.3em;
}

.total-amount-send-text {
  .inline-block-mixin;

  width: 20vw;
}

.total-amount-send-amount {
  .inline-block-mixin;

  width: 15vw;
  font-family: Inconsolata, monospace;
}

.send-address-hash-to {
  width: 100%;
}

.send-select-account {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #0c1e3e;
  font-size: 19px;
}

.send-select-account:hover {
  height: auto;
}

.send-input-form {
  .inline-block-mixin;

  width: 82%;
}

.send-address-amount-sum {
  border-style: none;
  font-family: Inconsolata, monospace;
  font-size: 19px;
  font-weight: 700;
}

.send-flex-height {
  padding-top: 1px;
  background-color: #fff;
  min-height: 13em;
}
