@import (reference) "./main.less";
@import (reference) "./Icons.less";

.send-view-notification-error {
  margin-top: 20px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 20px 7px 7px;
  border-radius: 5px;
  background-color: #fd714b;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.send-view-notification-success {
  margin-top: 20px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 20px 7px 7px;
  border-radius: 5px;
  background-color: #41bf53;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

.send-address-delete-icon-header {
  width: 26px;
  height: 19px;
  float: left;
  background-image: @delete-icon;
  background-position: 50% 50%;
  background-size: 8px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-address-delete-icon-header:hover {
  opacity: 0.85;
}

.send-transition1 {
  transition: all 100ms ease-in-out;
}

.header-title-send {
  height: 54px;
  line-height: 49px;
  color: #596d81;
  font-size: 27px;
  text-transform: capitalize;
  padding-left: 50px;
  background-image: @minus-big-icon;
  background-position: 0px 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.header-meta-send {
  height: 54px;
  width: 480px;
  padding-left: 50px;
  color: #0c1e3e;
  font-size: 14px;
}

.send-send {
  padding-top: 1px;
  background-color: #fff;
}

.send-select-account-input {
  width: 39%;
}

.send-amount-area {
  padding: 1em;
}

.send-row {
  margin-bottom: 1em;
}

.send-label {
  .inline-block-mixin;

  font-size: 20px;
  width: 3em;
  text-align: right;
}

.send-address {
  .inline-block-mixin;

  width: 39%;
}

.send-address.send-output-address {
  width: 33%;
}

.send-address-wallet-icon {
  .inline-block-mixin;

  width: 20px;
  height: 34px;
  background-image: @add-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-all-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @send-all-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-all-cancel-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @indicator-invalid-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-self-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @send-to-self-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-others-wallet-icon {
  .inline-block-mixin;

  width: 24px;
  height: 24px;
  background-image: @send-to-others-icon;
  background-position: 50% 50%;
  background-size: 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-to-others-wallet-icon:hover,
.send-to-self-wallet-icon:hover,
.send-address-wallet-icon:hover,
.send-all-wallet-icon:hover {
  opacity: 0.85;
}

.send-amount {
  .inline-block-mixin;
}

.send-amount-label {
  .inline-block-mixin;

  font-size: 20px;
  min-width: 3.5em;
}

.send-address-amount-sum-and-currency {
  .inline-block-mixin;

  color: #0c1e3e;
}

.send-address-amount-sum-gradient {
  .inline-block-mixin;

  background-color: #fff;
  font-family: Inconsolata, monospace;
  font-size: 13px;
  text-transform: uppercase;
}

.send-address-input-amount {
  .inline-block-mixin;

  border-style: none;
  border-bottom: 1px solid;
  color: rgb(41, 113, 255);
  text-align: right;
  cursor: text;
}
.send-address-input-amount[hidden] {
  display: none;
}

.send-address-icon-spacer {
  .inline-block-mixin;

  width: 20px;
  height: 34px;
}

.send-address-amount-spacer {
  margin-right: 90px;
}

.send-address-delete-icon {
  .inline-block-mixin;

  width: 20px;
  height: 34px;
  background-image: @delete-icon;
  background-position: 50% 50%;
  background-size: 8px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.send-button-area {
  margin-top: 1em;
}

.content-send {
  .inline-block-mixin;

  vertical-align: top;
}

.send-construct-error {
  .inline-block-mixin;

  color: red;
  width: 10em;
  margin-left: 1em;
  word-wrap: break-word;
}

.estimation-area-send {
  .inline-block-mixin;

  text-align: right;
  float: right;
}

.total-amount-send {
  font-size: 15px;
  margin-bottom: 0.3em;
}

.total-amount-send-text {
  .inline-block-mixin;

  width: 20vw;
}

.total-amount-send-amount {
  .inline-block-mixin;

  width: 15vw;
  font-family: Inconsolata, monospace;
}

.send-send-all-input:hover {
  color: #1b58ff;
}

.send-output-error-row {
  font-size: 11px;
}

.send-output-address-error {
  .inline-block-mixin;

  width: 57%;
  margin-left: 6em;
  color: red;
}

.send-output-amount-error {
  .inline-block-mixin;

  width: 25%;
  color: red;
}

.send-address-hash-to {
  border-style: none;
  border-bottom: 1px solid;
  color: #2971ff;
  font-size: 13px;
  cursor: text;
  width: 100%;
}

.send-address-hash-to:focus {
  color: #2971ff;
}

.send-select-account {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #0c1e3e;
  font-size: 19px;
}

.send-select-account:hover {
  height: auto;
}

.send-input-form {
  .inline-block-mixin;

  width: 85%;
}

// .send-address-amount {
// }

.send-address-amount-sum {
  border-style: none;
  font-family: Inconsolata, monospace;
  font-size: 19px;
  font-weight: 700;
}

.send-flex-height {
  padding-top: 1px;
  background-color: #fff;
}

// .send-loading {
// }
