@import (reference) "./main.less";
@import (reference) "./Icons.less";

.hamburger {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: var(--menu-hamburger);
  cursor: pointer;
}

.hamburger:hover {
  opacity: 0.7;
}

.sidebar-reduce-arrow {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: var(--menu-arrow);
  cursor: pointer;
  margin-left: 85px;
}

.sidebar-reduce-arrow:hover {
  opacity: 0.7;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);
  z-index: 99;
  transition: width 100ms cubic-bezier(0.86, 0, 0.07, 1);
  box-shadow: 5px 0 21px rgba(9, 20, 64, 0.21);
  background-color: var(--sidebar-color);

  &.sidebar-reduced {
    width: var(--sidebar-width-reduced);
  }
  
  &.sidebar-on-bottom {
    height: 70px;
    flex-direction: row;
  }  
}

.sidebar-logo,
.reduced-sidebar-logo {
  display: flex;
  position: relative;
  z-index: 3;
  padding: 20px 18px 20px 18px;
  border-bottom: 1px solid var(--white-border);
}

.reduced-sidebar-logo {
  flex-direction: column;
}

.sidebar-main {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar-scroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.sidebar-menu-total-balance-extended {
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--background-container-opaque);
  transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1);
}

.sidebar-menu-total-balance-extended-bottom {
  padding-right: 18px;
}

.sidebar-menu-total-balance-extended-bottom-account {
  height: 44px;
  display: flex;
  padding-left: 52px;
  justify-content: space-between;
  background-image: var(--accounts-default);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: 19px 0;
  
  &.imported {
    background-image: var(--accounts-imported);
  }  
}

.sidebar-menu-total-balance-extended-bottom-account-name {
  color: var(--stroke-color-hovered);
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-menu-total-balance-extended-bottom-account-number {
  font-family: var(--font-family-regular);
  color: var(--input-color-default);
  font-size: 11pt;
  font-weight: 600;

  .balance-small {
    font-size: 11pt;
  }
}

.sidebar-menu-bottom-total-balance-short {
  position: relative;
  height: 56px;
  padding: 0;
  cursor: pointer;
}

.sidebar-menu-bottom-total-balance-short-separator {
  height: 7px;
  margin-bottom: 15px;
  background-image: var(--menu-arrow-up);
  background-position: 50% 8px;
  background-repeat: no-repeat;
  padding: 7px 16px 0 16px;
  background-size: 12px 6px;
  position: relative;

  &::before {
    content: "";
    border-bottom: 1px solid var(--short-separator-border);
    position: absolute;
    bottom:0;
    left:19px;
    right:16px;
  }

  &.showAccounts {
    background-color: var(--background-container-opaque);
  }
}

.sidebar-menu-bottom-total-balance-short-name {
  float: left;
  color: var(--disabled-color);
  font-size: 13px;
  text-align: left;
  text-decoration: none;
  padding-left: 36px;
  margin-left: 4px;
  background-image: var(--sidebar-balance-icon);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 16px 50%;
}

.sidebar-menu-bottom-total-balance-short-value {
  float: right;
  font-family: var(--font-family-regular);
  color: var(--sidebar-bottom-light-text-color);
  font-size: 13px;
  text-align: right;
  font-weight: 600;
  padding-right: 16px;

  .balance-small {
    font-size: 13px;
  }
}

.sidebar-menu-bottom-latest-block {
  position: relative;
  padding: 16px 16px 16px 20px;
  background-color: var(--info-modal-button-text);
  font-size: 13px;
}

.sidebar.sidebar-reduced .sidebar-menu-bottom-latest-block {
   padding: 14px 0 10px 0;
    .rescan-button-area{
      text-align: center;
      padding-right: 0;
      float: none;
    }
}

.sidebar.sidebar-reduced.sidebar-on-bottom .sidebar-menu-bottom-latest-block {
    display:none;
}

.sidebar-menu-bottom-latest-block-name {
  color: var(--disabled-color);
  font-size: 13px;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
}

.sidebar-menu-bottom-latest-block-number {
  font-family: var(--font-family-monospace);
  color: var(--sidebar-bottom-light-text-color);
}

.sidebar-menu-bottom-latest-block-time {
  float: right;
  color: var(--disabled-color);
  font-size: 13px;
  text-align: right;
  text-decoration: none;
}

.sidebar-watch-only-icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: @watch-only-icon;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar-menu-link-notification-icon {
  background-repeat: no-repeat;
  background-image: @bell-notification-icon;
  background-position: center;
  background-size: 10px;
  width: 14px;
  height: 14px;
  margin-left: 34px;
  margin-top: 10px;
  position: absolute;
  display: inline-block;
  z-index: 10;
  border-radius: 50%;
  background-color: var(--stroke-color-focused);
}

.menu-link {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  cursor: pointer;
  height: 52px;
  padding-left: 65px;
  color: var(--sidebar-menu-link);
  font-size: 15px;
  text-decoration: none;
  transition: color 0.13s ease-in-out;
  background-position: 20px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  user-select: none;

  &.settingsIcon {
    background-image: var(--menu-settings-default);
  }
  &.settingsIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-settings;
  }
  &.helpIcon {
    background-image: var(--menu-help-default);
  }
  &.helpIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-help;
  }
  &.ticketsIcon {
    background-image: var(--menu-tickets-default);
  }
  &.ticketsIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-tickets;
  }
  &.transactionsIcon {
    background-image: var(--menu-transactions-default);
  }
  &.trezorIcon {
    background-image: var(--menu-trezor-default);
  }
  &.trezorIcon:not(.menu-link-active):hover {
    background-image: var(--menu-trezor-hover);
  }
  &.transactionsIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-transactions;
  }
  &.accountsIcon {
    background-image: var(--menu-accounts-default);
  }
  &.accountsIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-accounts;
    background-size: 22px;
    background-position: 19px 50%;
  }
  &.securitycntrIcon {
    background-image: var(--menu-securitycntr-default);
  }
  &.securitycntrIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-security;
  }
  &.overviewIcon {
    background-image: var(--menu-overview-default);
  }
  &.overviewIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-overview;
  }
  &.governanceIcon {
    background-image: var(--menu-governance-default);
  }
  &.governanceIcon:not(.menu-link-active):hover {
    background-image: @menu-animation-governance;
  }
  &.lnIcon {
    background-image: @menu-ln-default;
  }
  &.lnIcon:not(.menu-link-active):hover {
    background-image: @menu-ln-hover;
  }
}

.menu-link:hover {
  color: var(--input-color-default);
}

.menu-link-active {
  color: var(--input-color-default);

  &.settingsIcon {
    background-image: var(--menu-settings-active);
    cursor: default;
  }
  &.helpIcon {
    background-image: var(--menu-help-active);
    cursor: default;
  }
  &.ticketsIcon {
    background-image: var(--menu-tickets-active);
    cursor: default;
  }
  &.transactionsIcon {
    background-image: var(--menu-transactions-active);
    cursor: default;
  }
  &.accountsIcon {
    background-image: var(--menu-accounts-active);
    cursor: default;
  }
  &.securitycntrIcon {
    background-image: var(--menu-securitycntr-active);
    cursor: default;
  }
  &.overviewIcon {
    background-image: var(--menu-overview-active);
    cursor: default;
  }
  &.governanceIcon {
    background-image: var(--menu-governance-active);
    cursor: default;
  }
  &.trezorIcon {
    background-image: var(--menu-trezor-active);
  }
  &.lnIcon {
    background-image: @menu-ln-active;
  }
}

.menu-caret {
  position: absolute;
  height: 52px;
  width: 100%;
  border-left: 5px solid var(--accent-color);
  background-color: var(--background-back-color);
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: flex;
    width: 100% !important;
  }

  .sidebar-scroll {
    overflow: hidden;
    margin: 0 auto;
  }

  .sidebar-logo {
    flex-direction: row-reverse;
  }

  .menu-link {
    height: 70px;
    width: 76px;
    padding-left: 0;
    background-position: 50%;
  }

  .menu-caret {
    width: 76px;
    height: 65px;
    border-left: 0;
    border-bottom: 5px solid var(--accent-color);
  }

  .sidebar-reduce-arrow {
    margin-left: 0;
    margin-right: auto;
  }

  .sidebar-menu-bottom-latest-block {
    background-color: var(--sidebar-color);

    .tooltipContainer {
      span {
        visibility: hidden;
      }
    }
  }
}
