@import (reference) "./main.less";
@import (reference) "./Icons.less";

.sidebar-mainnet {
  background-color: #0c1e3e;
}

.sidebar-testnet {
  background-color: #2966d2;
}

.sidebar-menu {
  width: @sidebar-width;
  display: flex;
  flex-direction: column;
}

.sidebar-menu-logo {
  position: relative;
  z-index: 3;
  height: 60px;
  margin-top: 20px;
  background-image: @menu-logo;
  background-position: 50% 50%;
  background-size: auto 30px;
  background-repeat: no-repeat;
}

.sidebar-testnet-text {
  color: white;
  text-align: center;
  font-size: 18px;
  height: 46px;
  font-family: Inconsolata, monospace;
}

.sidebar-menu-navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  height: 100%;
}

.sidebar-menu-navigation::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.sidebar-menu-navigation::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.sidebar-menu-navigation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(41, 113, 255, 0.5);
}

.sidebar-menu-navigation::-webkit-scrollbar-thumb:hover {
  border: 1px solid rgba(31, 100, 200, 1);
  background-color: rgba(41, 113, 255, 1);
}

.sidebar-menu-total-balance-extended {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(9, 24, 45, 0.8);
  transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1);
}

.sidebar-menu-total-balance-extended-bottom {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  max-height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  flex-direction: column;
  justify-content: flex-end;
}

.sidebar-menu-total-balance-extended-bottom-account {
  display: block;
  height: 44px;
  padding-top: 24px;
  align-self: stretch;
  flex: 0 0 auto;
}

.sidebar-menu-total-balance-extended-bottom-account-name {
  float: left;
  color: #69d5f7;
  font-size: 13px;
  line-height: 10px;
  text-align: left;
}

.sidebar-menu-total-balance-extended-bottom-account-number {
  float: right;
  font-family: Inconsolata, monospace;
  color: #2ed8a3;
  font-size: 15px;
  line-height: 10px;
  text-align: right;
}

.sidebar-menu-bottom-total-balance-short {
  position: relative;
  height: 56px;
  padding-top: 14px;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}

.sidebar-menu-bottom-total-balance-short-separator {
  height: 7px;
  margin-bottom: 15px;
  border-bottom: 1px solid #69d5f7;
  background-image: @arrow-up-light-blue-icon;
  background-position: 50% 0px;
  background-repeat: no-repeat;
}

.sidebar-menu-bottom-total-balance-short-name {
  float: left;
  color: #69d5f7;
  font-size: 13px;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
}

.sidebar-menu-bottom-total-balance-short-value {
  float: right;
  font-family: Inconsolata, monospace;
  color: #2ed8a3;
  font-size: 13px;
  line-height: 10px;
  text-align: right;
}

.sidebar-menu-bottom-latest-block {
  position: relative;
  height: 30px;
  padding-top: 14px;
  padding-right: 18px;
  padding-left: 18px;
}

.sidebar-menu-bottom-latest-block-name {
  float: left;
  color: #69d5f7;
  font-size: 13px;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
}

.sidebar-menu-bottom-latest-block-number {
  font-family: Inconsolata, monospace;
  color: #2ed8a3;
}

.sidebar-menu-bottom-latest-block-time {
  float: right;
  color: #69d5f7;
  font-size: 13px;
  line-height: 10px;
  text-align: right;
  text-decoration: none;
}
