@import (reference) "./main.less";
@import (reference) "./Icons.less";

.snackbar {
  border-radius: 5px;
  color: var(--title-text-and-button-background);
  font-family: Source Sans Pro, sans-serif;
  font-size: 13px;
  line-height: 17px;
  background-color: var(--background-back-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
  width: 352px;
  min-height: 34px;
  padding: 20px 34px 10px 60px;
  transition: box-shadow 0.2s;
  background-position: 15px 15px;
  background-size: 30px;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  position: fixed;
}

.snackbar-panel {
  left: calc(70% - 352px);
  bottom: 50px;
  position: fixed;
  z-index: 100;
}

.snackbar.snackbar-warning,
.snackbar.snackbar-error {
  background-image: @notificationError;
}

.snackbar.snackbar-success {
  background-image: @notificationSuccess;
}

.snackbar-message {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.snackbar-information-row {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.snackbar-information-row-type {
  width: 50%;
}

.snackbar-information-row-type-bold {
  font-weight: 600;
}

.snackbar-information-row-amount {
  width: 50%;
  text-align: right;
}

.snackbar-information-row-fee {
  width: 50%;
  text-align: right;
}

.snackbar-information-row-tx {
  width: 50%;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: var(--input-color);
    text-decoration: none;
  }
}

.snackbar-tx-mixin {
  min-height: 40px;
}

.snackbar-stake {
  .snackbar-tx-mixin;

  background-image: @ticket-small-icon;
}

.snackbar-receive {
  .snackbar-tx-mixin;

  background-image: @plus-big-icon;
}

.snackbar-send {
  .snackbar-tx-mixin;

  background-image: @minus-big-icon;
}

.snackbar-transfer {
  .snackbar-tx-mixin;

  background-image: @transfer-transaction;
}

.snackbar-close-button-top {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10px;
  width: 10px;
  background-image: @x-grey;
  background-size: 10px;
  background-repeat: no-repeat;
  cursor: pointer;

  svg {
    margin-top: -8px;
    margin-left: -8px;
  }

  circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  circle:last-of-type {
    stroke: var(--background-back-color)
  }
}
