@import (reference) "./main.less";
@import (reference) "./Icons.less";

.snackbar-stake {
    height: 78px;
    padding: 0px 50px;
    background-color: rgba(12, 30, 62, 0.5);
    background-image: @ticket-small-icon;
    background-position: 15px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.snackbar-receive {
    height: 78px;
    padding: 0px 50px;
    background-color: rgba(12, 30, 62, 0.5);
    background-image: @plus-big-icon;
    background-position: 15px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.snackbar-send { 
    height: 78px;
    padding: 0px 50px;
    background-color: rgba(12, 30, 62, 0.5);
    background-image: @minus-big-icon;
    background-position: 15px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}
.snackbar-transfer { 
    height: 78px;
    padding: 0px 50px;
    background-color: rgba(12, 30, 62, 0.5);
    background-image: @wallet-gray-icon;
    background-position: 15px 50%;
    background-size: 20px;
    background-repeat: no-repeat;
}