@import (reference) "./main.less";
@import (reference) "./Icons.less";

.autobuyer-switch {
    width: 85px;
    float: left;
    padding-left: 15px;
    padding-top: 13px;
}

.autobuyer-switch-enabled,
.autobuyer-switch-disabled {
    display: block;
    width: 60px;
    height: 24px;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    float: left;
}
.autobuyer-switch-enabled {
    background-color: #2971ff;
}
.autobuyer-switch-disabled {
    background-color: #c4cbd2;
}
.autobuyer-switch-enabled:hover,
.autobuyer-switch-disabled:hover {
    width: 56px;
    padding-left: 4px;
}

.autobuyer-switch-knob-enabled,
.autobuyer-switch-knob-disabled {
    width: 30px;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}
.autobuyer-switch-knob-enabled {
    background-color: #fff;
}
.autobuyer-switch-knob-disabled {
    float: right;
    background-color: #596d81;
}


.balance-overview-info-modal {
    height: 556px;
}
.balance-overview-info-ticket-purchase {
    padding-top: 71px;
    padding-bottom: 54px;
    padding-left: 100px;
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: rgba(12, 30, 62, .9);
}
.balance-overview-info-highlight-blue {
    color: #69d5f7;
}
.balance-overview-info-highlight-green {
    color: #2ed8a3;
}
.balance-overview-info-ticket-purchase-button {
    width: 80px;
    float: right;
}
.balance-overview-info-ticket-purchase-header {
    color: #fff;
    font-size: 19px;
    line-height: 18px;
    text-transform: capitalize;
    min-height: 50px;
    padding-right: 160px;
}
.balance-overview-info-ticket-purchase-text-column {
    width: 600px;
    float: left;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
}

.stakepool-body {
    position: fixed;
    left: 0px;
    top: 50%;
    right: 0px;
    display: block;
    overflow: hidden;
    width: 1178px;
    height: 770px;
    margin-top: -385px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.stakepool-view {
    width: 880px;
    height: 100%;
    float: right;
    background-color: #f3f6f6;
}
.stakepool-view-notification-error {
    margin-top: 20px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 7px 20px 7px 7px;
    border-radius: 5px;
    background-color: #fd714b;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 13px;
    text-align: center;
}
.stakepool-view-notification-success {
    margin-top: 20px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 7px 20px 7px 7px;
    border-radius: 5px;
    background-color: #41bf53;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
}
.stakepool-content-nest-address-delete-icon {
    width: 26px;
    height: 19px;
    float: left;
    background-image: @delete-icon;
    background-position: 50% 50%;
    background-size: 8px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
}
.stakepool-transition1 {
    transition: all 100ms ease-in-out;
}
.stakepool-header-meta-send {
    height: 54px;
    width: 480px;
    padding-left: 50px;
    color: #0c1e3e;
    font-size: 14px;
}
.stakepool-content {
    overflow: auto;
    height: 556px;
    padding: 54px 60px 54px 80px;
}
.stakepool-content-blur {
    filter: blur(6px);
    overflow: auto;
    height: 556px;
    padding: 54px 60px 54px 80px;
}
.stakepool-content-voting-gui {
    overflow: auto;
    height: 556px;
    padding: 0px 60px 10px 80px;
}
.stakepool-content-purchase-ticket-view-blur {
    filter: blur(6px);
    overflow: auto;
    height: 565px;
    padding: 20px 60px 20px 80px;
}
.stakepool-content-purchase-ticket-view {
    overflow: auto;
    height: 565px;
    padding: 20px 60px 20px 80px;
}
.stakepool-instructions {
    font-size: 13px;
}
.stakepool-content-nest-purchase-ticket-form {
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-left: 10px;
    border-style: none;
    color: #2971ff;
    border-bottom: 1px solid;
    font-size: 15px;
    cursor: text;
    &:focus {
      color: #2971ff;
    }
}
.stakepool-content-nest-purchase-ticket-form-disabled {
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-left: 10px;
    border-style: none;
    color: #2971ff;
    font-size: 15px;
    cursor: text;
    &:focus {
      color: #2971ff;
    }
}
.stakepool-content-nest-send {
    padding-top: 1px;
    background-color: #fff;
}
.stakepool-content-nest-delete-address {
    width: 625px;
    height: 54px;
    padding-top: 10px;
    padding-left: 116px;
    float: left;
}
.stakepool-content-nest-prefix-configured {
    width: 200px;
    padding-right: 15px;
    float: left;
    height: 100%;
    padding-top: 5px;
    font-size: 19px;
    text-align: right;
    text-transform: capitalize;
}
.stakepool-content-nest-stake-pool {
    border-top: 1px solid;
    height: 185px;
    position: relative;
    border-bottom: 1px solid;
    float: left;
}
.stakepool-content-nest-balance {
    border-top: 1px solid;
    height: 260px;
    position: relative;
    border-bottom: 1px solid;
    float: left;
}
.stakepool-content-nest-settings {
    width: 100%;
    height: 20px;
    margin-top: 20px;
    float: left;
}
.stakepool-content-nest-balance-overview {
    width: 100%;
    height: 25px;
    margin-top: 10px;
    float: left;
}
.stakepool-content-nest-prefix-settings {
    width: 125px;
    padding-right: 15px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
    text-transform: capitalize;
}
.stakepool-content-nest-prefix-balance-overview {
    width: 245px;
    padding-right: 15px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
    text-transform: capitalize;
}
.stakepool-content-nest-settings-bottom {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    float: left;
}
.stakepool-content-nest-balance-overview-bottom {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    float: left;
}
.stakepool-content-nest-content-settings {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    width: 575px;
    height: 30px;
    float: left;
    font-size: 13px;
    padding-top: 2px;
}
.stakepool-content-nest-content-balance-overview {
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
    width: 465px;
    height: 20px;
    float: left;
    font-size: 13px;
    padding-top: 2px;
}
.stakepool-content-nest-prefix-send {
    width: 100px;
    padding-right: 15px;
    float: left;
    height: 100%;
    padding-top: 5px;
    font-size: 19px;
    text-align: right;
    text-transform: capitalize;
}
.stakepool-unconfigured-select {
    width: 350px;
    float: left;
    font-size: 16px;
    padding-left: 10px;
}
.stakepool-content-nest-prefix-confirm {
    width: 230px;
    padding-right: 15px;
    float: left;
    height: 100%;
    padding-top: 5px;
    font-size: 19px;
    text-align: right;
    text-transform: capitalize;
}
.stakepool-content-nest-from-address {
    width: 100%;
    height: 54px;
    padding-top: 10px;
    float: left;
}
.stakepool-content-nest-api-key-instructions {
    width: 600px;
    height: 285px;
    padding-left: 30px;
    float: left;
}
.stakepool-content-nest-api-key {
    position: relative;
    padding-left: 65px;
    width: 600px;
    height: 34px;
    float: left;
    font-size: 13px;
}
.stakepool-content-nest-to-address {
    width: 100%;
    height: 54px;
    padding-top: 10px;
    float: left;
}
.stakepool-content-nest-address-hash-to {
    width: 100%;
    height: 100%;
    padding-top: 4px;
    padding-left: 10px;
    border-style: none;
    color: #2971ff;
    font-size: 13px;
    cursor: text;
    &:focus {
      color: #2971ff;
    }
}
.stakepool-content-nest-address-hash-block {
    position: relative;
    width: 600px;
    height: 34px;
    float: left;
    font-size: 13px;
}
.stakepool-content-nest-address-hash-block-confirm {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 34px;
    padding-top: 7px;
    float: left;
    font-size: 17px;
}
.stakepool-content-nest-gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, #fff 80%);
}
.stakepool-select-accounts-send {
    width: 300px;
    position: relative;
    z-index: 3;
    overflow: visible;
    height: 34px;
    min-width: 300px;
    float: left;
    border-bottom: 1px solid #2971ff;
    background-color: #fff;
    background-image: @arrow-down-mid-blue-icon;
    background-position: 100% 50%;
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-image: @arrow-down-key-blue-icon;
      background-size: 10px;
    }
}
.stakepool-select-account {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #0c1e3e;
    font-size: 19px;
    &:hover {
      height: auto;
    }
}
.stakepool-select-account-n-first {
    overflow: hidden;
    height: 34px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 10px;
    color: #2971ff;
    font-size: 19px;
}
.stakepool-select-account-n-text-send {
    width: 200%;
    padding-top: 1px;
    font-size: 13px;
}
.stakepool-select-account-n-amount {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
    padding-top: 7px;
    padding-left: 40px;
    background-image: linear-gradient(90deg, transparent, #fff 28%);
    font-family: inconsolata, monospace;
    color: #596d81;
    font-size: 11px;
    font-weight: 400;
    text-align: right;
}
.stakepool-select-account-n-amount-bold {
    font-family: inconsolata, monospace;
    font-weight: 700;
}
.stakepool-select-account-n-nest-send {
    font-size: 13px;
    overflow: auto;
    height: auto;
    max-height: 413px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a9b4bf;
    background-color: #fff;
}
.stakepool-select-account-n-gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, #fff 75%);
}
.stakepool-select-account-n {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    float: left;
    &:hover {
      color: #2971ff;
    }
}
.stakepool-select-account-n-text {
    width: 200%;
}
.stakepool-highlight-text-neon-green {
    color: #2ed8a3;
}
.stakepool-highligh-text-orange {
    color: #fd714b;
}
.stakepool-select-voting-preferences {
    display: block;
    float: right;
    overflow: hidden;
    height: 100%;
    padding-top: 3px;
    color: #0c1e3e;
    &:hover {
      height: auto;
    }
}
.stakepool-select-purchase-tickets {
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-top: 3px;
    color: #0c1e3e;
    &:hover {
      height: auto;
    }
}
.stakepool-select-purchase-tickets-n-first {
    overflow: hidden;
    height: 34px;
    margin-right: 20px;
    padding-top: 5px;
    padding-left: 10px;
    color: #2971ff;
    font-size: 19px;
}
.stakepool-select-purchase-tickets-n-text-send {
    width: 200%;
    padding-top: 1px;
    font-size: 13px;
}
.stakepool-select-purchase-tickets-n-amount {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-right: 20px;
    padding-top: 7px;
    padding-left: 40px;
    background-image: linear-gradient(90deg, transparent, #fff 28%);
    font-family: inconsolata, monospace;
    color: #596d81;
    font-size: 11px;
    font-weight: 400;
    text-align: right;
}
.stakepool-select-purchase-tickets-n-amount-bold {
    font-family: inconsolata, monospace;
    font-weight: 700;
}
.stakepool-select-purchase-tickets-n-nest-send {
    font-size: 13px;
    overflow: auto;
    height: auto;
    max-height: 413px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a9b4bf;
    background-color: #fff;
}
.stakepool-select-purchase-tickets-n-gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 40px;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, #fff 75%);
}
.stakepool-select-purchase-tickets-n {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    float: left;
    &:hover {
      color: #2971ff;
    }
}
.stakepool-select-purchase-tickets-n-text {
    width: 200%;
}
.stakepool-input-form {
    position: relative;
    width: 100%;
    height: 25px;
}
.stakepool-input-form-purchase-ticket {
    position: relative;
    width: 100%;
    height: 25px;
    padding-top: 1px;
}
.stakepool-content-nest-address-amount {
    display: block;
    height: 34px;
    float: right;
}
.stakepool-content-nest-address-amount-sum-and-currency {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 100%;
    margin-right: 20px;
    float: right;
    border-bottom: 1px solid #a9b4bf;
    color: #0c1e3e;
    text-align: right;
}
.stakepool-content-nest-address-amount-sum-gradient {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: inline-block;
    width: 37px;
    height: 100%;
    padding-top: 9px;
    padding-right: 10px;
    background-color: #fff;
    font-family: inconsolata, monospace;
    font-size: 13px;
    text-transform: uppercase;
}
.stakepool-content-nest-address-amount-sum {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 19px;
    font-weight: 700;
}
.stakepool-content-nest-to-address-amount-sum-number-format-small {
    font-size: 13px;
}
.stakepool-content-nest-address-amount-sum-number-format-small {
    font-size: 13px;
}
.stakepool-content-send {
    margin-top: 20px;
}
.stakepool-content-send-section {
    display: block;
    width: 91%;
    height: 22px;
    padding-left: 30px;
    float: left;
    color: #0c1e3e;
}
.stakepool-content-send-section-checkbox-text {
    height: 100%;
    padding-top: 1px;
    padding-left: 5px;
    float: left;
    text-transform: capitalize;
}
.stakepool-content-send-section-amount {
    width: 160px;
    height: 100%;
    padding-top: 1px;
    padding-right: 30px;
    float: right;
    font-family: inconsolata, monospace;
    font-size: 13px;
    text-align: right;
}
.stakepool-content-send-section-description {
    height: 100%;
    padding-top: 1px;
    padding-right: 20px;
    float: right;
    color: #596d81;
    font-size: 13px;
}
.stakepool-content-send-section-amount-currency {
    padding-left: 5px;
}
.stakepool-content-purchase-button {
    margin-top: 8px;
    margin-left: 8px;
    float: left;
}
.stakepool-content-revoke-button {
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}
.stakepool-content-import-script-button {
    margin-top: 8px;
    margin-right: 8px;
    float: right;
}
.stakepool-show-advanced {
    width: 300px;
    position: relative;
    z-index: 3;
    overflow: visible;
    height: 34px;
    min-width: 300px;
    float: left;
    border-bottom: 1px solid #2971ff;
    background-color: #fff;
    background-image: @arrow-down-mid-blue-icon;
    background-position: 100% 50%;
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-image: @arrow-down-key-blue-icon;
      background-size: 10px;
    }
}
.stakepool-hide-advanced {
    width: 300px;
    position: relative;
    z-index: 3;
    overflow: visible;
    height: 34px;
    min-width: 300px;
    float: left;
    border-bottom: 1px solid #2971ff;
    background-color: #fff;
    background-image: @arrow-up-light-blue-icon;
    background-position: 100% 50%;
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-image: @arrow-up-turquiose-icon;
      background-size: 10px;
    }
}
.stakepool-select-area {
    paddingTop: "4px"
}
.stakepool-auto-buyer-quick-bar-row {
    width: 400px;
    padding-left: 37px;
    padding-top: 8px;
    float: left;
    position: relative;
}

/*
  .switch.disabled-inactive {
    background-color: #f3f6f6;
    cursor: default;
  }

  .switch.disabled-inactive.transition0.automatic-purchase {
    float: left;
  }

  .switch.enabled-inactive {
    background-color: #f3f6f6;
    cursor: default;
  }

  .switch.enabled-inactive.transition0.automatic-purchase {
    float: left;
  }
  .switch-knob.disabled-inactive {
    float: right;
    background-color: #e7eaed;
  }

  .switch-knob.enabled-inactive {
    background-color: #e7eaed;
  }
  */

.stakepool-auto-buyer-label {
    width: 75px;
    display: block;
    padding-top: 13px;
    padding-left: 20px;
    float: left;
    color: #0c1e3e;
    font-size: 19px;
    text-transform: capitalize;
}
.stakepool-auto-buyer-show-advanced-area {
    float: right;
    padding-top: 13px;
}
.stakepool-flex-height-auto-buyer-hidden {
    padding-top: 1px;
    background-color: #fff;
    height: 54px;
    width: 740px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.stakepool-flex-height-auto-buyer-shown {
    padding-top: 1px;
    background-color: #fff;
    height: 258px;
    width: 740px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.stakepool-auto-buyer-row {
    width: 100%;
    height: 54px;
    float: left;
}
.stakepool-purchase-ticket-quick-bar-row {
    height: 36px;
    float: left;
    padding-top: 5px;
    padding-right: 20px;
    position: relative;
}
.stakepool-quick-bar-row-label {
    width: 120px;
    position: relative;
    padding-top: 6px;
    float: left;
    font-size: 13px;
    padding-right: 10px;
    color: #0c1e3e;
    height: 100%;
    text-align: right;
    text-transform: capitalize;
}
.stakepool-auto-buyer-icon-areas {
    margin-top: 8px;
    padding-right: 10px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-auto-buyer-icon-areas-expand {
    margin-top: 8px;
    width: 140px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-balance-to-maintain-icon {
    display: block;
    background-image: @balance-to-maintain-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 10px;
    float: left;
}
.stakepool-max-fee-icon {
    display: block;
    background-image: @max-fee-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 10px;
    float: left;
}
.stakepool-max-price-absolute-icon {
    display: block;
    background-image: @max-price-absolute-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 10px;
    float: left;
}
.stakepool-max-price-relative-icon {
    display: block;
    background-image: @max-price-relative-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 10px;
    float: left;
}
.stakepool-max-per-block-icon {
    display: block;
    background-image: @max-per-block-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 10px;
    float: left;
}
.stakepool-icon {
    display: block;
    background-image: @stake-pool-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    height: 16px;
    min-width: 20px;
    margin-top: 8px;
    padding-right: 18px;
    padding-left: 20px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-expiry-icon {
    background-image: @expiry-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    min-width: 20px;
    margin-top: 8px;
    padding-right: 18px;
    padding-left: 20px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-fee-icon {
    background-image: @split-fee-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    min-width: 20px;
    margin-top: 8px;
    padding-right: 18px;
    padding-left: 20px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-ticket-address-icon {
    background-image: @ticket-address-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    min-width: 20px;
    margin-top: 8px;
    padding-right: 18px;
    padding-left: 20px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-fee-address-icon {
    background-image: @fee-address-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    min-width: 20px;
    margin-top: 8px;
    padding-right: 18px;
    padding-left: 20px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-pool-fee-icon {
    background-image: @pool-fee-icon;
    background-position: 0px 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    display: block;
    height: 16px;
    min-width: 20px;
    margin-top: 8px;
    padding-right: 18px;
    padding-left: 20px;
    float: left;
    font-family: inconsolata, monospace;
    color: #0c1e3e;
    font-size: 11px;
    line-height: 17px;
}
.stakepool-stake-info-area {
    padding-top: 1px;
    background-color: rgb(255, 255, 255);
    height: 130px;
    width: 740px;
    float: left;
    margin-bottom: 10px;
}
.stakepool-stake-info-area-small {
    padding-top: 1px;
    background-color: rgb(255, 255, 255);
    height: 25px;
    width: 740px;
    float: left;
    margin-bottom: 10px;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.stakepool-stake-info-row-small {
    width: 33%;
    float: left;
}
.stakepool-stake-info-row-small-right {
    width: 34%;
    float: left;
}
.stakepool-stake-info-row {
    width: 100%;
    height: 25px;
    float: left;
    border-bottom: 1px #e7eaed solid;
}
.stakepool-stake-info-row-left {
    width: 50%;
    float: left;
}
.stakepool-stake-info-row-right {
    width: 50%;
    float: right;
}
.stakepool-stake-info-label {
    width: 152px;
    padding-right: 15px;
    padding-left: 5px;
    float: left;
    height: 100%;
    padding-top: 2px;
    font-size: 14px;
    text-align: right;
}
.stakepool-stake-info-value {
    font-family: inconsolata, monospace;
    float: left;
    padding-top: 3px;
}
.stakepool-purchase-ticket-row {
    width: 100%;
    height: 45px;
    padding-top: 2px;
    float: left;
    border-bottom: 1px #e7eaed solid;
}
.stakepool-purchase-ticket-row-thirds {
    width: 33%;
    float: left;
}
.stakepool-purchase-ticket-row-account-select {
    width: 58%;
    float: left;
}
.stakepool-purchase-ticket-account-select-label {
    width: 86px;
    padding-right: 15px;
    padding-left: 5px;
    float: left;
    height: 100%;
    padding-top: 5px;
    font-size: 16px;
    text-align: right;
}
.stakepool-purchase-ticket-row-num-tickets {
    width: 42%;
    float: left;
}
.stakepool-purchase-ticket-row-left {
    width: 50%;
    float: left;
}
.stakepool-purchase-ticket-row-right {
    width: 50%;
    float: right;
}
.stakepool-purchase-ticket-label {
    width: 152px;
    padding-right: 15px;
    padding-left: 5px;
    float: left;
    height: 100%;
    padding-top: 5px;
    font-size: 16px;
    text-align: right;
}
.stakepool-purchase-ticket-input {
    width: 283px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
}
.stakepool-purchase-ticket-input-select {
    width: 283px;
    float: left;
    height: 100%;
    font-size: 16px;
    text-align: left;
}
.stakepool-purchase-ticket-num-select {
    width: 85px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
}
.stakepool-purchase-ticket-num-input {
    width: 146px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
}
.stakepool-purchase-ticket-thirds-input {
    width: 53px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
}
.stakepool-purchase-ticket-address-input {
    width: 331px;
    float: left;
    height: 100%;
    font-size: 19px;
    text-align: right;
}
.stakepool-purchase-ticket-input-buttons {
    width: 90px;
    float: right;
    padding-top: 5px;
    padding-left: 10px;
}
.stakepool-manage-pool-button-area {
    float: left;
    padding-top: 8px;
    padding-left: 10px;
}
.stakepool-purchase-ticket-input-error {
    float: right;
    width: 200px;
    text-align: left;
    color: red;
    font-size: 11px;
    padding-top: 4px;
}
.stakepool-area-spacing {
    float: left;
    height: 25px;
    width: 100%;
}
.stakepool-api-key-error {
    padding-left: 70px;
    text-align: left;
    float: left;
    color: red;
}
.stakepool-link {
    color: #2971ff;
    font-weight: bold;
    cursor: pointer;
}
.stakepool-flex-height {
    background-color: #fff;
    float: left;
}
.stakepool-flex-height-balance-overview {
    padding-top: 1px;
    background-color: #fff;
    height: 553px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.stakepool-flex-height-hidden {
    padding-top: 1px;
    background-color: #fff;
    height: 116px;
    width: 740px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.stakepool-purchase-ticket-buttons-area {
    width: 740px;
    float: left;
}
.stakepool-flex-height-shown {
    padding-top: 1px;
    background-color: #fff;
    height: 288px;
    width: 740px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}
.stakepool-loading {
    margin-top: 110px;
    margin-left: 268px;
}
.stakepool-select-accounts-purchase {
    width: 300px;
    position: relative;
    z-index: 3;
    overflow: visible;
    height: 34px;
    min-width: 300px;
    float: left;
    border-bottom: 1px solid #2971ff;
    background-color: #fff;
    background-image: @arrow-down-mid-blue-icon;
    background-position: 100% 50%;
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
      background-image: @arrow-down-key-blue-icon;
      background-size: 10px;
    }
}
.stakepool-toggle {
    font-family: source -sans -pro, sans-serif;
    float: right;
}
.stakepool-content-title {
    display: block;
    height: 44px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    border-bottom: 1px solid transparent;
    color: #596d81;
    font-size: 27px;
}
.stakepool-content-title-text {
    display: inline-block;
    overflow: hidden;
    width: 500px;
    height: 100%;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
}
.stakepool-voting-title-area {
    display: block;
    height: 20px;
    width: 740px;
    border-bottom: 1px solid transparent;
    color: #596d81;
    font-size: 20px;
}
.stakepool-voting-title-area-name {
    font-size: 20px;
    display: inline-block;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
.stakepool-voting-agenda-area {
    width: 100%;
    float: left;
}
.stakepool-no-agendas-message {
    font-size: 25px;
    padding-top: 200px;
    padding-left: 150px;
}
.stakepool-hide-config {
    float: right;
    margin-top: 10px;
}
.stakepool-manage-stake-pools-button {
    width: 150px;
    padding: 7px 18px;
    display: block;
}