@import (reference) "./main.less";

.tooltipContainer {
  display: inline-block;
}

.tooltipContainer:hover .tip {
  display: block;
}

.tip {
  display: none;
  position: fixed;
  font-size: 13px;
  background-color: @background-container;
  color: #596d81;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 5px;
  white-space: pre;
  z-index: 1000;
}

.tip.warning {
  background: #fd714b;
  color: #fff;
}

.tooltip-pre-line .tip {
  white-space: pre-line;
}

.tooltip-width-md .tip {
  white-space: normal;
  width: 300px;
}
