@import (reference) "./main.less";

.trezor-config-regular-buttons .button {
  margin-right: 1em;
  margin-top: 1em;
}

.trezor-config-accordion {
  border-bottom: 1px solid var(--trezor-line-color);
  border-radius: 4px;
  padding: 1.5em 1em 1em;
  background-color: var(--background-back-color);

  .vertical-accordion-header {
    font-size: 22px;
    margin-bottom: 0.5em;
  }

  .input-and-unit {
    margin-bottom: 0.5em;
  }
}
