@import (reference) "./main.less";
@import (reference) "./Icons.less";

.txdetails-indicator-mixin {
  display: inline-block;
  padding: 5px 8px 5px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 8px;
  text-align: right;
  text-transform: capitalize;
  background-position: 6px 50%;
  background-size: 10px;
  background-repeat: no-repeat;
}

.txdetails-indicator-pending {
  .txdetails-indicator-mixin;

  border-color: #2971ff;
  background-image: @indicator-pending-icon;
  color: #2971ff;
}

.txdetails-indicator-confirmed {
  .txdetails-indicator-mixin;

  border-color: #2ed8a3;
  background-image: @indicator-confirmed-icon;
  color: #2ed8a3;
}

.txdetails-details {
  border-bottom: 1px solid #e7eaed;
  font-size: 13px;
}

.txdetails-top {
  border-bottom: 1px solid #e7eaed;
  font-size: 13px;
}

.txdetails-name {
  .inline-block-mixin;

  width: 20%;
  margin-bottom: 1em;
  text-align: right;
  font-size: 13px;
  line-height: 19px;
}

.txdetails-value {
  .inline-block-mixin;

  width: 70%;
  margin-bottom: 1em;
  font-family: inconsolata, monospace;
  font-weight: 700;
  word-wrap: break-word;
}

.txdetails-value-rawtx {
  float: left;
  width: 90%;
  height: 150px;
  overflow-y: auto;
}

.txdetails-overview {
  padding-left: 5em;
  margin-bottom: 3em;
  border-top: 1px solid #e7eaed;
}

.txdetails-overview-title-mixin {
  padding-top: 0.5em;
  font-size: 20px;
  font-weight: 700;
}

.txdetails-overview-title-created {
  .inline-block-mixin;
  .txdetails-overview-title-mixin;
}

.txdetails-overview-title-consumed {
  .inline-block-mixin;
  .txdetails-overview-title-mixin;
}

.txdetails-input-arrow {
  background-image: @arrow-right-key-blue-icon;
  background-position: 100% 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  float: right;
  height: 40px;
  width: 20px;
  margin-top: 3em;
}

.txdetails-input-area {
  .inline-block-mixin;

  width: 40%;
  vertical-align: top;
}

.txdetails-output-area {
  .inline-block-mixin;

  text-align: right;
  width: 58%;
  vertical-align: top;
}

.txdetails-direction {
  display: block;
  width: 100%;
  height: 28px;
  padding-top: 4px;
  padding-left: 80px;
  float: left;
  clear: left;
  font-size: 20px;
  line-height: 19px;
  text-align: left;
}

.txdetails-row {
  padding-top: 1em;
  font-family: inconsolata, monospace;
  font-weight: 700;
}

.txdetails-input-area .txdetails-address {
  width: 20%;
  line-height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.txdetails-output-area .txdetails-address {
  width: 66%;
  line-height: 1em;
  word-wrap: break-word;
}

.txdetails-output-area .txdetails-amount {
  width: 27%;
  line-height: 1em;
}

.txdetails-address {
  .inline-block-mixin;

  width: 45%;
}

.txdetails-amount {
  .inline-block-mixin;

  width: 48%;
  text-align: right;
}

.txdetails-value-text {
  font-weight: 400;
}

.txdetails-title {
  padding-top: 1em;
  color: #596d81;
  font-size: 20px;
}

.txdetails-last {
  border-bottom: 0px none transparent;
}
