@import (reference) "./main.less";

// TODO: migrate to a css module: components/shared/TxHistory/Txhistory.module.css

.pending-overview-details {
  background-color: var(--disabled-background-color-lighter);
  background-image: var(--pending-animation);
  background-size: 14px;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 32px;
  height: 54px;
  cursor: pointer;
  text-align: center;
  margin-left: -32px;
}

.address-shorter {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  // this line-height is needed because hidden breaks the layout.
  line-height: 8px;
}

.transaction-stake-type {
  font-family: var(--font-family-regular);
  color: var(--input-color-default);
  font-size: 15px;
  margin-left: 10px;

  &:not(.overview) {
    padding-top: 4px;
  }
}

.transaction-info-price-reward {
  display: flex;
  font-family: var(--font-family-regular);
  color: var(--settings-desc);
  font-size: 12px;
  margin-left: 30px;
}

.stake-transaction-ticket-reward {
  background-image: var(--ticket-reward-icon);
  background-repeat: no-repeat;
  background-size: 11px 11px;
  background-position: 0px 4px;
  padding-left: 16px;

  &.overview {
    margin-left: 50px;
  }
}

.transaction-info-overview-days-to-vote {
  background-image: var(--time-lock-icon);
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 0px 4px;
  padding-left: 14px;
  margin-left: 10px;
}

.no-bold {
  font-weight: 400 !important;
}

.my-tickes-price {
  font-size: 15px;
}

@media screen and (max-width: 1179px) {
  .address-shorter {
    max-width: 150px;
  }
}
