@import (reference) "./main.less";

@indicator-pending-icon: url(../components/icons/indicator-pending.svg);
@indicator-confirmed-icon: url(../components/icons/indicator-confirmed.svg);
@wallet-gray-icon: url(../components/icons/wallet-gray.svg);
@plus-small-icon: url(../components/icons/plus-small.svg);
@minus-small-icon: url(../components/icons/minus-small.svg);
@ticket-small-icon: url(../components/icons/tickets-ticket.svg);
@arrow-right-gray-icon: url(../components/icons/arrow-right-gray.svg);
@arrow-right-blue-icon: url(../components/icons/arrow-right-key-blue.svg);


.indicator-pending {
    display: inline-block;
    padding: 5px 8px 5px 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 8px;
    text-align: right;
    text-transform: capitalize;
    border-color: #2971ff;
    background-image: @indicator-pending-icon;
    background-position: 6px 50%;
    background-size: 10px;
    background-repeat: no-repeat;
    color: #2971ff;
}

.indicator-confirmed {
    display: inline-block;
    padding: 5px 8px 5px 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 8px;
    text-align: right;
    text-transform: capitalize;
    border-color: #2ed8a3;
    background-image: @indicator-confirmed-icon;
    background-position: 6px 50%;
    background-size: 10px;
    background-repeat: no-repeat;
    color: #2ed8a3;
}

.transaction-in {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: pointer;
    background-image: @arrow-right-gray-icon, @plus-small-icon;
    background-position: 97% 50%, 20px 50%;
    background-size: 5px 10px, 16px 16px;
    background-repeat: no-repeat, no-repeat;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.transaction-in:hover {
    background-color: rgba(212, 240, 253, .5);
    background-image: @arrow-right-blue-icon, @plus-small-icon;
    background-size: 5px, 16px;
}

.transaction-transfer {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: pointer;
    background-image: @arrow-right-gray-icon, @wallet-gray-icon;
    background-position: 97% 50%, 20px 50%;
    background-size: 5px 10px, 16px 16px;
    background-repeat: no-repeat, no-repeat;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.transaction-transfer:hover {
    background-color: rgba(212, 240, 253, .5);
    background-image: @arrow-right-blue-icon, @wallet-gray-icon;
    background-size: 5px, 16px;
}

.transaction-out {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: pointer;
    background-image: @arrow-right-gray-icon, @minus-small-icon;
    background-position: 97% 50%, 20px 50%;
    background-size: 5px 10px, 16px 16px;
    background-repeat: no-repeat, no-repeat;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.transaction-out:hover {
      background-color: rgba(212, 240, 253, .5);
      background-image: @arrow-right-blue-icon, @minus-small-icon;
      background-size: 5px, 16px;
}
    
.ticket-tx {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: pointer;
    background-image: @arrow-right-gray-icon, @ticket-small-icon;
    background-position: 97% 50%, 20px 50%;
    background-size: 5px 10px, 16px 16px;
    background-repeat: no-repeat, no-repeat;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.ticket-tx:hover {
      background-color: rgba(212, 240, 253, .5);
      background-image: @arrow-right-blue-icon, @ticket-small-icon;
      background-size: 5px, 16px;
}

.vote-tx {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: pointer;
    background-image: @arrow-right-gray-icon, @ticket-small-icon;
    background-position: 97% 50%, 20px 50%;
    background-size: 5px 10px, 16px 16px;
    background-repeat: no-repeat, no-repeat;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.vote-tx:hover {
      background-color: rgba(212, 240, 253, .5);
      background-image: @arrow-right-blue-icon, @ticket-small-icon;
      background-size: 5px, 16px;
}

.revoke-tx {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: pointer;
    background-image: @arrow-right-gray-icon, @ticket-small-icon;
    background-position: 97% 50%, 20px 50%;
    background-size: 5px 10px, 16px 16px;
    background-repeat: no-repeat, no-repeat;
    transition: all 100ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}
.revoke-tx:hover {
      background-color: rgba(212, 240, 253, .5);
      background-image: @arrow-right-blue-icon, @ticket-small-icon;
      background-size: 5px, 16px;
}

.transaction-in-overview {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: default;
    background-image: @plus-small-icon;
    background-position: 20px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.transaction-transfer-overview {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: default;
    background-image: @wallet-gray-icon;
    background-position: 20px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.transaction-out-overview {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: default;
    background-image: @minus-small-icon;
    background-position: 20px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.ticket-tx-overview {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: default;
    background-image: @ticket-small-icon;
    background-position: 20px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.vote-tx-overview {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: default;
    background-image: @ticket-small-icon;
    background-position: 20px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.revoke-tx-overview {
    height: 52px;
    padding-right: 45px;
    padding-left: 56px;
    border-bottom: 1px solid #e7eaed;
    background-color: #fff;
    cursor: default;
    background-image: @ticket-small-icon;
    background-position: 20px 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.transaction-amount {
    width: 44%;
    height: 35px;
    padding-top: 17px;
    float: left;
    display: block;
}

.transaction-account {
    width: 34%;
    height: 100%;
    float: left;
}

.transaction-time-date {
    width: 22%;
    height: 36px;
    padding-top: 16px;
    float: left;
    color: #0c1e3e;
    font-size: 13px;
    text-align: right;
}

.transaction-account-name {
    width: 45%;
    height: 36px;
    padding-top: 17px;
    padding-right: 0px;
    float: left;
    font-size: 11px;
    text-align: right;
}

.transaction-account-indicator {
    width: 50%;
    height: 35px;
    padding-top: 17px;
    padding-left: 10px;
    float: left;
}

.transaction-amount-number {
    font-family: Inconsolata, monospace;
    font-size: 19px;
    line-height: 13px;
    font-weight: 700;
}
.transaction-amount-hash {
    font-family: Inconsolata, monospace;
    color: #c4cbd2;
    font-size: 11px;
    line-height: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transaction-amount-number-currency {
    font-size: 13px;
    font-weight: 400;
}

.transaction-amount-number-number-format-small {
    font-size: 13px;
}