.subtitle {
  width: initial;
}

.wrapper {
  grid-template-columns: repeat(1, 76.4rem);
}

@media screen and (max-width: 1920px) {
  .wrapper {
    grid-template-columns: repeat(1, 76.4rem);
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, 35.5rem);
  }
}
