.overview {
  position: relative;
  margin-bottom: 15px;
}

.titleArea {
  margin-bottom: 29px;
  position: relative;
}

.titleName {
  padding-right: 10px;
  float: left;
  font-size: 19px;
}

.agenda {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-left: 1px solid var(--text-color-light);
  background-color: var(--background-back-color);
}

.text {
  position: relative;
  line-height: 18px;
  color: var(--stroke-color-hovered);
  font-size: 13px;
}

.idCt {
  color: var(--input-color-default);
}

.id {
  font-weight: 600;
}

.optionsArea {
  flex-direction: column;
  align-items: stretch;
  font-size: 19px;
  margin: 15px 0px;
}

.optionsGroup {
  font-size: 15px;
  text-transform: capitalize;
}

div.radioButtonsWrapper > * {
  box-sizing: border-box;
}

.bottom {
  padding-top: 15px;
  display: flex;
}

.bottomOverview {
  width: 100%;
  position: relative;
}

.bottomOptions {
  min-width: 240px;
}

.updatePreferencesButton {
  width: 134px;
}

.overviewTitleClose {
  width: 11px;
  height: 11px;
  float: right;
  background-image: var(--agenda-close-icon);
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
  max-width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.overviewTitleClose:hover {
  opacity: 0.7;
}

.agendaCard {
  width: 180px;
  height: 190px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  background-color: var(--background-back-color);
  background-image: var(--agenda-card-kebab);
  background-position: 93% 27px;
  background-size: 10px;
  background-repeat: no-repeat;
  color: var(--input-color-default);
  cursor: pointer;
}

.agendaCard:hover {
  background-image: var(--agenda-card-kebab-hover);
  background-size: 10px;
}

.disabled {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 190px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  float: left;
  background-color: var(--disabled-background-color);
  background-image: var(--agenda-card-kebab-disabled);
  background-size: 10px;
  background-position: 93% 27px;
  background-repeat: no-repeat;
  color: var(--disabled-color);
  cursor: default;
}

.indicatorPending {
  float: right;
  padding: 5px 8px 5px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 8px;
  text-align: right;
  text-transform: capitalize;
  border-color: var(--input-color);
  background-image: var(--agenda-indicator-pending);
  background-position: 6px 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  color: var(--input-color);
  margin-right: 20px;
  margin-bottom: 20px;
}

.tooltip {
  float: right;
}

.tooltipContent {
  width: 22rem;
}

.progressTooltipContent {
  width: 15rem;
}

.bottomCfg {
  margin: 10px 0;
  float: left;
  color: var(--agenda-card-bottom-cfg);
}

.bottomCfgLast {
  float: left;
  color: var(--input-color-default);
}

.bottomCfgDisabled {
  float: left;
  color: var(--disabled-color);
}

.bottomCfgLastDisabled {
  color: var(--disabled-color);
}

.bottomCfgLastBold {
  font-weight: 600;
}

.name {
  padding-right: 10px;
  float: left;
  font-size: 19px;
}

.topPreference {
  margin-top: 6px;
  float: left;
  width: 186px;
  color: var(--header-desc-lighter-color);
}

.topPreference span {
  color: var(--input-color-default);
}

.textHighlightSmall {
  padding-right: 2px;
  padding-left: 2px;
  border-radius: 3px;
  background-color: var(--blue-highlight-background);
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}

.finishedIndicator {
  margin-right: 20px;
  margin-bottom: 20px;
  border-color: var(--disabled-color);
  background-image: var(--agenda-indicator-finished);
  background-position: 6px 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  color: var(--disabled-color);
  display: inline-block;
  padding: 5px 8px 5px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 8px;
  text-align: right;
  text-transform: capitalize;
}

.inProgressIndicator {
  margin-right: 20px;
  margin-bottom: 20px;
  border-color: var(--color-blue-alt);
  background-image: var(--agenda-indicator-pending);
  background-position: 6px 50%;
  background-size: 10px;
  background-repeat: no-repeat;
  color: var(--color-blue-alt);
  display: inline-block;
  padding: 5px 8px 5px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 8px;
  text-align: right;
  text-transform: capitalize;
}
