.lnInvoice {
  margin-top: 1em;
  background-color: var(--background-back-color);
  padding: 1em 1em 1em 3em;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  min-height: 40px;
}

.statusExpired {
  border-left: 10px solid var(--vote-no-color);
}

.statusSettled {
  border-left: 10px solid var(--accent-color);
}

.statusOpen {
  border-left: 10px solid var(--blue-highlight-background);
}

.value {
  font-size: 32px;
}

.memo {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 18em;
}

.rhash {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 18em;
  color: var(--stroke-color-default);
}
