.barBottom {
  float: left;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.barEstimation {
  text-align: left;
  font-size: 9px;
}

.barEstimation .bold {
  opacity: 1;
  font-weight: 700;
}

@media (--sm-viewport) {
  .barEstimation {
    display: none;
  }
}
