.header {
  cursor: pointer;
  position: relative;
}
.arrow {
  content: "";
  background-image: var(--arrow-right-gray-icon);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  width: 10px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transition: transform 0.25s ease-in-out;
  transform: rotate(-90deg);
}
.header:hover .arrow {
  background-image: var(--arrow-right-blue-icon);
}
.header:hover .arrow .disabled {
  background-image: var(--arrow-right-gray-icon);
}
.container.active .arrow {
  transform: rotate(90deg);
}
