.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem 8rem;
}

.privacyCheckbox {
  line-height: 2rem;
  font-size: 1.6rem;
  color: var(--grey-7);
}

@media (--sm-viewport) {
  .box {
    grid-template-columns: 1fr;
  }
}
