.isRow {
  display: flex;
  flex-direction: row;
}
.useLegacyLabel {
  font-size: 16px;
}
.infoFields strong {
  color: var(--input-color);
}
.iconWrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.purchaseTicketArea {
  -webkit-user-select: text;
  width: 764px;
}
.subtitle {
  width: 775px;
}
.purchaseTicketArea .tabbedPageSubtitle {
  width: auto;
  justify-content: space-between;
}
.infoTitleIcon {
  align-self: flex-end;
  margin-right: 10px;
}
@media (--bg-viewport) {
  .purchaseTicketArea {
    width: 667px;
  }
  .subtitle {
    width: 675px;
  }
}
@media (--sm-viewport) {
  .purchaseTicketArea {
    width: 355px;
  }
  .subtitle {
    width: 365px;
  }
}
