.checkbox {
  max-width: 420px;
}

.connectOpt {
  flex-wrap: wrap;
  display: flex;
  background-color: var(--background-back-color);
  padding: 30px 40px;
}

.connectOptWrapper {
  padding-bottom: 5px;
}

.label {
  display: inline-block;
  margin-top: 8px;
  margin-right: 14px;
  width: 125px;
}

.accountSelection {
  display: grid;
  grid-row-gap: 10px;
  justify-items: left;
  margin-bottom: 5px;
}

.existingAccountWarning {
  color: var(--error-text-color);
  font-size: 11px;
  line-height: 15px;
  margin-top: 5px;
}

.fileInput {
  padding-right: 10px;
  margin-top: 8px;
}

.textToggle {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  height: 44px;
}

.textToggleChild {
  padding: 11px 30px 13px 30px;
}
