.checkbox {
  max-width: 420px;
}

.connectOpt {
  flex-wrap: wrap;
  display: flex;
  background-color: var(--background-back-color);
  padding: 30px 40px;
}

.connectOpt.fileInputOpt {
  padding: 30px 40px 20px 40px;
}

.connectOptWrapper {
  padding-bottom: 5px;
}

.label {
  display: inline-block;
  margin-top: 8px;
  margin-right: 14px;
  width: 125px;
}

.accountSelection {
  display: grid;
  grid-row-gap: 10px;
  justify-items: left;
  margin-bottom: 5px;
}

.existingAccountWarning {
  color: var(--orange);
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
}

.fileInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textToggle {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  height: 44px;
}

.textToggleChild {
  padding: 11px 30px 13px 30px;
}

.pathBrowseInput {
  margin-right: 11px;
}

.pathBrowseInput input,
.receiveSelectAccountSelectInput {
  width: 350px;
}

.receiveSelectAccountSelect {
  align-items: flex-end;
}
.receiveSelectAccountSelect a {
  margin-left: 10px;
}

@media (--sm-viewport) {
  .pathBrowseInput input,
  .receiveSelectAccountSelectInput {
    width: 288px;
  }
  .textToggle {
    font-size: 13px;
    height: 62px;
  }
  .connectOpt {
    padding: 20px;
  }
  .connectOpt.fileInputOpt {
    padding: 30px 20px 20px 20px;
  }
}
