.header {
  color: var(--modal-text);
  padding: 30px 0 30px 95px;
  width: 824px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  line-height: 30px;
  color: var(--grey-6);
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
}

.description {
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  color: var(--main-dark-blue);
}

@media screen and (max-width: 1179px) {
  .header {
    width: 696px;
  }

  .description {
    width: 484px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 338px;
  }

  .description {
    width: 334px;
  }
}
