.hamburger {
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: var(--menu-hamburger);
  background-color: transparent;
  cursor: pointer;
}

.hamburger:hover {
  opacity: 0.7;
}

.logo,
.reducedLogo {
  display: flex;
  position: relative;
  z-index: 3;
  padding: 20px 18px 20px 18px;
  border-bottom: 1px solid var(--white-border);
}

.reducedLogo {
  flex-direction: column;
}

.reducedArrow {
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: var(--menu-arrow);
  background-color: transparent;
  cursor: pointer;
  margin-left: 85px;
}

.reducedArrow:hover {
  opacity: 0.7;
}

.peersCount {
  border-radius: 50%;
  width: 10px;
  height: 12px;
  margin-top: 4px;

  background: #fff;
  border: 1px solid var(--white-border);
  color: var(--sidebar-menu-link);;
  text-align: center;
  padding-bottom: 4px;

  font-size: 7pt;
}

@media screen and (max-width: 768px) {
  .logo {
    flex-direction: row-reverse;
  }

  .reducedArrow {
    margin-left: 0;
    margin-right: auto;
  }
}
