.hamburger {
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: var(--menu-hamburger);
  background-color: transparent;
  cursor: pointer;
}

.hamburger:hover {
  opacity: 0.7;
}

.logo,
.reducedLogo {
  display: flex;
  position: relative;
  z-index: 3;
  padding: 20px 18px 20px 18px;
  border-bottom: 1px solid var(--white-border);
}

.reducedLogo {
  flex-direction: column;
}

.mixerOn {
  margin: 5px;
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: var(--menu-mixer-icon);
  background-size: 16px 16px;
  cursor: pointer;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.reducedArrow {
  border: none;
  outline: none;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: var(--menu-arrow);
  background-color: transparent;
  cursor: pointer;
  margin-left: 85px;
}

.reducedArrow:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .logo {
    flex-direction: row-reverse;
  }

  .reducedArrow {
    margin-left: 0;
    margin-right: auto;
  }
}
