.trezorPinModal,
.trezorPassphraseModal,
.trezorWordModal {
  /* width: 550px; */
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.trezorPinModal > p,
.trezorWordModal > p {
  margin-bottom: 10px
}

.pinPadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trezorModalsButtons {
  display: flex;
  flex-direction: row-reverse;
}

.trezorPinModal .pinPad {
  display: grid;
  grid-template-columns: 2em 2em 2em;
  text-align: center;
  font-size: 150%;
}

.trezorPinModal .pinPad .pinPadButton {
  padding: 0.5em 0em;
  border: 1px solid transparent;
  cursor: pointer;
}

.trezorPinModal .pinPad .pinPadButton:hover {
  border: 1px solid #6397ff;
}

.trezorPinModal.getStarted,
.trezorWordModal.getStarted,
.trezorPassphraseModal.getStarted {
  padding: 2em;
}

.trezorLabel {
  font-family: var(--font-family-regular);
}

.trezorWordSelect {
  min-height: 10em;
}

.passwordField {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .trezorPinModal,
  .trezorPassphraseModal,
  .trezorWordModal {
    width: 500px;
  }
}

@media screen and (max-width: 375px) {
  .trezorPinModal,
  .trezorPassphraseModal,
  .trezorWordModal {
    width: 250px;
  }
}
