.overview {
  position: relative;
  margin-bottom: 15px;
}

.titleArea {
  margin-bottom: 29px;
  position: relative;
}

.titleName {
  padding-right: 10px;
  float: left;
  font-size: 19px;
}

.agenda {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-left: 1px solid var(--text-color-light);
  background-color: var(--background-back-color);
}

.text {
  position: relative;
  line-height: 18px;
  color: var(--stroke-color-hovered);
  font-size: 13px;
}

.idCt {
  color: var(--input-color-default);
}

.id {
  font-weight: 600;
}

.optionsArea {
  flex-direction: column;
  align-items: stretch;
  font-size: 19px;
  margin: 15px 0px;
}

.optionsGroup {
  font-size: 15px;
  text-transform: capitalize;
}

div.radioButtonsWrapper > * {
  box-sizing: border-box;
}

.disabled {
  color: var(--btn-disabled-text-color);
}

.bottom {
  padding-top: 15px;
  display: flex;
}

.bottomOverview {
  width: 100%;
  position: relative;
}

.bottomOptions {
  min-width: 240px;
}

.updatePreferencesButton {
  width: 134px;
}

.overviewTitleClose {
  position: absolute;
  top: 7px;
  right: 0px;
  width: 11px;
  height: 11px;
  float: right;
  background-image: var(--agenda-close-icon);
  background-position: 50% 50%;
  background-size: 11px;
  background-repeat: no-repeat;
  max-width: 100%;
  background-color: transparent;
  cursor: pointer;
}

.overviewTitleClose:hover {
  opacity: 0.7;
}
