.section {
  margin-bottom: 30px;
}

@media screen and (max-width: 1180px) {
  .section {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}
