.networkInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -5px 35px -5px;
}

.networkTile {
  padding: 30px 40px;
  background-color: var(--background-back-color);
  max-width: 400px;
  flex: 1 1 0;
  margin: 0 5px 10px 5px;
  border-bottom: 10px solid var(--color-primary-dark);
}

.networkTileNumber {
  font-size: 32px;
}
