.politeiaLoading {
  background-size: 100%;
  background-image: var(--politeia-loading-icon);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 256px;
  height: 256px;
}

.noProposals {
  margin-top: 20px;
  margin-left: 38px;
  font-size: 120%;
  padding: 1em;
}

.lastLogLines {
  font-size: 9px;
}

.loaderBarEstimation {
  text-align: left;
  font-size: 9px;
}

.loaderBarEstimation .bold {
  opacity: 1;
  font-weight: 700;
}

/* rescanProgress */

.rescanProgressArea {
  color: var(--disabled-color);
  font-size: 13px;
  display: flex;
  align-items: center;
}

.rescanProgressIndicator {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rescanProgressIndicator .linear-progress.small {
  border-radius: 0px;
  background-color: var(--input-color-hover);
}

.rescanProgressIndicator .linear-progress.small .linear-progress-bar {
  background: var(--accent-color);
  border-radius: 0px;
}

.rescanCancelButtonArea {
  margin: 0 -12px 0 auto;
}

.rescanProgressFraction {
  color: var(--input-color-default);
  margin: 0px 4px 0px 4px;
}

.rescanProgressPercent {
  color: var(--input-color-default);
}

@media screen and (max-width: 768px) {
  .loaderBarEstimation {
    display: none;
  }
}
