@media (--md-viewport) {
  .wide {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .option {
    width: 209px;
    min-width: 209px;
  }

  .icon {
    background-size: 114px;
    width: 114px;
    height: 114px;
  }

  .textContainer {
    margin: 0 20px;
  }
}

@media (--sm-viewport) {
  .wide {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0;
  }

  .icon {
    background-size: 40px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
  }

  .option {
    min-width: 355px;
  }

  .textContainer {
    margin: 20px;
  }
}
