.container {
  width: 764px;
}

.cardWrapper {
  display: flex;
}

.backButton {
  width: 40px;
  background-color: var(--governance-nav-button-bg);
  cursor: pointer;
}

.backButton:hover {
  background-color: var(--grey-5);
}

.backArrow {
  height: 10px;
  width: 10px;
  background-image: var(--menu-arrow-up);
  background-position: 50% 5px;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.backButton:hover .backArrow {
  background-image: var(--arrow-left-white);
  transform: rotate(0);
  background-position: 50% 0;
}

.props {
  background-color: var(--background-back-color);
  padding: 30px 40px;
  margin: 5px 0;
  color: var(--main-dark-blue);
}

.detailsHeader {
  padding: 16px 25px;
}

.detailsGrid {
  grid-template-columns: 1fr 2fr;
}

.buttonContrainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.closeButton {
  background-color: var(--ln-close-channel-button-bg) !important;
  color: var(--ln-close-channel-button-text) !important;
  border-color: var(--ln-close-channel-button-text) !important;
}

.closeButton:hover {
  opacity: 0.85;
}

@media (--sm-viewport) {
  .container {
    width: 355px;
  }
}
