.confirmToolbar {
  margin-top: 2em;
  bottom: 20px;
  right: 20px;
}
.confirmToolbar > .confirmConfirmButton {
  float: right;
}
.confirmToolbar > .confirmCloseButton {
  float: right;
}
.confirmHeader {
  margin-bottom: 1em;
}
.confirmHeaderTitle {
  font-weight: 400;
  font-size: 27px;
  text-transform: capitalize;
}
.confirmHeaderTitle .mono {
  text-transform: lowercase;
}
.infoConfirm {
  width: 900px;
  box-shadow: 0 15px 34px 0 rgba(12, 30, 62, 0.34);
  border-radius: 5px;
  overflow-y: auto;
  padding: 29px 20px 29px 20px;
  color: var(--input-color-default);
  line-height: normal;
  text-align: left;
}
