.isRow {
  display: flex;
  flex-direction: row;
}
.isColumn {
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: 700;
}
.select {
  width: 300px;
}
.item {
  padding: 10px;
}
.item.error {
  color: red;
}
.area {
  margin-left: auto;
}
.row {
  margin-bottom: 10px;
}
.pageWrapper {
  padding: 20px 40px;
  background-color: var(--background-back-color);
  border-radius: 10px;
  margin-bottom: 50px;
}
