.isRow {
  display: flex;
  flex-direction: row;
}
.isColumn {
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: 700;
}
.accountsSelect {
  width: 300px;
}
.privacyItem {
  padding: 10px;
}
.privacyItem.error {
  color: red;
}
.buttonArea {
  margin-left: auto;
}
.privacyRow {
  margin-bottom: 10px;
}
.privacyPageWrapper {
  padding: 20px 40px;
  background-color: var(--background-back-color);
  border-radius: 10px;
  margin-bottom: 50px;
}
