.loaderBar {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.launchError {
  margin: 0 300px 20px 0;
  color: var(--error-text-color);
  overflow-wrap: break-word;
}

.daemonWarning {
  color: var(--error-text-color);
  padding-bottom: 0.1rem;
  white-space: pre-line;
}

@media (--sm-viewport) {
  .loaderBar {
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .launchError {
    margin: 0 0 20px 0;
    width: 315px;
  }
}
