.container {
  width: 764px;
}

.lnAddInvoice {
  background-color: var(--background-back-color);
  padding: 30px 40px;
}

.lnAddInvoice .invoiceForm {
  display: flex;
  justify-content: space-between;
}

.amountInput {
  max-width: 182px;
}
.amountInput input {
  width: 182px;
}

.descInput {
  margin: 0 !important;
}

.descInput input {
  width: 402px;
}

.lastPayRequest {
  word-break: break-all;
  grid-column: 1 / 3;
  padding: 30px 40px;
  color: var(--stroke-color-hovered);
}

.clipboardBox {
  padding-top: 2em;
}

.memo {
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0 30px 0;
}

@media screen and (max-width: 1180px) {
  .container {
    width: 667px;
  }
}

@media screen and (max-width: 768px) {
  .lnAddInvoice {
    padding: 30px 20px;
  }

  .descInput input {
    width: 302px;
  }

  .invoiceForm {
    flex-direction: column;
  }

  .container {
    width: 355px;
  }
}
