.isRow {
  display: flex;
  flex-direction: row;
}
.isColumn {
  display: flex;
  flex-direction: column;
}

.legacyIcon {
  margin-left: auto;
  cursor: pointer;
}

.useLegacyTooltip {
  font-size: 12px;
  width: 20rem;
}

.useLegacyLabel {
  font-size: 16px;
  line-height: 20px;
  color: var(--purchase-label);
}

.infoFields strong {
  color: var(--input-color);
}

.privacyForm {
  background-color: var(--background-back-color);
  border-radius: 10px;
}

.purchaseForm {
  background-color: var(--background-back-color);
  padding: 30px 40px;
}

.privacyArea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 16px 19px;
  background-color: var(--background-back-color);
}

.title {
  font-size: 15px;
  margin-bottom: 10px;
}

.rememberVspCheckBox {
  grid-column: 2;
  justify-self: right;
  font-size: 16px;
  line-height: 20px;
  color: var(--purchase-label);
}

.rowLabel {
  font-size: 13px;
  color: var(--purchase-label);
  align-self: flex-end;
  width: 100%;
}

.inputAddress {
  align-self: flex-start;
  padding-right: 40px;
  border-right: 1px solid var(--purchase-ticket-border);
}
.inputAmount {
  flex-wrap: wrap;
  align-self: flex-start;
}
.numTicketsToBuy {
  padding-left: 40px;
}
.numTicketsToBuy label {
  color: var(--purchase-label);
  font-size: 13px;
}
.inputSelectContainer {
  display: flex;
  align-self: center;
  margin-bottom: 25px;
}
.accountSelectInput {
  width: 421px;
}
.inputValidMessageArea {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 10px;
  margin: 0;
  padding: 35px 0 0 40px;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
  color: var(--purchase-label);
}
.vspFee {
  color: var(--main-dark-blue);
}
.haveVspFee {
  color: var(--error-red);
}
.validMsgBalanceUnit,
.validMsgBalance {
  color: var(--input-color-default);
}
.validMsgBalanceSecondary {
  color: var(--account-text);
}
.buttonsArea {
  margin-top: 20px;
  text-align: right;
  display: flex;
  width: 764px;
  justify-content: flex-end;
}
.revokeButton {
  margin-right: 10px;
}
.vspContainer {
  display: flex;
  font-size: 16px;
}
.error {
  color: var(--error-text-color);
  font-size: 13px;
}
.checkboxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}

.disabledTooltip {
  width: 17rem;
  text-align: center;
  color: var(--input-color-default);
}
.passphraseModal {
  width: 500px;
}

/* legacy */

.info {
  margin-bottom: 10px;
  background-color: var(--transfer-details-bg);
}
.actionButtons {
  float: right;
  margin: 15px 19px 0 0;
}
.warningArea {
  padding-left: 50px;
  background-image: var(--info-warning-icon);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 5px 50%;
  border: 1px solid var(--error-text-color);
  border-radius: 10px;
  margin-bottom: 10px;
}
.backupButtonsRowArea {
  justify-content: flex-end;
}
.stakepoolContentSend {
  margin-top: 1em;
}
.vspWarningBackupRedeemButton {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1180px) {
  .buttonsArea {
    width: 667px;
  }
  .accountSelectInput {
    width: 326px;
  }
}

@media screen and (max-width: 768px) {
  .purchaseForm {
    padding: 30px 20px;
    padding-bottom: 0;
    flex-direction: column !important;
  }

  .purchaseForm.isRow {
    flex-direction: column;
  }
  .rowLabel {
    font-size: 13px;
  }
  .inputAddress {
    border: none;
  }
  .numTicketsToBuy {
    padding-left: 0;
  }
  .inputAmount {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .inputAmount .rowLabel {
    padding-left: 0;
  }
  .inputSelectContainer {
    display: flex;
  }
  .buttonsArea {
    width: 355px;
    margin-bottom: 20px;
  }
  .accountSelectInput {
    width: 310px;
  }
}
