.tabs {
  overflow: visible !important;
}
.tabs.onBottom.expanded {
  overflow: visible !important;
}
.tab {
  height: 56px;
  min-height: 56px !important;
  margin-top: 0 !important;
  border-width: 5px !important;
  padding-left: 0 !important;
  font-size: 15px !important;
}
.tab span {
  height: inherit;
}
.tab.disabled {
  cursor: not-allowed;
}
.menuContent {
  display: flex;
  flex-direction: row;
}
.tabs.onBottom.expanded .tab span {
  padding-left: 0 !important;
}
.icon {
  background-position: 50%;
  background-size: 22px;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
}
.tab.disabled .icon {
  opacity: 0.2;
}
.icon.ticketsIcon {
  background-image: var(--menu-tickets);
}
.icon.transactionsIcon {
  background-image: var(--menu-transactions);
}
.icon.trezorIcon {
  background-image: var(--menu-trezor);
}
.icon.accountsIcon {
  background-image: var(--menu-accounts);
}
.icon.securitycntrIcon {
  background-image: var(--menu-privacy);
}
.icon.overviewIcon {
  background-image: var(--menu-overview);
}
.icon.governanceIcon {
  background-image: var(--menu-governance);
}
.icon.lnIcon {
  background-image: var(--menu-ln);
}
.icon.dexIcon {
  background-image: var(--menu-dex);
}
.tab.notificationIcon::before {
  content: "";
  background-repeat: no-repeat;
  background-image: var(--bell-notification-icon);
  background-position: center;
  background-size: 10px;
  width: 14px;
  height: 14px;
  margin-left: 26px;
  margin-top: -10px;
  position: absolute;
  display: inline-block;
  z-index: 10;
  border-radius: 50%;
  background-color: var(--stroke-color-focused);
}
.menuLinkLabel {
  width: 55px;
  height: 56px;
  line-height: 56px;
}
.tabs.expanded .menuLinkLabel {
  width: auto;
  padding-right: 10px;
}
.tab.disabled .tooltip {
  width: 18rem;
  white-space: break-spaces;
  text-align: center;
}
.tab.disabled .menuLinkLabel {
  opacity: 0.3;
  color: var(--text-color) !important;
}

@media screen and (max-width: 768px) {
  .tabs {
    margin: 0 auto;
  }
  .tab {
    height: 64px;
    width: 64px;
    margin-right: 0 !important;
    padding: 0 !important;
  }
  .icon {
    background-position: 50% 60%;
    width: 64px;
  }
  .tab.notificationIcon::before {
    margin-left: 33px;
    margin-top: -14px;
  }
  .tabs.expanded {
    width: 270px;
    height: 148px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tabs.expanded .tab {
    padding-left: 0 !important;
  }
  .menuLinkLabel {
    width: 64px;
    height: 64px;
  }
}
