.sendIconWrapper {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: 50% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
}

.sendIconWrapper.add {
  width: 20px;
  height: 20px;
  background-image: var(--add-icon);
  background-size: 6px;
  background-color: var(--account-pubkey-text);
  box-shadow: 0px 3px 8px var(--icons-shadow);
  border-radius: 5px;
}

.sendIconWrapper.add.disabled {
  background-image: var(--add-icon);
  background-color: var(--disabled-background-color-lighter);
  cursor: not-allowed;
}

.sendIconWrapper.delete {
  width: 20px;
  height: 20px;
  background-image: var(--delete-icon);
  background-size: 10px;
}

.sendIconWrapper.delete:hover {
  opacity: 0.7;
}

.sendIconWrapper.walletIcon {
  background-image: var(--send-all-default);
}

.sendIconWrapper.walletIcon:hover {
  background-image: var(--send-all-hover);
}

.sendIconWrapper.walletIcon.disabled {
  background-color: var(--background-back-color);
  background-image: var(--send-all-disabled);
  cursor: auto;
}

.sendIconWrapper.cancelIcon {
  background-image: var(--indicator-invalid-icon);
}

.sendIconWrapper.cancelIcon:hover {
  opacity: 0.85;
}

.sendIconWrapper.selfAccountIcon {
  background-image: var(--send-self-default);
  margin-top: 3px;
}

.sendIconWrapper.selfAccountIcon:hover {
  background-image: var(--send-self-hover);
}

.sendInputWrapper .inputErrorsArea {
  margin-bottom: -14px;
}

.sendAll {
  border-bottom: 1px var(--stroke-color-default) solid;
  text-align: right;
  background-color: var(--disabled-background-color);
}
