.securityCenterMessageResult {
    padding: 2.5em 1em;
    border-radius: 5px;
    font-family: var(--font-family-regular);
    font-size: 23px;
    font-weight: 700;
    display: flex;
    margin-top: 1em;
    text-align: center;
    border: 1px solid;
}

.sign {
    composes: securityCenterMessageResult;
    border-color: var(--input-color);
}

.verifyInvalid {
    composes: securityCenterMessageResult;
    border-color: var(--error-text-color);
    color: var(--error-text-color);
}

.verifyValid {
    composes: securityCenterMessageResult;
    border-color: var(--error-text-color);
    color: var(--error-text-color);
}

.messageSignature {
    word-break: break-all;
}

.messageContentCopyToClipboardIcon {
    width: 20px;
    margin-left: 1em;
}                                                                                                                                                      