.mixerSettings {
  background-image: none;
  padding: 30px;
  min-width: 620px;
  overflow-x: hidden;
  position: relative;
}
.title {
  font-size: 20px;
}
.closeButtonTop {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  background-image: var(--x-grey);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.closeButtonTop:hover {
  opacity: 0.7;
  float: right;
}
.closeButton {
  font-size: 13px;
  line-height: 17px;
  padding: 6px 20px;
  text-transform: none;
  width: 80px;
  height: 40px;
  align-self: flex-end;
}

@media screen and (max-width: 1179px) {
  .mixerSettings {
    width: 594px !important;
  }
}
@media screen and (max-width: 768px) {
  .mixerSettings {
    width: 305px;
    min-width: unset;
  }
}
