.noTransactionsIndicator,
.noTicketsIndicator,
.noMoreTicketsIndicator,
.noStatsIndicator {
  text-align: center;
  color: var(--title-text-and-button-background);
  height: 150px;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center 30px;
}
.noStatsIndicator {
  background-image: var(--stats-disabled-icon);
}
.noTransactionsIndicator {
  color: var(--title-text-and-button-background);
}
.noTicketsIndicator {
  background-image: var(--no-tickets-icon);
}
.noMoreTicketsIndicator {
  height: 35px;
  background-color: var(--no-more-tickets-indicator-bg);
  line-height: 35px;
}
.noTransactionsIndicatorImg {
  background-image: var(--no-tx-icon);
  height: 100px;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center 30px;
}
.noProposals {
  margin-left: 78px;
  font-size: 120%;
  padding: 20px 1em 1em 1em;
}
.noMoreTransactionsIndicator {
  padding: 17px 18px 18px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 2em;
  background-color: var(--background-back-color);
}

@media (--bg-viewport) {
  .noProposals {
    margin-left: 40px;
  }
}
@media (--sm-viewport) {
  .noMoreTicketsIndicator {
    width: 315px;
  }
  .noProposals {
    margin-left: 0;
  }
}
